<% content_for :upload_form do %>
<h2>Upload ONLY .csv Commercial Invoice Files</h2>
<% end %>

<%= render :partial=> "custom_file_upload", :locals => {title: "Ascena CA Invoice Files", custom_feature: "ascena_ca_invoices"} %>
