<% content_for :upload_form do %>
<h2>Upload ONLY Shipment Activity reports from ECellerate</h2>
<% end %>

<%= render :partial=> "custom_file_upload", :locals => {title: "ECellerate Shipment Activity Report Upload", custom_feature: "ecellerate_shipment_activity"} %>
