<% content_for :upload_form do %>
<h2>Upload ONLY .xls 7501 files</h2>
<% end %>

<%= render :partial=> "custom_file_upload", :locals => {title: "Eddie Bauer 7501 Files", custom_feature: "eddie_bauer_7501"} %>