<% content_for :upload_form do %>
<h2>Upload ONLY Pipe Delimited Invoice Files from Eddie Bauer</h2>
<% end %>

<%= render :partial=> "custom_file_upload", :locals => {title: "Eddie Bauer Fenix Commercial Invoice Upload", custom_feature: "eddie_fenix_ci_load"} %>