<% content_for :upload_form do %>
<h2>Upload ONLY .xls, .xlsx Purchase Order Files</h2>
<% end %>

<%= render :partial=> "custom_file_upload", :locals => {title: "H&M Purchase Order Files", custom_feature: "hm_po_line_parser"} %>
