<% content_for :upload_form do %>
<h2>Upload ONLY .csv, .xls or .xlsx H&M Receipt Files</h2>
<% end %>

<%= render :partial=> "custom_file_upload", :locals => {title: "H&M Receipt File Upload", custom_feature: "hm_receipt_file"} %>