<% content_for :upload_form do %>
<h2>Upload ONLY Lands End Returns Files in CSV format.</h2>
<% end %>

<%= render :partial=> "custom_file_upload", :locals => {title: "Lands' End Returns File Upload", custom_feature: "le_returns"} %>