<% content_for :upload_form do %>
<h2>Upload ONLY OOCL Shipment Reports for Lenox</h2>
<% end %>

<%= render :partial=> "custom_file_upload", :locals => {title: "Lenox OOCL Shipment Report Upload", custom_feature: "lenox_shipment_status"} %>