<% content_for :upload_form do %>
<h2>Upload ONLY .xls or .xlsx Lumber-Vandegrift Allport Monthly Billing Reports</h2>
<% end %>

<%= render :partial=> "custom_file_upload", :locals => {title: "Allport Billing File Upload", custom_feature: "lumber_allport_billing"} %>