<% content_for :head_tags do %>
<style type="text/css">
  #upload_format thead td {padding-left: 3px; padding-right: 3px; font-size: 70%; border: 1px solid black;}
  #upload_format tbody td {padding-top: 10px;}
  #upload_format {margin-top: 20px; margin-bottom: 25px;}
</style>
<% end %>

<% content_for :upload_form do %>
<h2>Upload ONLY Patent Statement Excel or CSV files in the format below.</h2>
<h4>The following data columns should be present in your file in the <b>same order</b> as listed below.</h4>
<table id="upload_format">
  <thead>
    <tr>
      <td>Vendor System Code (SAP Vendor Number)</td>
      <td>Product Unique ID (SAP Article Number)</td>
      <td>Patent Statement Code</td>
      <td>Effective Date (YYYY-MM-DD)</td>
      <td title="Put a 'Y' in this column to remove the Patent Statement Code from the Vendor / Product Assignment.">Delete</td>
    </tr>
  </thead>
</table>
<% end %>

<%= render :partial=> "custom_file_upload", :locals => {title: "Patent Statement Assignment File Upload", custom_feature: "lumber_patent"} %>