<%content_for :action_bar do%>
  <button class='form_to' form_id='frm_sub'>Run</button>
<%end%>
<%=form_tag('/custom_features/lumber_order_close',id: 'frm_sub') do -%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Paste Order Numbers To <em>Keep Open</em>
      </h1>
      <br>
      <div class="container">
        <div class="row" style="line-height: 2.5">
          <div class="col-md-2"><label class="control-label" for="effective_date">Effective Date:</label></div>
          <div class="col-md-3"><%=text_field_tag :effective_date,"", :class=>'form-control isdate'%></div>
        </div>
      <br>
      </div>
      <div>
        <em>All other orders with order dates BEFORE the Effective date will be closed.</em>
      </div>
      <textarea name='orders' rows='20' class='form-control'></textarea>
    </div>
  </div>
</div>
<%end%>
