<% content_for :upload_form do %>
<h2>Upload ONLY Excel Commercial Invoice Files</h2>
<% end %>

<%= render :partial=> "custom_file_upload", :locals => {title: "Polo CA Invoice Files", custom_feature: "polo_ca_invoices"} %>
