<% content_for :upload_form do %>
<h2>Upload</h2>
<% end %>

<%= render :partial=> "custom_file_upload", :locals => {title: "SAP Bill of Materials Files", custom_feature: "polo_sap_bom", allow_reprocess: true, show_error: true} %>
