<% content_for :upload_form do %>
<h2>Upload ONLY .xls or .xlsx Commercial Invoice Line Files</h2>
<% end %>

<%= render :partial=> "custom_file_upload", :locals => {title: "PVH Canada Workflow for Fenix", custom_feature: "pvh_ca_workflow"} %>