<% content_for :upload_form do %>
<h2>Upload PVH Workflow Excel Files</h2>
<% end %>

<%= render :partial=> "custom_file_upload", :locals => {title: "PVH Workflow Upload", custom_feature: "pvh_workflow"} %>