<% content_for :upload_form do %>
<h2>Upload ONLY B2 XLSX Files.</h2>
<% end %>

<%= render :partial=> "custom_file_upload", :locals => {title: "Siemens B2 XML Generator", custom_feature: "siemens_b2_xml_generator"} %>