<% content_for :upload_form do %>
<h2>Upload ONLY .csv, .xls or .xlsx Missing Classification Files</h2>
<% end %>

<%= render :partial=> "custom_file_upload", :locals => {title: "Missing Classifications", custom_feature: "ua_missing_classifications"} %>