<%-content_for :javascript do -%>
$(function() {
  $('#btn_submit').click(function() {
    $('#myfrm').submit();
  });
});
<%-end-%>
<%-content_for :action_bar do -%>
  <button id='btn_submit'>Send</button>
<%-end-%>
<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h1>UA Winshuttle HTS Report Generator</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <%=form_tag '/custom_features/ua_winshuttle', method: :post, id: 'myfrm', class: "form-horizontal", role: "form" do %>
        <div class="form-group">
          <label for='email' class="col-md-1 control-label">Send To:</label>
          <div class="col-md-4">
            <input type='email' name='email' value='<%=current_user.email%>' class="form-control"/>
          </div>
        <div>
      <%end%>
    </div>
  </div>
</div>
