server {
    server_name  localhost;
    root /home/brian/OpenChain/public;
    passenger_enabled on;

    error_page 413 /error/413.html;
    location = /413.html {  
      root /home/brian/OpenChain/public/error;
    }
}
