<chain-loading-wrapper loading-flag='{{loadingFlag}}'>
  <div class='container'>
    <div class="row">
      <div class="col-md-12">
        <h1>315 Configurations</h1>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Customer</th>
          <th>Enabled?</th>
          <th>Events</th>
          <th>Output Format</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="config in milestoneConfigs">
          <td><button type="button" class="btn btn-default" ng-click="showConfig(config.milestone_notification_config)">Edit</button></td>
          <td>{{config.milestone_notification_config.customer_number}}</td>
          <td>{{config.milestone_notification_config.enabled ? "Yes" : "No"}}</td>
          <td>
              <ul ng-show="config.milestone_notification_config.setup_json && config.milestone_notification_config.setup_json.length > 0">
                <li ng-repeat="event in config.milestone_notification_config.setup_json">
                  {{event.label}} - ({{event.event_code}})
                </li>
              </ul>
          </td>
          <td>{{outputStyle(config.milestone_notification_config.output_style)}}</td>
        </tr>
      </tbody>
    </table>
</chain-loading-wrapper>
<div chain-action-bar>
  <button class="btn btn-default btn_link" link_to="<%=Rails.application.routes.url_helpers.settings_path%>">Back</button> 
  <button class='btn btn-default' ng-click='newConfig()'>New</button>
</div>