<table style='width:100%;'>
  <tr>
    <td style='width: 50%; vertical-align: top;'>
      <h2>Needs Classification</h2>
      <% if @products_without_hts.length == 0 %>
      No products missing HTS
      <% else %> 
      <table class='detail_table'>
        <thead>
          <tr><th>Name</th></tr>
        </thead>
        <tbody>
      <% @products_without_hts.each do |p| %>
      <tr class='hover'><td><%= link_to p.name, product_path(p)%></td></tr>
      <% end %>
        </tbody>
      </table>
      <% end %>
    </td>
    <td style=' vertical-align: top;'>
      <h2>Late Orders</h2>
    </td>
  </tr>
</table>
