<div ng-if='product.variants || product.permissions.can_manage_variants' class="card">
    <div class="card-header">Variants</div>
    <div class='card-body variant-section' ng-repeat='v in product.variants track by v.id'>
      <div>
        <button ng-click='showVariant(v)' class='btn btn-link btn-sm'>{{v.var_identifier}}</button>
        <button class='btn btn-sm float-right' ng-click='v.showDetail = !v.showDetail'><i class='fa' ng-class='{"fa-eye":!v.showDetail,"fa-eye-slash":v.showDetail}'></i></button>
      </div>
      <div ng-show='v.showDetail'>
        <div ng-repeat='fld in dictionary.fieldsByRecordType(dictionary.recordTypes.Variant) track by fld.uid'>
          <div class="form-group view-form-group" ng-if="v[fld.uid] && fld.uid!='var_identifier'">
            <label class="control-label" for="{{fld.uid}}">{{fld.label}}</label>
            <p class="form-control-static" id='{{fld.uid}}'>
              <chain-field-view model='v' field='fld'></chain-field-view>
            </p>
          </div>
        </div>
      </div>
    </div>
    </ul>
</div>
