<style type="text/css">
  .classification-selector-box {
    width: 4em;
    height: 4em;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
  }
  .classification-edit-flag {
    width: 100%;
  }
  .classification-selector-box .classification-passed {
    color: #333;
    font-size: 150%;
  }
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <div ng-repeat="ctry in importCountries track by ctry.iso_code">
        <div class='classification-selector-box' ng-click='activateClassification(ctry,product)' style="background-image:url('/images/flags/{{ctry.iso_code.toLowerCase()}}.png')" title='{{ctry.name}}'>
          <i class="fa fa-check classification-passed" ng-show='productSvc.classificationByISO(ctry.iso_code,product).tariff_records[0].hts_hts_1.length>1'></i>
          <span ng-show='ctry.iso_code==activeClassification.class_cntry_iso' class='pull-right'><i class="fa fa-asterisk"></i></span>
        </div>
      </div>
    </div>
    <div class="col-xs-10">
      <div class="container-fluid" ng-show='activeClassification'>
        <div class="row">
          <div class="col-xs-12">
            <h3>{{activeClassification.class_cntry_name}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Attributes</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group" ng-repeat='fld in dictionary.fieldsByRecordType(dictionary.recordTypes.Classification) | chainSkipReadOnlyFields track by fld.uid'>
                    <label class="control-label">{{fld.label}}</label>
                    <input class='form-control' type='text' ng-model='activeClassification[fld.uid]' />
                  </div>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default" ng-repeat="tr in activeClassification.tariff_records track by tr.hts_line_number">
              <div class="panel-heading">
                <h3 class='panel-title'>Component {{tr.hts_line_number}}</h3>
              </div>
              <div class="panel-body component-body">
                <div class="form-group" ng-repeat='fld in dictionary | productComponentEditFields:activeClassification.class_cntry_iso | chainSkipReadOnlyFields track by fld.uid'>
                  <label class="control-label">{{fld.label}}</label>
                  <input class='form-control' type='text' ng-model='tr[fld.uid]' />
                </div>
              </div>
            </div>
            <button class='btn btn-block btn-default text-center' ng-click='addTariff(activeClassification)' title='Add Component'><i class='fa fa-plus'></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>