.idea/
Week5/Week3_Project/node_modules
Week3/sockets/node_modules
Week6/MigrateToMongoose/node_modules
Week6/Week5ProjectExamples/node_modules
Week6/JavaScriptHtmlLoop/node_modules
Week6/FullStackWalktrough/frontend/node_modules
Week6/Week5ProjectSolution/node_modules
Week7/MigrateToExpress/node_modules
Week7/MigrateToExpress/public/node_modules
Week7/SolutionWeek6/front-end/node_modules
Week7/SolutionWeek6/back-end/node_modules
Week7/DeleteFullStackChange/node_modules
Week7/DeleteFullStackChange/public/node_modules
Week8/Week7ProjectSolution/front-end/node_modules
Week8/Week7ProjectSolution/back-end/node_modules