log/*
tmp/*
db/*.sqlite3
db/structure.sql
db/development_structure.sql
config/database.yml
config/dj_count.txt
config/dj_queue.txt
config/sql_proxy.yml
spec/support/tmp/*
spec/tmp/*
.project
.bundle/*
2.2
*.swp
coverage/*
coverage.data
.rvmrc*
.ruby-gemset*
.ruby-version*
.sass-cache/
public/assets/*
vendor/
config/google_auth.json
config/api_client.yml
config/freshservice_client.yml
config/pepsi.pem
config/google_oauth2_api_login.json
config/slack_client.yml
config/siemens.asc
config/secrets.yml
config/fenix_sql_proxy.yml
config/vfi-canada.asc
config/support_request.yml
config/fenix_b3_forwarding.yml
config/kewill_imaging.yml
config/kewill_imaging_sql_proxy.yml
config/fenix_google_drive_sqs_copy.yml
config/vfitrack_settings.yml
config/intacct.yml
.idea
dump.rdb
.byebug_history
