log/*
tmp/*
db/*.sqlite3
db/structure.sql
db/development_structure.sql
spec/support/tmp/*
spec/tmp/*
.project
.bundle/*
coverage/*
coverage.data
.sass-cache/
public/assets/*
vendor/
config/*.txt
config/*.asc
config/*.pem
config/*.json
config/*.yml
config/*.xml
!config/newrelic.yml
!config/brillo.yml
.byebug_history
.coverity
.env*
.idea/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
