# To install the script for systemd purposes, run the following command:
# sudo cp chainio.service /etc/systemd/system/chainio.service
# sudo chmod +x chainio.sh
#
# Enable for auto starting on boot
# sudo systemctl enable chainio
#
# https://wiki.ubuntu.com/SystemdForUpstartUsers
# https://www.freedesktop.org/software/systemd/man/systemd.service.html
[Unit]
Description=Manages the startup of ChainIO server processes
After=network-online.target

[Service]
User=root
WorkingDirectory=/home/ubuntu/chainio/wwwvfitracknet
ExecStart=/home/ubuntu/chainio/wwwvfitracknet/misc_files/systemd/chainio.sh

# Closest equivelant to: start on runlevel [2345]
[Install]
WantedBy=multi-user.target
