# To install the script for systemd purposes, run the following command:
# sudo cp chainio-web.service /etc/systemd/system/chainio-web.service
#
# Disable NGINX from starting automatically
# sudo systemctl disable nginx
#
# https://wiki.ubuntu.com/SystemdForUpstartUsers
# https://www.nginx.com/resources/wiki/start/topics/examples/systemd/
[Unit]
Description=Start ChainIO Web Server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/nginx.pid
ExecStartPre=/usr/sbin/nginx -t
ExecStart=/usr/sbin/nginx
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
Restart=on-failure
