# To install the script for systemd purposes, run the following command:
# sudo cp chainio-web.service /etc/systemd/system/chainio-web.service
#
# https://wiki.ubuntu.com/SystemdForUpstartUsers
# https://www.nginx.com/resources/wiki/start/topics/examples/systemd/
[Unit]
Description=Start ChainIO Web Server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/opt/nginx/logs/nginx.pid
ExecStartPre=/opt/nginx/sbin/nginx -t
ExecStart=/opt/nginx/sbin/nginx
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
Restart=on-failure
