<script>
  $(document).ready(function() {
    $('#impselect').on('change',function() {
      window.location = '/entries/importer/'+$(this).val()+'/activity_summary/<%=@iso%>';
    });
  });
</script>

<div class="container">
    <div class="row" style='margin-bottom:20px;'>
      <div class="col-md-12 text-center">
        <h1><%= @iso == 'us' ? 'US' : 'Canada' %> Entry Activity</h1>
        <select id='impselect' class='form-control'>
          <option value="" selected disabled></option>
          <%= options_for_select(Company.options_for_companies_with_system_identifier((@iso == "us" ? ["Customs Management", "Cargowise"] : "Fenix"), in_relation: @importers)) %>
        </select>
      </div>
    </div>
</div>
