<style>
  h3.activity-title {
    color: white;
    background-color: #40aef2;
    padding-bottom: 4px;
    padding-top: 4px;
    margin:0;
  }
  h4.activity-title {
    color: black;
    background-color: #ccc;
    padding-bottom: 4px;
    padding-top: 4px;
    margin:0;
  }
  div.activty-pane {
    padding-bottom: 18px;
    padding-top: 18px;
  }
  td.numeric {
    font-family: Consolas, ‘Andale Mono WT’, ‘Andale Mono’, ‘Lucida Console’, ‘Lucida Sans Typewriter’, ‘DejaVu Sans Mono’, ‘Bitstream Vera Sans Mono’, ‘Liberation Mono’, ‘Nimbus Mono L’, Monaco, ‘Courier New’, Courier, monospace;
  }
  table.tablesorter thead th:hover {
    cursor: pointer;
  }
</style>
<div id='activity-container' class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">Content Loading</div>
        <div class="card-body text-center"><i class="fa fa-hourglass-o" aria-hidden="true"></i> Your real time dashboard is being generated. This may take a moment.</div>
      </div>
    </div>
    <div class="col-12">
      <div class='loader'>loading</div>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
  $.get('/entries/importer/<%=params[:importer_id]%>/activity_summary/<%=@iso%>/content').done(function(data) {
    $('#activity-container').html(data);
    $('table.tablesorter').tablesorter();
    $('#impselect').val(<%=params[:importer_id]%>);
    $('#impselect').on('change',function() {
      window.location = '/entries/importer/'+$(this).val()+'/activity_summary/<%=@iso%>'
    });
  }).fail(function() {
    $('#activity-container').html(Chain.makeErrorPanel('There was an error loading your dashboard.  Please contact <a href="mailto:support@vandegriftinc.com">support@vandegriftinc.com</a> if the problem continues.'));
  });
});
</script>
