<%
entries = Entry.search_secure(current_user,Entry.where(entry_port_code:params[:port_code])).where(Entry.search_where_by_company_id(@imp.id))
newest_entry = entries.order('updated_at DESC').first
newest_port = Port.order('updated_at DESC').first
params[:page] ||= '1'
%>
<%-cache ['v1','entries_by_port',newest_entry,newest_port,params[:page]] do-%>
  <%# do pagination here so it's inside the cache wrapper%>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Entries By Port</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <%-cache ['v1','port_select',newest_port] do -%>
          <select id='portselect' class='form-control form-lg'>
            <%=grouped_options_for_select Port.grouped_by_entry_country%>
          </select>
        <%-end-%>
      </div>
    </div>
  </div>
  <%=render :partial=>'entry_list', locals:{entries:entries}%>
<script type='text/javascript'> <%# needs to be javascript so it executes inside of cache, can't use content_for%>
  $(document).ready(function() {
    $("#portselect").val('<%=params[:port_code]%>');
    $("#portselect").on('change',function() {
      base_url = '<%=request.original_fullpath.split("entry_port").first%>';
      window.location = base_url+'entry_port/'+$(this).val();
    });
  });
</script>
<%-end-%>
