<%content_for :javascript do%>
  $('document').ready(function() {
    $('div[ng-controller]').scope().loadObject('entries', <%=@entry.id%>);
  });
<%end%>
<%content_for :action_bar do%>
  <button class='btn_link' link_to='<%=entry_path(@entry)%>'>Entry</button>
<%end%>

<%= render 'shared/validation_results' %>