<% content_for :javascript do %>
  $(function() {
    var scope = $('div[ng-controller]').scope();
    var id = scope.getId(window.location.href);
    scope.loadTemplate(id);
    $("#btn_save").click(function() {
      scope.saveTemplate();
    });
    $("#btn_cancel").click(function() {
      window.location = '<%=url_for action: 'index'%>';
    });
  });
<% end %>

<% content_for :action_bar do %>
  <button id='btn_save'>Save</button>
  <button id='btn_cancel'>Cancel</button>
<% end %>

<div id='ng-app' ng-app='CustomViewTemplateApp' ng-view>
  <div id='custom-view-template-wrapper'>
    <div id='controller' ng-controller='customViewTemplateCtrl'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-12'>
              <div class='row bootstrap-hover'>
                <div class="col-md-4" style="font-weight:bold;">Module Type</div>
                <div class="col-md-8">{{cvt.module_type}}</div>
              </div>
              <div class='row bootstrap-hover'>
                <div class="col-md-4" style="font-weight:bold;">Identifier</div> 
                <input class="col-md-8" ng-model="cvt.template_identifier"></input>
              </div>
              <div class='row bootstrap-hover'>
                <div class="col-md-4" style="font-weight:bold;">Path</div>
                <input class="col-md-8" ng-model="cvt.template_path"></input>
              </div>
          </div>
        </div>
        <br><br>
          <div class='row'>
            <div ng-repeat="crit in searchCriterions">
              <div chain-search-criterion="crit" model-fields="modelFields"></div>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12 form-inline'>
              Add New: <select class='form-control' style='width:30%;' ng-model='criterionToAdd' ng-options='f.mfid as f.label for f in modelFields'>
              </select>
              <button ng-show='criterionToAdd' class='btn btn-secondary' ng-click='addCriterion(criterionToAdd)'>Add</button>
            </div>
          </div>        
      </div>
    </div>
  </div>
</div>
