<div id='advanced_search_wrapper'>
  <div chain-messages errors='errors' notices='notices'></div>
  <div ng-show='searchSetup.id'>
    <div class='container'>
      <select ng-hide='showSetup' id='select_search' ng-model='searchId' ng-change='changeSearch(searchId)' ng-options='s.id as s.name for s in searchSetup.search_list'>
      </select>
    </div>
    <div id='search_setup_controls' ng-show='showSetup' class='container'>
      <div class='row text-center'>
        <div class='span12'>
          <h2>Setup</h2>
        </div>
      </div>
      <div class='hero-unit'>
        <div class='row-fluid'>
          <div class='span12'>
            <input id='search-setup-name-box' type='text' ng-model='searchSetup.name' />
          </div>
        </div>
        <div class='row-fluid'>
          <div class='span12'>
            <input type='checkbox' ng-model='searchSetup.include_links'/> Include Links In Download
            <br />
            <input type='checkbox' ng-model='searchSetup.no_time'/> Hide Time
          </div>
        </div>
        <!--column setup-->
        <div class='row-fluid'>
          <div class='span12 text-center'>
            <h3>Columns</h3>
          </div>
        </div>
        <div class='row-fluid'>
          <div class='span6'>
            <div class='row-fluid'>
              <div class='span12 text-center'>
                <h5>Available</h5>
              </div>
            </div>
            <div class='row-fluid'>
              <div class='span12 text-center'>
                <select multiple='multiple' size='10' ng-model='columnsToAdd' ng-options='s.mfid as s.label for s in availableColumns'>
                </select>
                <br />
                <a ng-show='columnsToAdd' class='btn' ng-click='addColumns()'>Add</a> 
                <a class='btn' ng-click='addBlank()'>Add Blank</a>&nbsp;
              </div>
            </div>
          </div>
          <div class='span6'>
            <div class='row-fluid'>
              <div class='span12 text-center'>
                <h5>Included</h5>
              </div>
            </div>
            <div class='row-fluid'>
              <div class='span12 text-center'>
                <select multiple='multiple' size='10' ng-model='columnsToRemove' ng-options='s.mfid as s.label for s in searchSetup.search_columns'>
                </select>
                <br />
                <div ng-hide='columnsToRemove'>&nbsp;</div>
                <div ng-show='columnsToRemove'>
                  <a class='btn' ng-click='removeColumns()'>Remove</a>
                  <a class='btn' ng-click='moveColumnsUp()'>Up</a>
                  <a class='btn' ng-click='moveColumnsDown()'>Down</a>
                </div>
              </div>
            </div>
          </div>
        </div>  
        <!--sort setup-->
        <div class='row-fluid'>
          <div class='span12 text-center'>
            <h3>Sorts</h3>
          </div>
        </div>
        <div class='row-fluid'>
          <div class='span6'>
            <div class='row-fluid'>
              <div class='span12 text-center'>
                <h5>Available</h5>
              </div>
            </div>
            <div class='row-fluid'>
              <div class='span12 text-center'>
                <select id='availableSorts' multiple='multiple' size='10' ng-model='sortsToAdd' ng-options='s.mfid as s.label for s in availableSorts'>
                </select>
                <div ng-hide='sortsToAdd'>&nbsp;</div>
                <div ng-show='sortsToAdd'>
                  <a ng-show='sortsToAdd' class='btn' ng-click='addSorts()'>Add</a>
                </div>
              </div>
            </div>
          </div>
          <div class='span6'>
            <div class='row-fluid'>
              <div class='span12 text-center'>
                <h5>Included</h5>
              </div>
            </div>
            <div class='row-fluid'>
              <div class='span12 text-center'>
                <select multiple='multiple' size='10' ng-model='sortsToRemove' ng-options='s.mfid as s.label + descendingLabel(s.descending) for s in searchSetup.sort_criterions'>
                </select>
                <br />
                <div ng-hide='sortsToRemove'>&nbsp;</div>
                <div ng-show='sortsToRemove'>
                  <a class='btn' ng-click='removeSorts()'>Remove</a>
                  <a class='btn' ng-click='moveSortsUp()'>Up</a>
                  <a class='btn' ng-click='moveSortsDown()'>Down</a>
                  <a class='btn' ng-click='toggleSort()'>Change Order</a>
                </div>
              </div>
            </div>
          </div>
        </div>  
        <!-- Parameter setup-->
        <div class='row'>
          <div class='span12 text-center'>
            <h3>Parameters</h3>
          </div>
        </div>
        <div ng-repeat='crit in searchSetup.search_criterions'>
          <div chain-search-criterion='crit' model-fields="searchSetup.model_fields"></div>
        </div>
        <div class='row'>
          <div class='span12 form-horizontal'>
            Add New: <select ng-model='criterionToAdd' ng-options='f.mfid as f.label for f in searchSetup.model_fields'>
            </select>
            <button ng-show='criterionToAdd' class='btn' ng-click='addCriterion(criterionToAdd)'>Add</button>
          </div>
        </div>
        <!-- Schedule Setup -->
        <div class='row'>
          <div class='span12 text-center'>
            <h3>Schedules</h3>
          </div>
        </div>
        <div class='row-fluid'>
          <div ng-hide='scheduleToEdit'>
            <ul class='thumbnails'>
              <li class='span6' ng-repeat='sched in searchSetup.search_schedules'>
                <div class='thumbnail schedule-display'>
                  <p>
                    <strong>To:</strong> {{sched.email_addresses}}
                  </p>
                  <p>
                    <strong>At:</strong> {{scheduleTimingText(sched)}}
                  </p>
                  <p>
                    <strong>As:</strong> {{sched.download_format}} 
                  </p>
                  <p>
                    <span ng-show='sched.ftp_server'><strong>FTP Server:</strong> {{sched.ftp_server}}<br /></span>
                  </p>
                  <div class='text-center'>
                    <button class='btn' ng-click='editSchedule(sched)'>Edit</button> <button class='btn' ng-click='removeSchedule(sched)'>Remove</button>
                  </div>
                </div>
              </li>
            </ul>
            <div class='row text-center'>
              <div class='span12'>
                <a class='btn' ng-click='addSchedule()'>Add Schedule</a>
              </div>
            </div>
          </div>
          <div class='form-horizontal' ng-show='scheduleToEdit'>
            <div class='row-fluid'>
              <div class='span6'>
                <div class='control-group'>
                  <label class='control-label' for='sched-email-addresses'>Email</label>
                  <div class='controls'>
                    <textarea id='sched-email-addresses' ng-model='scheduleToEdit.email_addresses' rows='4' data-/>
                    <br />
                    <small class='muted'>
                      Separate addresses with commas.
                    </small>
                  </div>
                </div>
                <div class='control-group'>
                  <label class='control-label' for='sched-format'>Format</label>
                  <div class='controls'>
                    <select id='sched-format' ng-model='scheduleToEdit.download_format'>
                      <option>csv</option>
                      <option>xls</option>
                    </select>
                  </div>
                </div>
                <div class='control-group'>
                  <label class='control-label' for='sched-time'>Time</label>
                  <div class='controls'>
                    <select id='sched-time' ng-model='scheduleToEdit.run_hour'>
                      <option value='0'>midnight</option>
                      <option value='1'>1:00am</option>
                      <option value='2'>2:00am</option>
                      <option value='3'>3:00am</option>
                      <option value='4'>4:00am</option>
                      <option value='5'>5:00am</option>
                      <option value='6'>6:00am</option>
                      <option value='7'>7:00am</option>
                      <option value='8'>8:00am</option>
                      <option value='9'>9:00am</option>
                      <option value='10'>10:00am</option>
                      <option value='11'>11:00am</option>
                      <option value='12'>noon</option>
                      <option value='13'>1:00pm</option>
                      <option value='14'>2:00pm</option>
                      <option value='15'>3:00pm</option>
                      <option value='16'>4:00pm</option>
                      <option value='17'>5:00pm</option>
                      <option value='18'>6:00pm</option>
                      <option value='19'>7:00pm</option>
                      <option value='20'>8:00pm</option>
                      <option value='21'>9:00pm</option>
                      <option value='22'>10:00pm</option>
                      <option value='23'>11:00pm</option>
                    </select>
                  </div>
                </div>
                <div class='control-group'>
                  <label class='control-label' for='sched-dom'>Day of Month</label>
                  <div class='controls'>
                    <select id='sched-dom' ng-model='scheduleToEdit.day_of_month'>
                      <option></option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                      <option>13</option>
                      <option>14</option>
                      <option>15</option>
                      <option>16</option>
                      <option>17</option>
                      <option>18</option>
                      <option>19</option>
                      <option>20</option>
                      <option>21</option>
                      <option>22</option>
                      <option>23</option>
                      <option>24</option>
                      <option>25</option>
                      <option>26</option>
                      <option>27</option>
                      <option>28</option>
                    </select>
                  </div>
                </div>
                <div class='control-group' ng-hide='scheduleToEdit.day_of_month'>
                  <div class='controls'>
                    <label class='checkbox'><input type='checkbox' ng-model='scheduleToEdit.run_monday'/> Monday</label>
                    <label class='checkbox'><input type='checkbox' ng-model='scheduleToEdit.run_tuesday'/> Tuesday</label>
                    <label class='checkbox'><input type='checkbox' ng-model='scheduleToEdit.run_wednesday'/> Wednesday</label>
                    <label class='checkbox'><input type='checkbox' ng-model='scheduleToEdit.run_thursday'/> Thursday</label>
                    <label class='checkbox'><input type='checkbox' ng-model='scheduleToEdit.run_friday'/> Friday</label>
                    <label class='checkbox'><input type='checkbox' ng-model='scheduleToEdit.run_saturday'/> Saturday</label>
                    <label class='checkbox'><input type='checkbox' ng-model='scheduleToEdit.run_sunday'/> Sunday</label>
                  </div>
                </div>
              </div>
              <div class='span6'>
                <fieldset ng-show='searchSetup.allow_ftp'>
                  <div class='control-group'>
                    <label class='control-label' for='sched-f-server'>FTP Server</label>
                    <div class='controls'>
                      <input id='sched-f-server' type='text' ng-model='scheduleToEdit.ftp_server'/>
                    </div>
                  </div>
                  <div class='control-group'>
                    <label class='control-label' for='sched-f-user'>FTP User</label>
                    <div class='controls'>
                      <input id='sched-f-user' type='text' ng-model='scheduleToEdit.ftp_username' />
                    </div>
                  </div>
                  <div class='control-group'>
                    <label class='control-label' for='sched-f-pass'>FTP Password</label>
                    <div class='controls'>
                      <input id='sched-f-pass' type='text' ng-model='scheduleToEdit.ftp_password' />
                    </div>
                  </div>
                  <div class='control-group'>
                    <label class='control-label' for='sched-f-folder'>FTP Folder</label>
                    <div class='controls'>
                      <input id='sched-f-folder' type='text' ng-model='scheduleToEdit.ftp_subfolder' />
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class='control-group'>
              <div class='controls'>
                <button class='btn btn-primary' ng-click='scheduleToEdit = null'>Done</button>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div id='search-setup-actions' class='row text-center'>
          <div class='btn-group' ng-hide='deletePrompt==true || givePrompt==true || copyPrompt==true'>
            <button class='btn btn-large btn-success' ng-click='saveSetup()'>Save</button>
            <button class='btn btn-large' ng-click='newSetup()'>New</button>
            <button class='btn btn-large' ng-click='copyPrompt=true'>Copy</button>
            <button class='btn btn-large' ng-click='givePrompt=true'>Give</button>
            <button class='btn btn-large btn-danger' ng-click='deletePrompt=true'>Delete</button>
          </div>
          <div class='span12 form-horizontal' ng-show='givePrompt==true'>
            Select User
            <div style='display:inline;' chain-user-list='giveUserId'></div>
            <a class='btn btn-primary' ng-click='give(giveUserId)' ng-show='giveUserId'>Give</a>
            <a class='btn' ng-click='givePrompt=false'>Cancel</a>
          </div>
          <div class='span12 form-horizontal' ng-show='deletePrompt==true'>
            Really Delete?
            <a class='btn btn-danger' ng-click='deleteSetup()'>Yes</a>
            <a class='btn' ng-click='deletePrompt=false'>No</a>
          </div>
          <div class='span12 form-horizontal' ng-show="copyPrompt==true">
            Copy As <input type="text" ng-model="copyReportName" class="input-xxlarge" placeholder="Enter copy name...">
            <a class='btn btn-large btn-primary' ng-click='copy(copyReportName)'>Copy</a>
            <a class='btn btn-large' ng-click='copyPrompt=false; copyReportName=""'>Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div chain-search-result='searchResult' page='page' errors='errors' src='/advanced_search/'>
    <button class='btn btn-inverse' ng-click='toggleSetup()' ng-show='searchSetup'> <span ng-show='showSetup'>Hide</span><span ng-hide='showSetup'>Show</span> Setup</button>
    <button class='btn btn-inverse' ng-show='searchResult.total_pages>1' ng-click='backgroundDownload()'>Download</button> 
    <a class='btn btn-inverse' ng-show='searchResult.total_pages<=1' href='/advanced_search/{{searchSetup.id}}/download.xls'>Download</a>
    <a class='btn btn-inverse' ng-show='searchSetup.uploadable_error_messages.length == 0' href='/search_setups/{{searchSetup.id}}/imported_files/new'>Upload</a>
    <span ng-show='searchSetup.uploadable_error_messages.length > 0'>
      <span chain-message-box title="'Upload'" as-button='true' extra-class="'btn-inverse'">
        <div ng-repeat='s in searchSetup.uploadable_error_messages'>
          {{s}}
        </div>
      </span>
    </span>
  </div>
</div>
