<div ng-hide='deliverable.edit'>
  <span ng-class="{'strike':deliverable.complete}">{{deliverable.description}}</span> 
  <span class='label label-default'>{{deliverable.assigned_to_name}}</span> 
  <span class='label label-primary'>{{deliverable.due_date}}</span> 
  <span class='label label-danger' ng-show='late()'>late</span>
  <button class='btn btn-sm btn-default deliverable-edit'>Edit</button>
</div>
<div class='modal' >
  <div class='modal-dialog'>
    <div class='modal-content'> 
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Deliverable</h4>
      </div>
      <div class='modal-body'>
        <chain-panel panel-title='Errors' panel-message="errors.errorMessage" panel-type='panel-danger' ></chain-panel>
        <div class='form-group'>
          <label>Description</label>
          <input type='text' ng-model='deliverable.description' class='form-control' />
        </div>
        <div class='form-group'>
          <label>Assigned To</label>
          <div chain-user-list='deliverable.assigned_to_id' form-control='true'></div>
        </div>
        <div class='row'>
          <div class='col-md-6'>
            <div class='form-group'>
              <label>Due</label>
              <input type='date' ng-model='deliverable.due_date' class='form-control' />
            </div>
            <div class='form-group'>
              <label>Est Hours</label>
              <input type='number' ng-model='deliverable.estimated_hours' min='0' step='1' class='form-control' />
            </div>
          </div>
          <div class='col-md-6'>
            <div class='form-group'>
              <label>Start</label>
              <input type='date' ng-model='deliverable.start_date' class='form-control' />
            </div>
            <div class='form-group'>
              <label>End</label>
              <input type='date' ng-model='deliverable.end_date' class='form-control' />
            </div>
          </div>
        </div>
        <div class='form-group'>
          <label>Complete</label>
          <input type='checkbox' ng-model='deliverable.complete' />
        </div>
      </div>
      <div class='modal-footer'>
        <button ng-click='saveDeliverable()' class='btn btn-success btn-sm'>Save</button>
        &nbsp;
        <span class='label label-info' ng-show='deliverable.saving'>Saving</span>
      </div>
    </div>
  </div>
</div>
