<p class="font-size: large; font-weight: bold; text-decoration: underline;">Welcome to VFI Track!</p>

<p>A user account has been created for you with the following credentials:<br>
<div>Username: <%=@user.username%></div>
<div>Temporary Password: <%=@temporary_password%></div>
</p>

<p>To log in, please follow this link: <%=@login_url%></p>
<p>If you have any futher questions or issues please contact your account representative.</p>
