<p>Your automated result from the VFI Track system is attached.</p>

<% if @body_text %>
  <p><%= @body_text.html_safe %></p>
<% end %>

<p>
--- <br>
This is an automated message, please do not reply. <br>
This message was generated from VFI Track by <%= @user.full_name %> <%= @user.email %>.
</p>