<p>Your automated result from the VFI Track system is attached.</p>

<% if @body_text %>
  <p><%= @body_text.html_safe %></p>
<% end %>

<p>
---
This is an automated message, please do not reply.
</p>
