<p>ERROR.  Your scheduled VFI Track search transmission has failed.</p>
<p>Search Name: <a href="<%=@search_url%>"><%=@search_name%></a></p>
<p><%=@error_message%></p>
<p>
--- <br>
This is an automated message, please do not reply. If you need additional help, please email support@vandegriftinc.com.<br>
This message was generated from VFI Track.
</p>