<p>
  A request has been made to reset your VFI Track password.
</p>

<p>
  If you made this request, please click the link below:
</p>

<p>
  <a href='<%=@reset_url%>'><%=@reset_url%></a>
</p>

<p>
  If the link does not work, please copy and paste it into your browser.
</p>

<p>
  This link will be valid until you reset your password or login again.
</p>
