<p>
  The following errors were reported by the <%= @sync_code %> system:
</p>

<ul>
  <% @error_messages.each do |error| %>
    <li> 
      <%= error %>
    </li>
  <% end %>
</ul>

</p>The file that reported these errors to VFI Track is attached.</p>