<p>Your file could not complete processing.  The information below may help identify the source of any errors.</p>

<ul>
  <% @error_messages.each do |error| %>
    <li> 
      <%= error %>
    </li>
  <% end %>
</ul>

</p>The file which caused these errors is attached.</p>