<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= link_to "<< Show this template's overview", business_validation_template_path(@bvt) %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2" align="center">
    <h2>Edit Business Validation Template</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render partial: "bvt_base", locals: {bvt: @bvt} %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <%= render partial: "bvt_criterion", locals: {criteria: @criteria, new_criterion: @new_criterion} %>
  </div>

  <div class="col-md-4">
    <%= render partial: "bvt_rule", locals: {rules: @rules, new_rule: @new_rule} %>
  </div>
</div>

