<div id='ng-app' ng-app='BusinessTemplateApp'>
  <div ng-controller='BusinessTemplateController' ng-init="setId(<%= @bvt.id %>)">

    <div class="row" id="template-criteria-submit-success" style="display:none;">
      <div class="col-md-6 col-md-offset-3 ">
        <div class="alert alert-info">
          <p><b>Notice:</b> Criteria updated successfully.</p>
        </div>
      </div>
    </div>

    <div class="row" id="template-criteria-submit-failure" style="display:none;">
      <div class="col-md-6 col-md-offset-3 ">
        <div class="alert alert-danger">
          <p><b>Notice:</b> Criteria could not be saved.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>"{{businessTemplate.name}}" Criteria</h2>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div chain-search-criteria bound-item="businessTemplate" model-fields="model_fields">
      </div>
    </div>

    <div chain-action-bar>
      <button class="btn btn-default" ng-click="backButton()">Back</button>
      <button class="btn btn-default" ng-click="updateBusinessTemplate()">Save</button>
    </div>


  </div>
</div>