<div class='row search-criterion-row'>
  <div class='span3'>
    {{crit.label}}
  </div>
  <div class='span3'>
    <select style="width:auto;" ng-model='crit.operator' ng-options='o.operator as o.label for o in operators[crit.datatype]'>
    </select>
  </div>
  <div class='span3'>
    <div style='display:inline;' class='value_area'></div>
  </div>
  <div class='span3'>
    <div>
      <input type='checkbox' ng-model='crit.include_empty'/> Include Empty
    </div>
    <div>
      <button ng-click='remove(crit)' class='btn'>Remove</button>
    </div>
  </div>
</div>

