<div ng-show='importedFile'>
  <dl class='field_list'>
    <dt>File Name:</dt><dd>{{importedFile.file_name}}</dd>
    <dt>Uploaded At:</dt><dd>{{importedFile.uploaded_at}}</dd>
    <dt>Uploaded By:</dt><dd>{{importedFile.uploaded_by}}</dd>
    <dt>File Rows:</dt><dd>{{importedFile.total_rows}}</dd>
    <dt>Unique Records</dt><dd>{{importedFile.total_records}}</dd>
    <dt>Last Processed:</dt><dd>{{importedFile.last_processed}}</dd>
    <dt>Time To Process:</dt><dd>{{importedFile.time_to_process}} minutes</dd>
    <dt ng-show='importedFile.processing_error_count > 0'>Processing Errors</dt><dd ng-show='importedFile.processing_error_count > 0'>{{importedFile.processing_error_count}}</dd>
  </dl>
</div>
<div ng-include src='"/templates/search_result.html"'>
</div>
