<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VFI Track Vendor Portal</title>
  <%= stylesheet_link_tag    "vendor_portal", :media => "all" -%>
  <%= javascript_include_tag "vendor_portal" -%>
</head>
<body>
  <div ng-app='VendorPortal'>
    <div ui-view></div>
  </div>
</body>
</html>