<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VFI Track Vendor Portal</title>
  <%= stylesheet_link_tag    "vendor_portal", :media => "all" -%>
  
  <%= javascript_include_tag "vendor_portal" -%>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class='text-right'>
          <%=current_user.full_name%> - <a href='/vendor_portal'>Home</a> - <a href='/logout'>Log Out</a>
        </div>
      </div>
    </div>
  </div>
  <div ng-app='VendorPortal'>
    <div ui-view></div>
  </div>
</body>
</html>