@import "../vfi_colors";

#chain-nav-panel .fa,
#chain-nav-panel li a span,
.navbar-dark {
  border: none;
  color: $vfi-primary-text;
  &:hover {
    color: $vfi-secondary-shade;
  }
  .fa.fa-bell-o.fa-lg.message_envelope.messages {
    color:red !important;
    &:hover {
      color: $vfi-secondary-shade !important;
    }
  }
}
#chain-nav-panel .dropdown-item:hover {
  color: white;
  background-color: $vfi-secondary;
}
.btn-warning {
  color: #FFFFFF;
  background-color: #f0ba43;
  border-color: #eeb02b;
}
.btn-warning:hover {
  color: #FFFFFF;
  background-color: #eca713;
  border-color: #d49711;
}
.topnav {
  background-color: $vfi-primary;
  .popover-content {
    color: black;
  }
}
@media screen and (min-width: 600px) {
  .nav-small-screen {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .nav-large-screen {
    display: none;
  }
}
#announcement-modal {
  z-index: 1075;
}
.nav-label {
  color: white;
  cursor: default;
}
