body.run-as {
  margin-top: 20px;
}

#run_as_box {
  background-color: #FF4747;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0 15px;

  .test_environment_message {
    float: left;
  }

  .run_as_message {
    float: right;
  }
}
