<div class='container'>
  <div class="row">
    <div class="col-md-12">
      <h1>Find User</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form action="/users/find_by_email" method="GET">
        <input class="form-control" type="email" name="email" placeholder='Enter email address...' />
        <input class='form-control btn btn-primary' type='submit' value='Search' />
      </form>
    </div>
  </div>
</div>
