<div class="row">
  <div class="col-md-12 text-center">
    <h2>
      Glossary for <%= @label %>
    </h2>
  </div>
</div>

<hr></hr>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <dl class="dl-horizontal">
      <% @fields.each do |mf| %>
        <%- next if mf.definition.blank? -%>
        <div class="hover" style="margin-bottom:10px;">
          <dt><%= mf.label %></dt>
          <dd><%= mf.definition %></dd>
        </div>
      <% end %>
    </dl>
  </div>
</div>

