<% if rule_state %>
  <% content_for :action_bar do %>
    <%=business_rules_button rule_state, validation_path, state: rule_state %>
  <% end %>
  <% 
    failed_state = BusinessValidationResult.fail_state?(rule_state)
    review_state = BusinessValidationResult.review_state?(rule_state)
  %> 
  <% if failed_state || review_state %>
    <div class="row">
      <div class="col-md-12">
        <div class='panel<%= failed_state ? " panel-danger" : (review_state ? " panel-warning" : "") %>'>
          <div class='panel-heading'>
            <h3 class='panel-title'>Business Rules</h3>
          </div>
          <div class='panel-body'>
            <div>
            <% if failed_state %>
              Business rules have failed.  Click the <%=link_to("<i class='fa fa-medkit text-danger'></i>".html_safe, validation_path)%> button to review.
            <% elsif review_state %>
              Business rules are in review status.  Click the <%=link_to("<i class='fa fa-medkit text-warning'></i>".html_safe, validation_path)%> button to review.
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
