<% overrides = {} if local_assigns[:overrides].nil?-%>
<table class='detail_table' style="width:100%;">
  <thead>
    <tr>
      <%= model_field_labels fields, table: true, heading: true %>
    </tr>
  </thead>
  <tbody>
    <%lines.each do |line|%>
      <tr class='hover detail_table_body_row'>
        <%= show_model_fields(line, fields, table: true, editor_only: true) do |mf, form_field_name, value, attributes|
          override = overrides[mf.uid]
          if override && override.respond_to?(:call)
            override.call(mf,line)
          else
            # nil signals to calling method to render the default view
            nil 
          end
        end %>
      </tr>
    <%end%>
  </tbody>
</table>
