<div id='run_as_box'>
  <div class="test_environment_message">
    <% if !master_setup.production? %>
      This Instance is a VFI Track Test Environment
    <% end %>
  </div>
  <% if run_as_user %>
  <div class="run_as_message">Logged In As: <%=run_as_user.full_name%>, Running As: <%=current_user.full_name%> - <%=link_to("Disable", disable_run_as_path())%></div>
  <% end %>
  <div class="clear"></div>
</div>