<div id='search_box'>
  <form method="get" class='form-horizontal'> 
  <select id='srch_fields' size='1' name='f'>
    <% opts = [] 
      @s_params.each do |k,f|
        opts << [f[:label],k]
      end 
     %>
    <%= options_for_select opts, @selected_search%>
  </select>
  <select id='srch_cond' size='1' name='c'>
  </select> 
  <input id='srch_val' type='text' name='s' value="<%=params[:s]%>"  class="focus_first"/>
  <input id='srch_submit' type='submit' value='Search' class='btn' />
  </form> 
</div>
<%content_for :javascript do %>
$(document).ready( function() {
  $("#srch_cond").val('<%=@s_con%>');
  toggleSearchValue();
});
<%end%>
