<%content_for :javascript do%>
$(function() {
  $("#btn_show_next").click(function() {window.location='<%=send("show_next_#{table_name}_path")%>';});
  $("#btn_show_previous").click(function() {window.location='<%=send("show_previous_#{table_name}_path")%>';});
  OpenChain.addKeyMap('n',"Next",function() {$("#btn_show_next").click();});
  OpenChain.addKeyMap('p',"Previous",function() {$("#btn_show_previous").click();});
  OpenChain.activateHotKeys();
});
<%end%>

<button id='btn_show_next'>Next</button>
<button id='btn_show_previous'>Previous</button>
