<%content_for :javascript do%>
$(function() {
  $("#btn_show_next").click(function() {window.location='<%=send("next_item_#{obj.class.name.underscore}_path",obj)%>';});
  $("#btn_show_previous").click(function() {window.location='<%=send("previous_item_#{obj.class.name.underscore}_path",obj)%>';});
  OpenChain.addKeyMap('n',"Next",function() {$("#btn_show_next").click();});
  OpenChain.addKeyMap('p',"Previous",function() {$("#btn_show_previous").click();});
  OpenChain.activateHotKeys();
});
<%end%>

<button id='btn_show_next'>Next</button>
<button id='btn_show_previous'>Previous</button>
