<div ng-app='CoreObjectValidationResultsApp'>
  <div id='validation_result_wrapper' class="container" ng-controller='coreObjectValidationResultsCtrl'>
    <div class="row" style="margin-bottom:20px;">
      <div class='col-md-12'>
        <h1 class='page_title' ng-class='svc.stateToBootstrap("text",result.state)'>
          {{result.single_object}}: {{result.object_number}}&nbsp;
          <span class='label label-info' title="Rerun Validations" ng-show='result.can_run_validations' ng-click='rerunValidations()' style="padding-top: 2px; padding-bottom: 3px; padding-left: 4px; padding-right: 4px; font-size: 45%; vertical-align: 40% "><i class="fa fa-refresh"></i></span>
        </h1>
      </div>
    </div>
    <h3 ng-show='result && result.bv_results.length==0'>No validations have been run for this {{result.single_object.toLowerCase()}}.</h3>
    <div class="row">
      <div class="col-md-6">
        <div ng-repeat='bvr in result.bv_results'>
          <div class="panel" ng-class='svc.stateToBootstrap("panel",bvr.state)'>
            <div class="panel-heading">
              <h3 class='panel-title'>
                {{bvr.template.name}} - {{bvr.state}}
              </h3>
            </div>
            <div class="panel-body">
              <div ng-repeat="rr in bvr.rule_results">
                <span ng-class='svc.stateToBootstrap("text",rr.state)'>
                  <state-icon state='rr.state'></state-icon>
                  <a href='' ng-click='editRuleResult(rr)' title='{{rr.rule.description}}'>
                    {{rr.rule.name}} - {{rr.state}} {{!rr.rule.active ? "[disabled]" : ""}}
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div ng-show='ruleResultToEdit' class='panel' ng-class='svc.stateToBootstrap("panel",ruleResultToEdit.state)'>
          <div class="panel-heading">
            <h3 class='panel-title'>
              <span>
                <state-icon state='ruleResultToEdit.state'></state-icon>
                {{ruleResultToEdit.rule.name}}
              </span>
              <span class='label label-info pull-right' ng-show='ruleResultToEdit.overridden_at' style="padding-bottom: 0.2em; padding-top: 0.2em;">Overridden&nbsp;&nbsp;</span>
            </h3>
          </div>
          <div class='panel-body'>
            <div ng-show="ruleResultToEdit.rule.description">
              <strong>Rule Description</strong><br/>
              {{ruleResultToEdit.rule.description}}
            </div>
            <div ng-show="ruleResultToEdit.message">
              <strong>System Messages</strong>
              <br>
              <pre>{{ruleResultToEdit.message}}</pre>
            </div>
            <select ng-model='ruleResultToEdit.state' ng-change='markRuleResultChanged()' ng-disabled='!ruleResultToEdit.editable' ng-options='s for s in svc.states' class='form-control'>
            </select>
            <!-- 
                ng-hide (instead of ng-show) is used here for a reason...using ng-show causes keyhandler issues when the textarea is blank and a hotkey is pressed.  Because the
                default action for ng-show is to hide the DOM object, when a hotkey is pressed with nothing in the textarea it's hidden (on the first evaluation pass in angular)
                which then causes the hotkey code to be unable to determine the keypress target element (which then defaults to the body element), which then causes the hotkey 
                to fire instead of just typing a character into the textarea.

                TLDR; don't change the ng-hide below to ng-show
            -->
            <div ng-hide="!(ruleResultToEdit.note || ruleResultChanged || (ruleResultToEdit.editable && ruleResultToEdit.overridden_at))">
              <textarea ng-model='ruleResultToEdit.note' ng-change='markRuleResultChanged()' ng-disabled='!ruleResultToEdit.editable' class='form-control'></textarea>
            </div>
            <div ng-show='ruleResultToEdit.overridden_at'><br>
              <div class="alert alert-info">
                This business rule has been manually overridden. The rule's status will no longer update unless the override is cleared.<br>
                <span>
                  <span class='small text-muted'>
                    <br>Overridden by {{ruleResultToEdit.overridden_by.full_name}} <span am-time-ago='ruleResultToEdit.overridden_at' title="{{ruleResultToEdit.overridden_at | amDateFormat:' MMMM Do YYYY, h:mm a'}}"></span>
                  </span>
                  <span class='pull-right label label-info' style='font-size: 100%' ng-show="ruleResultToEdit.editable" ng-click="cancelOverride(ruleResultToEdit)">
                    <i class="fa fa-trash"></i>
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class='panel-footer text-right' ng-show='ruleResultToEdit.editable && ruleResultChanged'>
            <button ng-click='saveRuleResult(ruleResultToEdit)' class='btn btn-primary'>Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
