<div id="root" class='container'>
  <div><chain-panel panel-title='' panel-message="notices.join('<br>')" panel-type='alert-info'></chain-panel></div>
  <div class="row">
    <h1>Process Worksheets For Shipment: {{shp.shp_ref}}</h1>
    <div class="col-9">
      <div class="form-group">
        <label for="typeSelect">Select Worksheet Type</label>
        <select class="form-control" id="typeSelect" ng-model="attachmentType">
          <option value="">Select a worksheet type...</option>
          <option value="Booking Worksheet" ng-show="shp.permissions.can_add_remove_booking_lines">Booking Worksheet</option>
          <option value="Tradecard Manifest" ng-show="shp.permissions.can_add_remove_shipment_lines">Tradecard Manifest</option>
          <option value="Manifest Worksheet" ng-show="shp.permissions.can_add_remove_shipment_lines">Manifest Worksheet</option>
        </select>
      </div>
      <div class="form-group" ng-show="attachmentType === 'Tradecard Manifest' || attachmentType === 'Manifest Worksheet'">
        <label for="mfgAddress">Select Manufacturer Address</label>
        <address-book-autocomplete id="mfgAddress" shipment-id="shp.id" address-id-attribute="shp.manufacturerId"></address-book-autocomplete>
      </div>
    </div>
  </div>
  <add-address-modal shipment-id="shp.id"></add-address-modal>
  <row>
    <div class="row" style="padding-top: 25px">
      <div class="col-4 form-group">
        <label for='attAdd'>Available Worksheets</label>
        <select class="form-control" id="attAdd" ng-model="selector.attachmentsToAdd" ng-options="att.name for att in selector.availableAttachments" multiple="multiple" size="10"></select>
      </div>
      <div class="col-1" style="display: inline-block; padding-top: 60px;">
        <button style="background-color: Gainsboro;"class="form-control btn" id="btn-assign-attachments" ng-click="add()"><span class="fa fa-chevron-right" aria-hidden="true"></span></button>
        <button class="form-control btn" style="margin-top: 1em; background-color: Gainsboro" id="btn-remove-attachments" ng-click="remove()"><span class="fa fa-chevron-left" aria-hidden="true"></span></button>
      </div>
      <div class="col-4 form-group">
        <label for="attRem">Worksheets to be Processed</label>
        <select class="form-control" id="attRem" ng-model="selector.attachmentsToRemove" ng-options="att.name for att in selector.processAttachments" multiple="multiple" size="10"></select>
      </div>
    </div>
  </row>
  <small ng-show="selector.processAttachments.length > 1" class="col-4 offset-5" style="color: red;">For multiple worksheets, any that generate warnings will be skipped.</small></div>
<div chain-action-bar>
  <button class='btn btn-secondary' ng-click='cancel()'>{{notices.length > 0 ? "Shipment" : "Cancel"}}</button>
  <button class='btn btn-secondary' ng-click='process(shp,selector.processAttachments,attachmentType,true)' ng-show='shp && (selector.processAttachments.length > 0) && attachmentType'>Submit</button>
</div>
<div class="modal" id="shipmentWarningModal" tabindex="-1" role="dialog" aria-labelledby="shipmentWarningModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p ng-repeat="msg in warningModalMsgs">{{msg}}</p>
        <p>Continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="confirmCancel()">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click='process(shp,selector.processAttachments,attachmentType,false)'>Add to Shipment</button>
      </div>
    </div>
  </div>
</div>
