<div class='container'>
  <div class="row">
    <h1>Process Worksheet For Shipment: {{shp.shp_ref}}</h1>
    <div class="col-xs-6">
      <label for='attSel'>Select Worksheet To Process</label>
      <select class='form-control' id='attSel' ng-model='manifestAttachment' ng-options='att.name for att in shp.attachments'></select>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label for="typeSelect">Select Worksheet Type</label>
        <select class="form-control" id="typeSelect" ng-model="attachmentType">
          <option value="">Select a worksheet type...</option>
          <option value="Booking Worksheet" ng-show="shp.permissions.can_add_remove_booking_lines">Booking Worksheet</option>
          <option value="Tradecard Manifest" ng-show="shp.permissions.can_add_remove_shipment_lines">Tradecard Manifest</option>
          <option value="Manifest Worksheet" ng-show="shp.permissions.can_add_remove_shipment_lines">Manifest Worksheet</option>
        </select>
      </div>
      <div class="form-group" ng-show="attachmentType === 'Tradecard Manifest' || attachmentType === 'Manifest Worksheet'">
        <label for="mfgAddress">Select Manufacturer Address</label>
        <address-book-autocomplete id="mfgAddress" shipment-id="shp.id" address-id-attribute="shp.manufacturerId"></address-book-autocomplete>
      </div>
    </div>
  </div>
  <add-address-modal shipment-id="shp.id"></add-address-modal>
</div>
<div chain-action-bar>
  <button class='btn btn-default' ng-click='cancel()'>Cancel</button>
  <button class='btn btn-default' ng-click='process(shp,manifestAttachment,attachmentType,true)' ng-show='shp && manifestAttachment && attachmentType'>Submit</button>
</div>
<div class="modal" id="shipmentWarningModal" tabindex="-1" role="dialog" aria-labelledby="shipmentWarningModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p ng-show='warningModalMsg.other_shipments'>The following purchase orders are assigned to other shipments: {{warningModalMsg.other_shipments}}</p>
        <p ng-show='warningModalMsg.transport_mode'>The following purchase orders have a mode of transport that doesn't match the assigned shipment: {{warningModalMsg.transport_mode}}</p>
        <p>Continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmCancel()">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click='process(shp,manifestAttachment,attachmentType,false)'>Add to Shipment</button>
      </div>
    </div>
  </div>
</div>
