<chain-loading-wrapper loading-flag='{{loadingFlag}}'>
  <div class='container'>
    <div class="row">
      <div class="col-md-12">
        <h1>Add Order To Shipment {{shp.shp_ref}}</h1>
      </div>
    </div>
    <div class="row">
      <div ng-hide="activeOrder" class="col-xs-2 col-xs-offset-5" style="text-align: center; margin-top:24px;">
        <p><button ng-show="!!linesAvailable" ng-click="importBooking()" class="btn btn-md btn-default" style="width:100%">Import Booking</button></p>
        <p ng-show="bookedOrders.length > 0">Booked Orders</p>
        <div class="btn-group-vertical" style="width:100%" data-toggle="buttons">
          <label class="btn btn-md btn-default"
                 ng-repeat="ord in bookedOrders"
                 ng-class="{active:ord.id==activeOrder.id}"
                 ng-click="getOrder(ord)"><input type="radio">{{ord.ord_cust_ord_no}}</label>
        </div>
        <p style="margin-top:12px;">All Orders</p>
        <input type='text' ng-model='orderFilter' placeholder='Search orders' class='form-control input-sm'/>
        <div class='text-right'><small><a href='' ng-click='orderFilter=null'>clear</a></small></div>
        <br />
        <div ng-show='availableOrders.length == 0'>No orders found</div>
        <div class="btn-group-vertical" style="width:100%" data-toggle="buttons">
          <label class="btn btn-md btn-default"
              ng-repeat="ord in availableOrders | filter:orderFilter"
              ng-class="{active:ord.id==activeOrder.id}"
          ng-click="getOrder(ord)"><input type="radio">{{ord.ord_cust_ord_no}}</label>
        </div>
      </div>
      <div ng-show='activeOrder' class="col-xs-12">
        <chain-loading-wrapper loading-flag='{{orderLoadingFlag}}'>
          <div class="row">
            <div class="col-xs-8">
              <h2>Order: {{activeOrder.ord_cust_ord_no}}</h2>
            </div>
            <div class="col-xs-4">
              <label for="mfg-address-select">Choose Manufacturer</label>
              <address-book-autocomplete id="mfg-address-select" shipment-id="shp.id" address-id-attribute="activeOrder.manufacturerAddressId"></address-book-autocomplete>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <table class='table booking-table'>
            <thead>
              <tr>
                <th>Line #</th>
                <th>Part #</th>
                <th>SKU</th>
                <th>
                  <div class='btn-group'>
                    <button type='button' class='btn btn-default btn-xs dropdown-toggle' data-toggle='dropdown'>Quantity To Ship <span class="caret"></span></button>
                    <ul class='dropdown-menu' role='menu'>
                      <li><a ng-click='clearQuantityToShip(activeOrder)'>Clear</a></li>
                      <li><a ng-click='resetQuantityToShip(activeOrder)'>Reset</a></li>
                      <li><a data-toggle='modal' data-target='#prorateModal'>Prorate</a></li>
                    </ul>
                  </div>
                </th>
                <th style="text-align: center">Enabled <i ng-show="allLinesEnabled" ng-click="disableAllLines(activeOrder)" class="fa fa-check-square-o"></i><i ng-show="!allLinesEnabled" ng-click="enableAllLines(activeOrder)" class="fa fa-square-o"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-class="{disabled:line._disabled}" ng-repeat='line in activeOrder.order_lines'>
                <td>{{line.linked_cust_ord_no ? line.linked_cust_ord_no + " - " + line.linked_line_number : line.ordln_line_number}}</td>
                <td>{{line.ordln_puid}}</td>
                <td>{{line.ordln_sku}}</td>
                <td><input ng-disabled="line._disabled" type='number' ng-model='line.quantity_to_ship' class='form-control'/></td>
                <td style="text-align: center"><i ng-click="line._disabled = !line._disabled" class="fa {{line._disabled ? 'fa-square-o' : 'fa-check-square-o'}}"></i></td>
              </tr>
              <tr>
                <td colspan='3' class='text-right'>Total:</td>
                <td colspan="2">{{totalToShip(activeOrder)}}</td>
              </tr>
            </tbody>
          </table>
            </div>
          </div>
        </chain-loading-wrapper>
      </div>
    </div>
  </div>
</chain-loading-wrapper>
<div class="modal" id="prorateModal" tabindex="-1" role="dialog" aria-labelledby="prorateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="prorateModalLabel">Prorate Quantities</h4>
      </div>
      <div class="modal-body">
        <form class='form-horizontal'>
          <div class="form-group">
            <label for='prorateSign'>Add/Remove</label>
            <select id='prorateSign' class='form-control' ng-model='proration.sign'><option>Add</option><option>Remove</option></select>
          </div>
          <div class="form-group">
            <label for="prorateAmount">Percent To Change</label>
            <input id='prorateAmount' type='number' class='form-control' ng-model='proration.amount' />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click='prorate(activeOrder,proration)' ng-disabled='!proration.amount || !proration.sign'>Go</button>
      </div>
    </div>
  </div>
</div>
<add-address-modal shipment-id="shp.id"></add-address-modal>
<div chain-action-bar>
  <button class='btn btn-default' ng-click='addOrderAndSave(shp,activeOrder)' ng-show='shp && activeOrder'>Save</button>
  <button class='btn btn-default' ng-click='cancel()'>Cancel</button>
</div>
