<label for="shp_manufacturer_address">Manufacturer</label>
<address-book-autocomplete id="shp_manufacturer_address" placeholder="Manufacturer" selected-object="shp.manufacturer_address" initial-value=""></address-book-autocomplete>
<label for="shp_seller_address">Seller</label>
<address-book-autocomplete id="shp_seller_address" placeholder="Search Address Book" selected-object="shp.seller_address" initial-value=""></address-book-autocomplete>
<label for="shp_buyer_address">Buyer</label>
<address-book-autocomplete id="shp_buyer_address" placeholder="Search Address Book" selected-object="shp.buyer_address" initial-value=""></address-book-autocomplete>
<label for="shp_ship_to_address">Ship-To</label>
<address-book-autocomplete id="shp_ship_to_address" placeholder="Search Address Book" selected-object="shp.ship_to_address" initial-value=""></address-book-autocomplete>
<label for="shp_container_stuffing_address">Container Stuffing Location</label>
<address-book-autocomplete id="shp_container_stuffing_address" placeholder="Search Address Book" selected-object="shp.container_stuffing_address" initial-value=""></address-book-autocomplete>
<label for="shp_consolidator_address">Consolidator</label>
<address-book-autocomplete id="shp_consolidator_address" placeholder="Search Address Book" selected-object="shp.consolidator_address" initial-value=""></address-book-autocomplete>