<chain-loading-wrapper loading-flag='{{loadingFlag}}'>
    <div class='container' ng-init="sbc.chooseBookingType('chooseBooking')" data-container-id="chooseBooking">
        <div class="row">
            <div class="col-md-12">
                <h1>Choose Type of Booking</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"><button ng-click="sbc.chooseBookingType('product')">Book by Product</button></div>
            <div class="col-md-3"><button ng-click="sbc.chooseBookingType('order')">Book by Order</button></div>
            <div class="col-md-3"><button ng-click="sbc.chooseBookingType('sku')">Book by Order Line(SKU)</button></div>
            <div class="col-md-3"><button ng-click="sbc.chooseBookingType('container')">Book by Container</button></div>
        </div>
    </div>
    <div class='container' data-container-id="product">Product</div>
    <div class='container' data-container-id="order">Order</div>
    <div class='container' data-container-id="sku">Order Line</div>
    <div class='container' data-container-id="container">Container</div>
</chain-loading-wrapper>
<div chain-action-bar>
    <!--<button class='btn btn-default' ng-click='addOrderAndSave(shp,activeOrder,"booking_lines")' ng-show='shp && activeOrder'>Save</button>-->
    <button class='btn btn-default' ng-click='cancel()'>Cancel</button>
</div>