<label for="shp_booking_cutoff_date">{{outerScope.label('shp_booking_cutoff_date')}}</label>
<input date-input type="date" id="shp_booking_cutoff_date" ng-model="outerScope.booking.shp_booking_cutoff_date" class="form-control" />
<label for="shp_booking_est_departure_date">{{outerScope.label('shp_booking_est_departure_date')}}</label>
<input date-input type="date" id="shp_booking_est_departure_date" ng-model="outerScope.booking.shp_booking_est_departure_date" class="form-control" />
<label for="shp_cargo_ready_date">{{outerScope.label('shp_cargo_ready_date')}}</label>
<input date-input type="date" id="shp_cargo_ready_date" ng-model='outerScope.booking.shp_cargo_ready_date' class="form-control" />
<label for="shp_booking_est_arrival_date">{{outerScope.label('shp_booking_est_arrival_date')}}</label>
<input date-input type="date" id="shp_booking_est_arrival_date" ng-model="outerScope.booking.shp_booking_est_arrival_date" class="form-control" />
<label for="shp_booking_shipment_type">{{outerScope.label('shp_booking_shipment_type')}}</label>
<input type="text" id="shp_booking_shipment_type" ng-model="outerScope.booking.shp_booking_shipment_type" class="form-control" />
<label for='shp_booking_mode'>{{outerScope.label('shp_booking_mode')}}</label>
<select id='shp_booking_mode' ng-model='outerScope.booking.shp_booking_mode' class='form-control'>
  <option></option>
  <option>Air</option>
  <option>Ocean</option>
  <option>Ocean - LCL</option>
  <option>Ocean - FCL</option>
  <option>Truck</option>
</select>
<label for="shp_booking_carrier">{{outerScope.label('shp_booking_carrier')}}</label>
<input type="text" id="shp_booking_carrier" ng-model="outerScope.booking.shp_booking_carrier" class="form-control" />
<label for="shp_booking_vessel">{{outerScope.label('shp_booking_vessel')}}</label>
<input type="text" id="shp_booking_vessel" ng-model="outerScope.booking.shp_booking_vessel" class="form-control" />
<label for="shp_booking_voyage">{{outerScope.label('shp_booking_voyage')}}</label>
<input type="text" id="shp_booking_vessel" ng-model="outerScope.booking.shp_booking_voyage" class="form-control" />
