<div class="form-group">
  <label for="shp_booking_received_date" class="control-label">Booking Received</label>
  <p class="form-control-static" id="shp_booking_received_date">{{outerScope.shp.shp_booking_received_date}} <i ng-show='outerScope.shp.shp_booking_requested_by_full_name' title='{{outerScope.shp.shp_booking_requested_by_full_name}}' class='text-muted fa fa-user'></i></p>
</div>
<div class="form-group">
  <label for="shp_booking_approved_date" class="control-label">Booking Approved</label>
  <p class="form-control-static" id="shp_booking_approved_date">{{outerScope.shp.shp_booking_approved_date}} <i ng-show='outerScope.shp.shp_booking_approved_by_full_name' title='{{outerScope.shp.shp_booking_approved_by_full_name}}' class='text-muted fa fa-user'></i></p>
</div>
<div class="form-group">
  <label for="shp_booking_confirmed_date" class="control-label">Booking Confirmed</label>
  <p class="form-control-static" id="shp_booking_confirmed_date">{{outerScope.shp.shp_booking_confirmed_date}} <i ng-show='outerScope.shp.shp_booking_confirmed_by_full_name' title='{{outerScope.shp.shp_booking_confirmed_by_full_name}}' class='text-muted fa fa-user'></i></p>
</div>
<div class="form-group" ng-show="outerScope.shp.shp_booked_quantity">
  <label for="shp_booked_quantity" class="control-label">Booked Quantity</label>
  <p class="form-control-static" id="shp_booked_quantity">{{outerScope.shp.shp_booked_quantity}}</p>
</div>
<div class="form-group">
  <label for="shp_booking_cutoff_date" class="control-label">Booking Cutoff</label>
  <p class="form-control-static" id="shp_booking_cutoff_date">{{outerScope.shp.shp_booking_cutoff_date}}</p>
</div>
<div class="form-group">
  <label for="shp_booking_est_departure_date" class="control-label">Est Departure Date - Booked</label>
  <p class="form-control-static" id="shp_booking_est_departure_date">{{outerScope.shp.shp_booking_est_departure_date}}</p>
</div>
<div class="form-group">
  <label for="shp_cargo_ready_date" class="control-label">Cargo Ready Date</label>
  <p class="form-control-static" id="shp_cargo_ready_date">{{outerScope.shp.shp_cargo_ready_date}}</p>
</div>
<div class="form-group">
  <label for="shp_booking_est_arrival_date" class="control-label">Est Arrival Date - Booked</label>
  <p class="form-control-static" id="shp_booking_est_arrival_date">{{outerScope.shp.shp_booking_est_arrival_date}}</p>
</div>
<div class="form-group">
  <label for="shp_booking_shipment_type" class="control-label">Booked Shipment Type</label>
  <p class="form-control-static" id="shp_booking_shipment_type">{{outerScope.shp.shp_booking_shipment_type}}</p>
</div>
<div class="form-group">
  <label for="shp_booking_mode" class="control-label">Booked Mode</label>
  <p class="form-control-static" id="shp_booking_mode">{{outerScope.shp.shp_booking_mode}}</p>
</div>
