<div class="form-group">
  <label class="control-label" for="shp_ref">Reference</label>
  <p class="form-control-static" id='shp_ref'>{{outerScope.shp.shp_ref}}</p>
</div>
<div class="form-group">
  <label for="shp_importer_reference" class="control-label">Importer Reference</label>
  <p class="form-control-static" id="shp_importer_reference">{{outerScope.shp.shp_importer_reference}}</p>
</div>
<div class="form-group">
  <label for="shp_master_bill_of_lading" class="control-label">Master Bill</label>
  <p class="form-control-static" id="shp_master_bill_of_lading">{{outerScope.shp.shp_master_bill_of_lading}}</p>
</div>
<div class="form-group">
  <label for="shp_house_bill_of_lading" class="control-label">House Bill</label>
  <p class="form-control-static" id="shp_house_bill_of_lading">{{outerScope.shp.shp_house_bill_of_lading}}</p>
</div>
<div class="form-group">
  <label for="shp_booking_number" class="control-label">Booking #</label>
  <p class="form-control-static" id="shp_booking_number">{{outerScope.shp.shp_booking_number}}</p>
</div>
<div class="form-group">
  <label for="shp_receipt_location" class="control-label">Receipt Location</label>
  <p class="form-control-static" id="shp_receipt_location">{{outerScope.shp.shp_receipt_location}}</p>
</div>
<div class="form-group">
  <label for="shp_dest_port_name" class="control-label">Destination Port</label>
  <p class="form-control-static" id="shp_dest_port_name">{{outerScope.shp.shp_dest_port_name}}</p>
</div>
<div class="form-group">
  <label for="shp_final_dest_port_name" class="control-label">Final Destination Port</label>
  <p class="form-control-static" id="shp_final_dest_port_name">{{outerScope.shp.shp_final_dest_port_name}}</p>
</div>
<div class="form-group">
  <label for="shp_freight_terms" class="control-label">Freight Terms</label>
  <p class="form-control-static" id="shp_freight_terms">{{outerScope.shp.shp_freight_terms}}</p>
</div>
<div class="form-group">
  <label for="shp_lcl" class="control-label">LCL Flag</label>
  <p class="form-control-static" id="shp_lcl">{{outerScope.shp.shp_lcl ? "Y" : ""}}</p>
</div>
<div class="form-group">
  <label for="shp_shipment_type" class="control-label">Shipment Type</label>
  <p class="form-control-static" id="shp_shipment_type">{{outerScope.shp.shp_shipment_type}}</p>
</div>
<div class="form-group">
  <label for="shp_vessel" class="control-label">Vessel</label>
  <p class="form-control-static" id="shp_vessel">{{outerScope.shp.shp_vessel}}</p>
</div>
<div class="form-group">
  <label for="shp_voyage" class="control-label">Voyage</label>
  <p class="form-control-static" id="shp_voyage">{{outerScope.shp.shp_voyage}}</p>
</div>
<div class="form-group">
  <label for="shp_vessel_carrier_scac" class="control-label">Vessel SCAC</label>
  <p class="form-control-static" id="shp_vessel_carrier_scac">{{outerScope.shp.shp_vessel_carrier_scac}}</p>
</div>
<div class="form-group">
  <label for="shp_mode" class="control-label">Mode</label>
  <p class="form-control-static" id="shp_mode">{{outerScope.shp.shp_mode}}</p>
</div>
<div class="form-group">
  <label for="shp_vessel_nationality" class="control-label">Vessel Nationality</label>
  <p class="form-control-static" id="shp_vessel_nationality">{{outerScope.shp.shp_vessel_nationality}}</p>
</div>
<div class="form-group">
  <label for="shp_first_port_receipt_name" class="control-label">First Port of Receipt</label>
  <p class="form-control-static" id="shp_first_port_receipt_name">{{outerScope.shp.shp_first_port_receipt_name}}</p>
</div>
<div class="form-group">
  <label for="shp_lading_port_name" class="control-label">Port of Lading</label>
  <p class="form-control-static" id="shp_lading_port_name">{{outerScope.shp.shp_lading_port_name}}</p>
</div>
<div class="form-group">
  <label for="shp_eta_last_foreign_port_date" class="control-label">ETA Last Origin Port</label>
  <p class="form-control-static" id="shp_eta_last_foreign_port_date">{{outerScope.shp.shp_eta_last_foreign_port_date}}</p>
</div>
<div class="form-group">
  <label for="shp_last_foreign_port_name" class="control-label">Last Origin Port</label>
  <p class="form-control-static" id="shp_last_foreign_port_name">{{outerScope.shp.shp_last_foreign_port_name}}</p>
</div>
<div class="form-group">
  <label for="shp_departure_last_foreign_port_date" class="control-label">Departure Last Origin Port</label>
  <p class="form-control-static" id="shp_departure_last_foreign_port_date">{{outerScope.shp.shp_departure_last_foreign_port_date}}</p>
</div>
<div class="form-group">
  <label for="shp_unlading_port_name" class="control-label">Unlading Port</label>
  <p class="form-control-static" id="shp_unlading_port_name">{{outerScope.shp.shp_unlading_port_name}}</p>
</div>
<div class="form-group">
  <label for="shp_marks_and_numbers" class="control-label">Marks & Numbers</label>
  <p class="form-control-static" id="shp_marks_and_numbers">{{outerScope.shp.shp_marks_and_numbers}}</p>
</div>
<div class="form-group">
  <label for="shp_number_of_packages" class="control-label">Number of Packages</label>
  <p class="form-control-static" id="shp_number_of_packages">{{outerScope.shp.shp_number_of_packages}} {{outerScope.shp.shp_number_of_packages_uom}}</p>
</div>
<div class="form-group">
  <label for="shp_gross_weight" class="control-label">Gross Weight</label>
  <p class="form-control-static" id="shp_gross_weight">{{outerScope.shp.shp_gross_weight ? outerScope.shp.shp_gross_weight + ' kg' : "" }}</p>
</div>
<div class="form-group">
  <label for="shp_volume" class="control-label">Volume</label>
  <p class="form-control-static" id="shp_volume">{{outerScope.shp.shp_volume ? outerScope.shp.shp_volume + ' cbms' : "" }}</p>
</div>
<div class="form-group">
  <label for="shp_dimensional_weight" class="control-label">Dimensional Weight</label>
  <p class="form-control-static" id="shp_dimensional_weight">{{outerScope.shp.shp_dimensional_weight ? outerScope.shp.shp_dimensional_weight + ' kg' : "" }}</p>
</div>
<div class="form-group">
  <label for="shp_chargeable_weight" class="control-label">Chargeable Weight</label>
  <p class="form-control-static" id="shp_chargeable_weight">{{outerScope.shp.shp_chargeable_weight ? outerScope.shp.shp_chargeable_weight + ' kg' : "" }}</p>
</div>
<div class="form-group">
  <label for="shp_freight_total" class="control-label">Freight Total</label>
  <p class="form-control-static" id="shp_freight_total">{{outerScope.shp.shp_freight_total}}</p>
</div>
<div class="form-group">
  <label for="shp_chargeable_weight" class="control-label">Invoice Total</label>
  <p class="form-control-static" id="shp_invoice_total">{{outerScope.shp.shp_invoice_total}}</p>
</div>
<div class="form-group">
  <label for="shp_fish_and_wildlife" class="control-label">Fish and Wildlife</label>
  <p class="form-control-static" id="shp_fish_and_wildlife">{{outerScope.shp.shp_fish_and_wildlife ? "Yes" : "No" }}</p>
</div>