<div class="form-group">
  <label class="control-label" for="shp_ref">Reference</label>
  <p class="form-control-static" id='shp_ref'>{{outerScope.shp.shp_ref}}</p>
</div>
<div class="form-group">
  <label for="shp_importer_reference" class="control-label">Importer Reference</label>
  <p class="form-control-static" id="shp_importer_reference">{{outerScope.shp.shp_importer_reference}}</p>
</div>
<div class="form-group">
  <label for="shp_master_bill_of_lading" class="control-label">Master Bill</label>
  <p class="form-control-static" id="shp_master_bill_of_lading">{{outerScope.shp.shp_master_bill_of_lading}}</p>
</div>
<div class="form-group">
  <label for="shp_house_bill_of_lading" class="control-label">House Bill</label>
  <p class="form-control-static" id="shp_house_bill_of_lading">{{outerScope.shp.shp_house_bill_of_lading}}</p>
</div>
<div class="form-group">
  <label for="shp_booking_number" class="control-label">Booking #</label>
  <p class="form-control-static" id="shp_booking_number">{{outerScope.shp.shp_booking_number}}</p>
</div>
<div class="form-group">
  <label for="shp_receipt_location" class="control-label">Receipt Location</label>
  <p class="form-control-static" id="shp_receipt_location">{{outerScope.shp.shp_receipt_location}}</p>
</div>
<div class="form-group">
  <label for="shp_dest_port_name" class="control-label">Destination Port</label>
  <p class="form-control-static" id="shp_dest_port_name">{{outerScope.shp.shp_dest_port_name}}</p>
</div>
<div class="form-group">
  <label for="shp_freight_terms" class="control-label">Freight Terms</label>
  <p class="form-control-static" id="shp_freight_terms">{{outerScope.shp.shp_freight_terms}}</p>
</div>
<div class="form-group">
  <label for="shp_lcl" class="control-label">LCL Flag</label>
  <p class="form-control-static" id="shp_lcl">{{outerScope.shp.shp_lcl ? "Y" : ""}}</p>
</div>
<div class="form-group">
  <label for="shp_shipment_type" class="control-label">Shipment Type</label>
  <p class="form-control-static" id="shp_shipment_type">{{outerScope.shp.shp_shipment_type}}</p>
</div>
<div class="form-group">
  <label for="shp_vessel" class="control-label">Vessel</label>
  <p class="form-control-static" id="shp_vessel">{{outerScope.shp.shp_vessel}}</p>
</div>
<div class="form-group">
  <label for="shp_voyage" class="control-label">Voyage</label>
  <p class="form-control-static" id="shp_voyage">{{outerScope.shp.shp_voyage}}</p>
</div>
<div class="form-group">
  <label for="shp_vessel_carrier_scac" class="control-label">Vessel SCAC</label>
  <p class="form-control-static" id="shp_vessel_carrier_scac">{{outerScope.shp.shp_vessel_carrier_scac}}</p>
</div>
<div class="form-group">
  <label for="shp_mode" class="control-label">Mode</label>
  <p class="form-control-static" id="shp_mode">{{outerScope.shp.shp_mode}}</p>
</div>
