<div class=" ship-detail-summary container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <booking-shipping-comparison name="Pieces" num-shipped="shipment.summary.piece_count" num-booked="shipment.summary.booked_piece_count" ></booking-shipping-comparison>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <booking-shipping-comparison name="Lines" num-shipped="shipment.summary.line_count" num-booked="shipment.summary.booked_line_count"></booking-shipping-comparison>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <booking-shipping-comparison name="Orders" num-shipped="shipment.summary.order_count" num-booked="shipment.summary.booked_order_count"></booking-shipping-comparison>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <booking-shipping-comparison name="Products" num-shipped="shipment.summary.product_count" num-booked="shipment.summary.booked_product_count"></booking-shipping-comparison>
      </div>
    </div>
  </div>
</div>
