<div class=" ship-detail-summary container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body text-center bg-primary">
          <h3>{{shipment.summary.piece_count}}</h3>
          Pieces
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body text-center bg-primary">
          <h3>{{shipment.summary.line_count}}</h3>
          Lines
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body text-center bg-primary">
          <h3>{{shipment.summary.order_count}}</h3>
          Orders
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body text-center bg-primary">
          <h3>{{shipment.summary.product_count}}</h3>
          Products
        </div>
      </div>
    </div>
  </div>
</div>
