<div class="container">
  <div class="row">
    <div class="col-md-12">
      <chain-panel panel-title='Errors' panel-message="eh.errorMessage" panel-type='panel-danger'></chain-panel>
    </div>
  </div>
</div>
<chain-loading-wrapper loading-flag='{{loadingFlag}}'>
  <div class='container'>
    <div class="row"> <!-- start ship header -->
      <div class="col-md-4">
        <chain-view-edit edit-if='shp.permissions.can_edit' view-template='/partials/shipments/header_view.html' edit-template='/partials/shipments/header_edit.html'
          panel-title='Shipment' panel-class='panel-primary' before-edit='prepShipmentHeaderEditObject(shp)' on-save='saveShipment(header)'></chain-view-edit>
      </div>
      <div class="col-md-4">
        <chain-view-edit edit-if='shp.permissions.can_edit' view-template='/partials/shipments/booking_view.html' edit-template='/partials/shipments/booking_edit.html'
          panel-title='Booking' panel-class='panel-primary' before-edit='prepBookingEditObject(shp)' on-save='saveShipment(booking)'></chain-view-edit>
        <chain-view-edit edit-if='shp.permissions.can_edit' view-template='/partials/shipments/parties_view.html' edit-template='/partials/shipments/parties_edit.html'
          panel-title='Parties' panel-class='panel-primary' before-edit='prepPartiesEditObject(shp)' on-save='saveShipment(partiesEditObj)'></chain-view-edit>
      </div>
      <div class="col-md-4">
        <chain-view-edit edit-if='shp.permissions.can_edit' view-template='/partials/shipments/tracking_view.html' edit-template='/partials/shipments/tracking_edit.html'
          panel-title='Parties' panel-class='panel-primary' before-edit='prepTrackingEditObject(shp)' on-save='saveShipment(tracking)'></chain-view-edit>
      </div>
    </div> <!-- end ship header -->
    <hr />
    <div class="row">
      <div class="col-md-8"> <!--start comments-->
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Comments</h3>
          </div>
          <div class="panel-body">
            <chain-comment parent-object='shp' module-type='Shipment'></chain-comment>
          </div>
        </div>
      </div>  <!--end comments -->
      <div class="col-md-4">  <!--start attachments-->
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Attachments</h3>
          </div>
          <ul class="list-group">
            <li ng-repeat="att in shp.attachments" class="list-group-item">
              <a href='/attachments/{{att.id}}/download' target='_blank'>{{att.name}} <span class='badge'>{{att.size}}</span></a>
            </li>
          </ul>
          <div class="panel-footer" ng-if="shp.permissions.can_attach">
            <div class="container-fluid">
              <div chain-attach='shp' attachable-type='Shipment' attachable-id='{{shp.id}}'></div>
            </div>
          </div>
        </div>
      </div> <!--end attachments-->
    </div>
    <hr />
    <div class="row"> <!-- start container section -->
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Containers</h3>
          </div>
          <div class="panel-body">
            <div ng-repeat='con in shp.containers'>
              <div class="panel panel-info">
                <div class="panel-body">
                  <div class="row" >
                    <div class="col-md-4">
                      <label for="con_container_number">Container Number</label>
                      <div>{{con.con_container_number}}</div>
                    </div>
                    <div class="col-md-4">
                      <label for="con_container_size">Container Size</label>
                      <div>{{con.con_container_size}}</div>
                    </div>
                    <div class="col-md-4">
                      <label for="con_seal_number">Seal Number(s)</label>
                      <div>{{con.con_seal_number}}</div>
                    </div>
                  </div>
                </div>
                <div ng-show='$parent.shp.permissions.can_edit' class="panel-footer text-right">
                  <button class="btn btn-danger btn-sm" title='{{con.con_shipment_line_count > 0 ? "Remove lines from container first." : "Delete"}}' ng-disabled='con.con_shipment_line_count > 0' ng-click='$parent.deleteContainer($parent.shp,con)'><i class="fa fa-trash"></i></button>
                  <button class="btn btn-default btn-sm" title='Edit' ng-click='$parent.editContainer(con)' data-toggle='modal' data-target='#mod_new_container'><i class="fa fa-edit"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div ng-show='shp.permissions.can_edit' class="panel-footer text-right">
            <button class='btn btn-sm btn-success' data-toggle='modal' data-target='#mod_new_container' ng-click='editContainer()'><i class='fa fa-plus'></i></button>
          </div>
        </div>
      </div>
      <div class="modal fade panel-modal" id='mod_new_container' tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Edit Container</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="nc_con_container_number">Container Number</label>
                <input type="text" class='form-control' id='nc_con_container_number' ng-model="containerToEdit.con_container_number">
              </div>
              <div class="form-group">
                <label for="nc_con_container_size">Container Size</label>
                <input type="text" class='form-control' id='nc_con_container_size' ng-model="containerToEdit.con_container_size">
              </div>
              <div class="form-group">
                <label for="nc_con_seal_number">Seal Number(s)</label>
                <input type="text" class='form-control' id="nc_con_seal_number" ng-model="containerToEdit.con_seal_number">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" ng-click='saveContainer(shp,containerToEdit)' data-dismiss="modal">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end container section-->
    <hr />
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Lines</h3>
      </div>
      <div class="panel-body">
        <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-target="#line_summary" aria-controls="line_summary" role="tab" data-toggle="tab">Summary</a></li>
            <li role="presentation"><a ng-click="loadLines(shp)" data-target="#line_detail" aria-controls="line_detail" role="tab" data-toggle="tab">Detail</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="line_summary">
              <chain-ship-detail-summary shipment='shp'></chain-ship-detail-summary>
            </div>
            <div role="tabpanel" class="tab-pane" id="line_detail">
              <div class="container-fluid">  <!--start lines section -->
                <div class="row">
                  <div class='col-md-12' ng-hide='shp.lines'>
                    <div class='loader'>Loading</div>
                  </div>
                  <div class="col-md-12" ng-show='shp.lines'>
                    <table class='table table-striped'>
                      <thead>
                        <tr>
                          <th>Line #</th>
                          <th>Product</th>
                          <th>Order Number - Line</th>
                          <th>Quantity</th>
                          <th>Cartons</th>
                          <th>Volume (CBMS)</th>
                          <th>Gross Weight (KGS)</th>
                          <th>Container</th>
                          <th ng-show='shp.permissions.can_edit'></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="ln in shp.lines" ng-class="{'danger':ln._destroy}">
                          <td>{{ln.shpln_line_number}}</td>
                          <td>{{ln.shpln_puid}}</td>
                          <td>
                            <div ng-repeat='ol in ln.order_lines'>
                              <a href='/orders/{{ol.order_id}}'>{{ol.ord_cust_ord_no}} - {{ol.ordln_line_number}}</a>
                            </div>
                          </td>
                          <td>
                            {{ln.shpln_shipped_qty}}
                          </td>
                          <td>
                            {{ln.shpln_carton_qty}}
                          </td>
                          <td>
                            {{ln.shpln_cbms}}
                          </td>
                          <td>
                            {{ln.shpln_gross_kgs}}
                          </td>
                          <td>
                            {{ln.shpln_container_number}}
                          </td>
                          <td ng-show='shp.permissions.can_edit' class='text-right'>
                            <button ng-show='shp.permissions.can_add_remove_lines' class="btn btn-xs btn-danger" title="Delete Line" ng-click="deleteLine($parent.shp,ln)"><i class="fa fa-trash"></i></button>
                            <button class='btn btn-xs btn-default' title='Edit Line' ng-click='prepShipmentLineEditObject(ln)' data-toggle='modal' data-target='#mod_edit_line'><i class='fa fa-edit'></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="modal fade panel-modal" id='mod_edit_line' tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit Line</h4>
                      </div>
                      <div class="modal-body">
                        <div class="form-group">
                          <label for="shpln_shipped_qty">Quantity</label>
                          <input type="number" class='form-control' id='shpln_shipped_qty' ng-model="lineToEdit.shpln_shipped_qty">
                        </div>
                        <div class="form-group">
                          <label for="shpln_carton_qty">Cartons</label>
                          <input type="number" class='form-control' id='shpln_carton_qty' ng-model="lineToEdit.shpln_carton_qty">
                        </div>
                        <div class="form-group">
                          <label for="shpln_cbms">CBMs</label>
                          <input type="number" class='form-control' id='shpln_cbms' ng-model="lineToEdit.shpln_cbms">
                        </div>
                        <div class="form-group">
                          <label for="shpln_gross_kgs">Gross KGS</label>
                          <input type="number" class='form-control' id='shpln_gross_kgs' ng-model="lineToEdit.shpln_gross_kgs">
                        </div>
                        <div class="form-group">
                          <label for="shpln_container_uid">Container</label>
                          <select ng-model='lineToEdit.shpln_container_uid' class='form-control' ng-options='c.con_uid as c.con_container_number for c in shp.containers'>
                            <option></option>
                          </select>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click='saveLine(shp,lineToEdit)' data-dismiss="modal">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!--end lines section -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div chain-action-bar include-workflow='yes'>
    <button ng-show='shp.permissions.can_request_booking' class='btn btn-default' ng-click='requestBooking(shp)'>Request Booking</button>
    <button ng-show='shp.permissions.can_approve_booking' class='btn btn-default' ng-click='approveBooking(shp)'>Approve Booking</button>
    <button ng-show='shp.permissions.can_confirm_booking' class='btn btn-default' ng-click='confirmBooking(shp)'>Confirm Booking</button>
    <button ng-show='shp.permissions.can_revise_booking' class='btn btn-default' ng-click='reviseBooking(shp)'>Revise Booking</button>
    <button ng-show='shp.permissions.can_add_remove_lines' class='btn btn-default' ng-click='showAddOrder()' ng-show='shp && shp.id'>Add Order</button>
    <button ng-show='shp.permissions.can_add_remove_lines' class='btn btn-default' ng-click='showProcessManifest()' ng-show='shp && shp.attachments.length > 0'>Process Manifest</button>
    <chain-ship-request-booking-button shipment='shp'></chain-ship-request-booking-button>
  </div>
</chain-loading-wrapper>
