<label for="shp_cutoff_date">{{outerScope.label('shp_cutoff_date')}}</label>
<input date-input type="date" id="shp_cutoff_date" ng-model="outerScope.tracking.shp_cutoff_date" class="form-control" />
<label for="shp_est_load_date">{{outerScope.label('shp_est_load_date')}}</label>
<input date-input type="date" id="shp_est_load_date" ng-model="outerScope.tracking.shp_est_load_date" class="form-control" />
<label for="shp_est_departure_date">{{outerScope.label('shp_est_departure_date')}}</label>
<input date-input type="date" id="shp_est_departure_date" ng-model="outerScope.tracking.shp_est_departure_date" class="form-control" />
<label for="shp_est_arrival_port_date">{{outerScope.label('shp_est_arrival_port_date')}}</label>
<input date-input type="date" id="shp_est_arrival_port_date" ng-model="outerScope.tracking.shp_est_arrival_port_date" class="form-control" />
<label for="shp_est_inland_port_date">{{outerScope.label('shp_est_inland_port_date')}}</label>
<input date-input type="date" id="shp_est_inland_port_date" ng-model="outerScope.tracking.shp_est_inland_port_date" class="form-control" />
<label for="shp_est_delivery_date">{{outerScope.label('shp_est_delivery_date')}}</label>
<input date-input type="date" id="shp_est_delivery_date" ng-model="outerScope.tracking.shp_est_delivery_date" class="form-control" />
<hr />
<label for="shp_confirmed_on_board_origin_date">{{outerScope.label('shp_confirmed_on_board_origin_date')}}</label>
<input date-input type="date" id="shp_confirmed_on_board_origin_date" ng-model="outerScope.tracking.shp_confirmed_on_board_origin_date" class="form-control" />
<label for="shp_bol_date">{{outerScope.label('shp_bol_date')}}</label>
<input date-input type="date" id="shp_bol_date" ng-model="outerScope.tracking.shp_bol_date" class="form-control" />
<label for="shp_docs_received_date">{{outerScope.label('shp_docs_received_date')}}</label>
<input date-input type="date" id="shp_docs_received_date" ng-model="outerScope.tracking.shp_docs_received_date" class="form-control" />
<label for="shp_empty_out_at_origin_date">{{outerScope.label('shp_empty_out_at_origin_date')}}</label>
<input date-input type="date" id="shp_empty_out_at_origin_date" ng-model="outerScope.tracking.shp_empty_out_at_origin_date" class="form-control" />
<label for="shp_cargo_on_hand_date">{{outerScope.label('shp_cargo_on_hand_date')}}</label>
<input date-input type="date" id="shp_cargo_on_hand_date" ng-model="outerScope.tracking.shp_cargo_on_hand_date" class="form-control" />
<label for="shp_fcr_created_final_date">{{outerScope.label('shp_fcr_created_final_date')}}</label>
<input date-input type="date" id="shp_fcr_created_final_date" ng-model="outerScope.tracking.shp_fcr_created_final_date" class="form-control" />
<label for="shp_departure_date">{{outerScope.label('shp_departure_date')}}</label>
<input date-input type="date" id="shp_departure_date" ng-model="outerScope.tracking.shp_departure_date" class="form-control" />
<label for="shp_carrier_released_date">{{outerScope.label('shp_carrier_released_date')}}</label>
<input date-input type="date" id="shp_carrier_released_date" ng-model="outerScope.tracking.shp_carrier_released_date" class="form-control" />
<label for="shp_customs_released_carrier_date">{{outerScope.label('shp_customs_released_carrier_date')}}</label>
<input date-input type="date" id="shp_customs_released_carrier_date" ng-model="outerScope.tracking.shp_customs_released_carrier_date" class="form-control" />
<label for="shp_arrival_port_date">{{outerScope.label('shp_arrival_port_date')}}</label>
<input date-input type="date" id="shp_arrival_port_date" ng-model="outerScope.tracking.shp_arrival_port_date" class="form-control" />
<label for="shp_full_container_discharge_date">{{outerScope.label('shp_full_container_discharge_date')}}</label>
<input date-input type="date" id="shp_full_container_discharge_date" ng-model="outerScope.tracking.shp_full_container_discharge_date" class="form-control" />
<label for="shp_barge_depart_date">{{outerScope.label('shp_barge_depart_date')}}</label>
<input date-input type="date" id="shp_barge_depart_date" ng-model="outerScope.tracking.shp_barge_depart_date" class="form-control" />
<label for="shp_barge_arrive_date">{{outerScope.label('shp_barge_arrive_date')}}</label>
<input date-input type="date" id="shp_barge_arrive_date" ng-model="outerScope.tracking.shp_barge_arrive_date" class="form-control" />
<label for="shp_on_rail_destination_date">{{outerScope.label('shp_on_rail_destination_date')}}</label>
<input date-input type="date" id="shp_on_rail_destination_date" ng-model="outerScope.tracking.shp_on_rail_destination_date" class="form-control" />
<label for="shp_inland_port_date">{{outerScope.label('shp_inland_port_date')}}</label>
<input date-input type="date" id="shp_inland_port_date" ng-model="outerScope.tracking.shp_inland_port_date" class="form-control" />
<label for="shp_full_ingate_date">{{outerScope.label('shp_full_ingate_date')}}</label>
<input date-input type="date" id="shp_full_ingate_date" ng-model="outerScope.tracking.shp_full_ingate_date" class="form-control" />
<label for="shp_full_out_gate_discharge_date">{{outerScope.label('shp_full_out_gate_discharge_date')}}</label>
<input date-input type="date" id="shp_full_out_gate_discharge_date" ng-model="outerScope.tracking.shp_full_out_gate_discharge_date" class="form-control" />
<label for="shp_available_for_delivery_date">{{outerScope.label('shp_available_for_delivery_date')}}</label>
<input date-input type="date" id="shp_available_for_delivery_date" ng-model="outerScope.tracking.shp_available_for_delivery_date" class="form-control" />
<label for="shp_do_issued_at">{{outerScope.label('shp_do_issued_at')}}</label>
<input date-input type="date" id="shp_do_issued_at" ng-model="outerScope.tracking.shp_do_issued_at" class="form-control" />
<label for="shp_trucker_name">{{outerScope.label('shp_trucker_name')}}</label>
<input type="text" id="shp_trucker_name" ng-model="outerScope.tracking.shp_trucker_name" class="form-control" />
<label for="shp_port_last_free_day">{{outerScope.label('shp_port_last_free_day')}}</label>
<input date-input type="date" id="shp_port_last_free_day" ng-model="outerScope.tracking.shp_port_last_free_day" class="form-control" />
<label for="shp_pickup_at">{{outerScope.label('shp_pickup_at')}}</label>
<input date-input type="date" id="shp_pickup_at" ng-model="outerScope.tracking.shp_pickup_at" class="form-control" />
<label for="shp_delivered_date">{{outerScope.label('shp_delivered_date')}}</label>
<input date-input type="date" id="shp_delivered_date" ng-model="outerScope.tracking.shp_delivered_date" class="form-control" />
<label for="shp_in_warehouse_time">{{outerScope.label('shp_in_warehouse_time')}}</label>
<div class="row">
    <div class="col-sm-6">
        <input date-input type="date" id="shp_warehouse_time_date" pattern="\d{4}-\d{2}-\d{2}" ng-pattern="/^\d{4}-\d{2}-\d{2}$/" ng-model="outerScope.tracking._shp_warehouse_time_date" class="form-control" placeholder="YYYY-MM-DD"/>
    </div>
    <div class="col-sm-6">
        <input date-input type="time" placeholder="HH:MM" id="shp_warehouse_time_hour" pattern="\d{2}:\d{2}" ng-pattern="/^\d{2}:\d{2}$/" ng_model="outerScope.tracking._shp_warehouse_time_hour" class="form-control" />
        <input date-input type="date" id="shp_warehouse_time_date" pattern="\d{4}-\d{2}-\d{2}" ng-pattern="/^\d{4}-\d{2}-\d{2}$/" ng-model="outerScope.tracking._shp_warehouse_time_date" class="col-sm-6 form-control" placeholder="YYYY-MM-DD"/>
    </div>
    <div class="col-sm-6">
        <input date-input type="time" placeholder="HH:MM" id="shp_warehouse_time_hour" pattern="\d{2}:\d{2}" ng-pattern="/^\d{2}:\d{2}$/" ng_model="outerScope.tracking._shp_warehouse_time_hour" class="col-sm-6 form-control" />
    </div>
</div>
<label for="shp_container_unloaded_date">{{outerScope.label('shp_container_unloaded_date')}}</label>
<input date-input type="date" id="shp_container_unloaded_date" ng-model="outerScope.tracking.shp_container_unloaded_date" class="form-control" />
<label for="shp_delivered_date">{{outerScope.label('shp_delivered_date')}}</label>
<input date-input type="date" id="shp_empty_return_date" ng-model="outerScope.tracking.shp_empty_return_date" class="form-control" />
<label for="shp_canceled_date">{{outerScope.label('shp_canceled_date')}}</label>
<input date-input type="date" id="shp_canceled_date" ng-model="outerScope.tracking.shp_canceled_date" class="form-control" />
