<label for="shp_est_departure_date">Est Departure Date</label>
<input type="date" id="shp_est_departure_date" ng-model="outerScope.tracking.shp_est_departure_date" class="form-control" />
<label for="shp_est_arrival_port_date">Est Arrival Date</label>
<input type="date" id="shp_est_arrival_port_date" ng-model="outerScope.tracking.shp_est_arrival_port_date" class="form-control" />
<label for="shp_est_delivery_date">Est Delivery Date</label>
<input type="date" id="shp_est_delivery_date" ng-model="outerScope.tracking.shp_est_delivery_date" class="form-control" />
<hr />
<label for="shp_docs_received_date">Docs Received Date</label>
<input type="date" id="shp_docs_received_date" ng-model="outerScope.tracking.shp_docs_received_date" class="form-control" />
<label for="shp_cargo_on_hand_date">Cargo On Hand Date</label>
<input type="date" id="shp_cargo_on_hand_date" ng-model="outerScope.tracking.shp_cargo_on_hand_date" class="form-control" />
<label for="shp_departure_date">Departure Date</label>
<input type="date" id="shp_departure_date" ng-model="outerScope.tracking.shp_departure_date" class="form-control" />
<label for="shp_arrival_port_date">Arrival Date</label>
<input type="date" id="shp_arrival_port_date" ng-model="outerScope.tracking.shp_arrival_port_date" class="form-control" />
<label for="shp_delivery_date">Delivered Date</label>
<input type="date" id="shp_delivered_date" ng-model="outerScope.tracking.shp_delivered_date" class="form-control" />
