<div class="form-group">
  <label for="shp_est_departure_date" class="control-label">Est Departure Date</label>
  <p class="form-control-static" id="shp_est_departure_date">{{outerScope.shp.shp_est_departure_date}}</p>
</div>
<div class="form-group">
  <label for="shp_est_arrival_port_date" class="control-label">Est Arrival Date</label>
  <p class="form-control-static" id="shp_est_arrival_port_date">{{outerScope.shp.shp_est_arrival_port_date}}</p>
</div>
<div class="form-group">
  <label for="shp_est_delivery_date" class="control-label">Est Delivery Date</label>
  <p class="form-control-static" id="shp_est_delivery_date">{{outerScope.shp.shp_est_delivery_date}}</p>
</div>
<div class="form-group">
  <label for="shp_docs_received_date" class="control-label">Docs Received Date</label>
  <p class="form-control-static" id="shp_docs_received_date">{{outerScope.shp.shp_docs_received_date}}</p>
</div>
<div class="form-group">
  <label for="shp_cargo_on_hand_date" class="control-label">Cargo On Hand Date</label>
  <p class="form-control-static" id="shp_cargo_on_hand_date">{{outerScope.shp.shp_cargo_on_hand_date}}</p>
</div>
<div class="form-group">
  <label for="shp_departure_date" class="control-label">Departure Date</label>
  <p class="form-control-static" id="shp_departure_date">{{outerScope.shp.shp_departure_date}}</p>
</div>
<div class="form-group">
  <label for="shp_arrival_port_date" class="control-label">Arrival Date</label>
  <p class="form-control-static" id="shp_arrival_port_date">{{outerScope.shp.shp_arrival_port_date}}</p>
</div>
<div class="form-group">
  <label for="shp_delivered_date" class="control-label">Delivered Date</label>
  <p class="form-control-static" id="shp_delivered_date">{{outerScope.shp.shp_delivered_date}}</p>
</div>
