<div class='container' ng-app='HtsApp' style='margin-top:20px;'>
  <div ng-controller='HtsCtrl'>
    <div class='row'>
      <div class='col-md-12 text-center'>
        <%=link_to image_tag('vfi_logo.png', :alt_text=>'Logo', :width=>'120px'), '/'%>
        <h1>Vandegrift HTS Lookup</h1>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12 jumbotron'>
        <p>
          <strong>Welcome</strong>
        </p> 
        <p>
          Use this screen to browse the US and Canadian tariff listings.
        </p>
        <p>
          For more information on Vandegrift's full Global Classification system, email us at <a href='mailto:corpcomm@vandegriftinc.com'>corpcomm@vandegriftinc.com</a>.
        </p>
      </div>
    </div>
    <div class='row' style='margin-top:20px; margin-bottom:20px;'>
      <div class='col-md-12 text-center'>
        <select class='form-control input-lg' id='sel-country' ng-model='country' ng-options='c.name for c in countries'>
        </select>
      </div>
    </div>
    <div ng-show="viewMode=='more-info'" class='row'>
      <div class='jumbotron'>
        <div>
          <h2>
            For more information on the {{country.name}} or any other tariff, email us at <a href='mailto:corpcomm@vandegriftinc.com'>corpcomm@vandegriftinc.com</a>.
          </h2>
        </div>
      </div>
    </div>
    <div ng-show="viewMode=='base'">
      <div class='row' ng-show='chapters.length == 0'>
        <div class='jumbotron'>
          Loading data
        </div>
      </div>
      <div ng-show='chapters.length > 0' class='row' style='font-weight:bold;'>
        <div class='col-md-1 col-md-offset-6 '>
          Unit of Measure
        </div>
        <div class='col-md-1 '>
          Common Rate
        </div>
        <div class='col-md-1 '>
          Special Rates
        </div>
        <div class='col-md-1 '>
          Col 2 Rate
        </div>
      </div>
      <div ng-repeat='ch in chapters'>
        <div class='row'>
          <div class='col-md-12'>
            <button class='btn btn-mini ' ng-hide='ch.headings.length>0' ng-click='loadChapter(country,ch)'>+</button>
            <button class='btn btn-mini ' ng-show='ch.headings.length>0' ng-click='ch.headings = []'>-</button>
            {{ch.num}}. {{ch.name}} 
          </div>
          <div ng-repeat='h in ch.headings'>
            <div class='row'>
              <div class='col-md-10 col-md-offset-1'>
                <button class='btn btn-mini ' ng-hide='h.sub_headings.length>0' ng-click='loadHeading(country,ch,h)'>+</button>
                <button class='btn btn-mini ' ng-show='h.sub_headings.length>0' ng-click='h.sub_headings = []'>-</button>
                {{h.num}}. {{h.name}}
              </div>
            </div>
            <div ng-repeat='s in h.sub_headings'>
              <div class='row'>
                <div class='col-md-10 col-md-offset-2'>
                  {{s.num}}. {{s.name}}
                </div>
              </div>
              <div ng-repeat='d in s.remaining_descriptions'>
                <div class='row'>
                  <div class='col-md-3 col-md-offset-3'>
                    {{d.num}}. {{d.name}}
                  </div>
                  <div class='col-md-1 '>
                    {{d.uom}}
                  </div>
                  <div class='col-md-1 '>
                    {{d.general}}
                  </div>
                  <div class='col-md-1 '>
                    {{d.special}}
                  </div>
                  <div class='col-md-1 '>
                    {{d.col2}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
