<h1>Active Users</h1>
<table class='detail_table'>
<thead><tr><th>User</th><th>Last Action</th></tr></thead>
<tbody>
  <%@users.each do |u|%>
    <tr class='hover'><td><%=u.full_name%></td><td><%=u.last_request_at%></td></tr>
  <%end%>
</tbody>
</table>
<%=will_paginate @users%>
