<h2><%= link_to 'Companies', companies_path%></h2>
<p>Click to setup or edit your company description or your vendors and carriers.</p>
<h2><%= link_to 'File Formats', import_configs_path %></h2>
<p>Click to setup the file formats that you can use to upload or download Orders, Shipments, and Products from another system or spreadsheet.</p>
<h2><%= link_to 'Custom Fields', custom_definitions_path %></h2>
<p>Click to add custom fields to the system.</p>
