<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VFI Track</title>
  <%= app_internals(MasterSetup.get) %>
  <%= stylesheet_link_tag    "chain_admin", :media => "all" -%>
  <%= javascript_include_tag "chain_admin" -%>
  </head>
<body>
  <% body_tag(master_setup, current_user, run_as_user) %>
  <% if current_user %>
    <%= render "shared/nav_panel" %>
  <% end %>
  <div ng-app='ChainAdmin' id='main-content'>
    <div ui-view></div>
    <chain-errors></chain-errors>
  </div>
</body>
</html>
