  <%if !MasterSetup.get.custom_features_list.blank?%>
    <h2><a href='/custom_features'>Custom Features</a></h2>
    <p>Custom features enabled for your company.</p>
  <%end%>
  <%if !current_user.instant_classification_results.blank?%>
    <h2><a href='/instant_classification_results'>Instant Classification Results</a></h2>
    <p>View the results of the instant classification jobs you've run.</p>
  <%end%>
  <% if current_user.admin? %>
    <h2><a href='/settings'>Settings</a></h2>
    <p>Adjust administrative system settings</p>
  <%end%>
  <% if current_user.view_official_tariffs?-%>
    <h2><a href='/official_tariffs'>Tariff Database</a></h2>
    <p>Search the tariff regulations database.</p>
  <%end-%>
  <% if current_user.view_projects?%>
    <h2><a href='/projects'>Projects</a></h2>
    <p>View the project portfolio</p>
  <% end %>
  <% if current_user.view_entries? and current_user.company.master? %>
    <h2><a href='/part_number_correlations'>HTS Lookup</a></h2>
    <p>Find prior tariff information for products.</p>
  <% end %>
</div>
