@import "../../vfi_colors";

.maersksecondary {
  color: $ultra-dark-gray;
  font-family: 'Maersk Headline Light','-apple-system',BlinkMacSystemFont,'Microsoft Yahei','\\5FAE软雅黑',STXihei,'\\534E文细黑',sans-serif;
}
h1 {
  font-size: 5em;
  font-weight: lighter;
  font-family: 'Maersk Headline','-apple-system',BlinkMacSystemFont,'Microsoft Yahei','\\5FAE软雅黑',STXihei,'\\534E文细黑',sans-serif;
}
h2 {
  font-size: 2.55em;
  font-weight: lighter;
  font-family: 'Maersk Headline','-apple-system',BlinkMacSystemFont,'Microsoft Yahei','\\5FAE软雅黑',STXihei,'\\534E文细黑',sans-serif;
}
h3 {
  font-size: 1.65em;
  font-weight: normal;
  font-family: 'Maersk Headline','-apple-system',BlinkMacSystemFont,'Microsoft Yahei','\\5FAE软雅黑',STXihei,'\\534E文细黑',sans-serif;
}
h4 {
  font-size: 1.25em;
  font-weight: normal;
  font-family: 'Maersk Headline','-apple-system',BlinkMacSystemFont,'Microsoft Yahei','\\5FAE软雅黑',STXihei,'\\534E文细黑',sans-serif;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  font-family: 'Maersk Text','-apple-system',BlinkMacSystemFont,'Microsoft Yahei','\\5FAE软雅黑',STXihei,'\\534E文细黑',sans-serif;
}

body {
  font-family: 'Maersk Text';
  position: relative;
}

.card {
  background-color: rgba(255,255,255,0.8);
  min-height: 100%;
}
.bottomaffix {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  z-index: 1020;
}
.bottomaffix a img {
  max-height: 2em;
}
#twitterbox {background-color: #1cb7eb}
#facebookbox {background-color: #4e71a8}
#linkedinbox {background-color: #3f6472}
#news-header {color: #000000}
.btn-primary {
  background-color: $vfi_primary;
  border-color: #FFFFFF;
}
.btn-primary:hover {
  background-color: #108ad5;
  border-color: #2aa3ef;
}
.btn-warning {
  color: #FFFFFF;
  background-color: #F0BA43;
  border-color: #eeb02b;
}
.btn-warning:hover {
  color: #FFFFFF;
  background-color: #eca713;
  border-color: #d49711;
}
.sideaffix {
  z-index: 1020;
  position: fixed;
  bottom: 0.5em;
  max-width: 72px;
}
.sideaffix a img {
  max-height: 4em;
}
@media (min-width: 768px) {
  .bottomaffix{display: none}
}
@media (max-width: 769px) {
  .sideaffix{display: none}
}
@font-face {
  font-family: 'Maersk Text';
  src: url('../fonts/MaerskText-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Maersk Headline';
  src: url('../fonts/MaerskHeadline-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Maersk Headline Light';
  src: url('../fonts/MaerskHeadline-Light.woff2');
  font-weight: normal;
  font-style: normal;
}
/*Copied from Maersk login page*/
.btn-maersk {
    color: #fff;
    background-color: #69B8D6;
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .01em;
    font-family: 'Maersk Text','-apple-system',BlinkMacSystemFont,'Microsoft Yahei','\\5FAE软雅黑',STXihei,'\\534E文细黑',sans-serif;
}
.btn-maersk:hover {
    color: #fff;
    background-color: #51A4C4;
}
