<table>
  <%=field_row "Type", @bulk_process_log.bulk_type%>
  <%=field_row "Processed At", @bulk_process_log.finished_at%>
  <%=field_row "Number of Changes", @bulk_process_log.changed_object_count%>
</table>
<br />
<br />
<%=render :partial=>'file_import_results/change_records', :locals=>{:change_records=>@change_records, :messages_url=>messages_bulk_process_log_path(@bulk_process_log)} %>
