<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul>
        <%@workflow_instances.each do |wi|%>
          <li>
            <%=wi.id%>
            <ul>
              <%wi.workflow_tasks.each do |wt|%>
                <li><%=wt.name%></li>
              <%end%>
            </ul>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
</div>