<%content_for :javascript do%>
  $('document').ready(function() {
    $('div[ng-controller]').scope().loadObject('orders', <%=@validation_object.id%>);
  });
<%end%>
<%content_for :action_bar do%>
  <button class='btn_link' link_to='<%=order_path(@validation_object)%>'>Order</button>
  <button class='btn_link' link_to='<%=polymorphic_action(@validation_object, 'business_rule_snapshots')%>' key_map='h' title='Business Rule History'><i class='fa fa-history'></i></button>
<%end%>

<%= render 'shared/validation_results' %>