<div ng-app='ProjectApp' ng-init='projectId = <%=@project_id%>; userId=<%=current_user.id%>'>
  <div ng-controller='ProjectCtrl'>
    <chain-panel panel-title='Loading' panel-type='panel-primary' panel-message='svc.loadingMessage'></chain-panel>
    <chain-panel panel-title='Error' panel-type='panel-danger' panel-message='svc.errorMessage'></chain-panel>
    <div class="container" ng-show='svc.project'>
      <div class="row" ng-show='svc.project.red_messages && svc.project.red_messages.length > 0'>
        <div class="col-md-8 col-md-offset-2">
          <div class="alert alert-danger">
            <p ng-repeat='m in svc.project.red_messages'>
              {{m}}
            </p>
          </div>
        </div>
      </div>
      <form class='form-horizontal' role='form'>
        <div ng-show='svc.project.closed_at'>
          <chain-panel panel-title='Closed' panel-type='panel-info' panel-message='"Project is closed."'></chain-panel>
        </div>
        <div class='row'>
          <div class='col-md-12'>
            &nbsp;<span class='label label-info' ng-show='svc.project.saving'>Saving</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="inpName">Name</label>
          <div class='col-sm-10'>
            <input ng-blur='saveProject()' class="form-control input-lg" id='inpName' type="text" ng-model="svc.project.name" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="inpDue">Due</label>
          <div class='col-sm-10'>
            <input ng-blur='saveProject()' class='form-control' type="date" ng-model='svc.project.due' id='inpDue' />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="inpObjective">Objective</label>
          <div class='col-sm-10'>
            <textarea ng-blur='saveProject()' class='form-control' placeholder="The project will be done when..." ng-model='svc.project.objective' id='inpObjective'></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="inpDriveFolder">Google Drive Folder</label>
          <div class='col-sm-9'>
            <input ng-blur='saveProject()' class='form-control' placeholder="Enter hyperlink address to Google Drive folder for this project's documents" type="url" ng-model='svc.project.drive_folder' id='inpDriveFolder' />
          </div>
          <div class='col-sm-1'>
            <a ng-href='{{svc.project.drive_folder}}' target='_blank' ng-show='svc.project.drive_folder.length > 0'><span class="glyphicon glyphicon-link"></span></a>
          </div>
        </div>
      </form>
      <div class='row'>
        <div class="col-md-6">
          <h2>Updates</h2>
          <div>
            <textarea id="" name="" cols="30" rows="10" ng-model="addUpdateBody" class='form-control' placeholder='Enter new update'></textarea>
            <button ng-click="addProjectUpdate()" ng-show="addUpdateBody.length>0" class='btn btn-primary'>Add Update</button>
          </div>
          <div ng-repeat="u in svc.project.project_updates">
            <div><span ng-show='u.saving' class='label label-info'>Saving</span>&nbsp;</div>
            <pre ng-hide='u.edit'>{{u.body}}</pre>
            <textarea ng-model='u.body' ng-show='u.edit' class='form-control'></textarea>
            <span>{{u.created_by_name}} - {{u.updated_at}}</span>
            <button ng-click='u.edit=true' ng-show='userId==u.created_by_id && !u.edit'>Edit</button>
            <button ng-click='editProjectUpdate(u)' ng-show='u.edit'>Save</button>
            <button ng-click='u.edit=false' ng-show='u.edit'>Cancel</button>
          </div>
        </div>
        <div class="col-md-6">
          <h2>Deliverables</h2>
          <div ng-repeat='d in svc.project.project_deliverables | deliverableSort'> 
            <div>
              <span ng-class="{'strike':d.complete}">{{d.description}}</span> <span class='label label-default'>{{d.assigned_to_name}}</span> <span class='label label-primary'>{{d.due_date}}</span> <button class='btn btn-sm btn-default' ng-click='d.edit=!d.edit'>Edit</button>
            </div>
            <div ng-show='d.edit' class='panel' ng-class="{'panel-default': d.complete, 'panel-primary': !d.complete}">
              <div class='panel-body'>
                <input type='text' ng-model='d.description' class='form-control' />
                Assigned To:
                <div chain-user-list='d.assigned_to_id'></div>
                Due:
                <input type='date' ng-model='d.due_date' class='form-control' />
                Start:
                <input type='date' ng-model='d.start_date' class='form-control' />
                End:
                <input type='date' ng-model='d.end_date' class='form-control' />
                Estimated Hours:
                <input type='number' ng-model='d.estimated_hours' min='0' step='1' class='form-control' />
                Complete:
                <input type='checkbox' ng-model='d.complete' />
              </div>
              <div class='panel-footer'>
                <button ng-click='saveDeliverable(d)' class='btn btn-default btn-sm'>Save</button>
                &nbsp;
                <span class='label label-info' ng-show='d.saving'>Saving</span>
              </div>
            </div>
          </div>
          <div><button ng-click="addDeliverable()" class='btn btn-primary'>Add</button></div>
        </div>
      </div>
    </div>
    <div chain-action-bar>
      <button class='btn btn-default btn_link' link_to='<%=projects_path%>'>Back</button> 
      <button class='btn btn-default' ng-click='toggleClose()' ng-show='svc.project'>{{svc.project && svc.project.closed_at | ifTrue : 'Re-open' : 'Close'}} Project</button>
    </div>
  </div>
</div>
