<div ng-app='ProjectApp' ng-init='projectId = <%=@project_id%>; userId=<%=current_user.id%>'>
  <div ng-controller='ProjectCtrl'>
    <chain-panel panel-title='Loading' panel-type='panel-primary' panel-message='svc.loadingMessage'></chain-panel>
    <chain-panel panel-title='Error' panel-type='panel-danger' panel-message='svc.errorMessage'></chain-panel>
    <div class="container" ng-show='svc.project'>
      <div class="row" ng-show='svc.project.red_messages && svc.project.red_messages.length > 0'>
        <div class="col-md-8 col-md-offset-2">
          <div class="alert alert-danger">
            <p ng-repeat='m in svc.project.red_messages'>
              {{m}}
            </p>
          </div>
        </div>
      </div>
      <form class='form-horizontal' role='form'>
        <div ng-show='svc.project.closed_at'>
          <chain-panel panel-title='Closed' panel-type='panel-info' panel-message='"Project is closed."'></chain-panel>
        </div>
        <div class='row'>
          <div class='col-md-12'>
            &nbsp;<span class='label label-info' ng-show='svc.project.saving'>Saving</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="inpName">Name</label>
          <div class='col-sm-10'>
            <input ng-blur='saveProject()' class="form-control input-lg" id='inpName' type="text" ng-model="svc.project.name" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="inpDue">Due</label>
          <div class='col-sm-10'>
            <input ng-blur='saveProject()' class='form-control' type="date" ng-model='svc.project.due' id='inpDue' />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="inpObjective">Objective</label>
          <div class='col-sm-10'>
            <textarea ng-blur='saveProject()' class='form-control' placeholder="The project will be done when..." ng-model='svc.project.objective' id='inpObjective'></textarea>
          </div>
        </div>
        <div class='form-group'>
          <label class="col-sm-2 control-label">Project Sets</label>
          <div class='col-sm-10'>
            <div ng-hide='projectSetAdd'>
              <span ng-repeat='ps in svc.project.project_sets'><span class='label label-default'>{{ps.name}} <a href='' ng-click='removeProjectSet(ps)'>x</a></span> &nbsp; </span>
              <button class='btn btn-xs btn-success' ng-click='projectSetAdd=true'>Add Project Set</button>
            </div>
            <div ng-show='projectSetAdd'>
              <input ng-model='projectSetToAdd' type='text' />
              <button class='btn btn-xs btn-primary' ng-click='addProjectSet()' ng-show='projectSetToAdd && projectSetToAdd.length > 0'>Add</button>
              <button class='btn btn-xs btn-default' ng-click='projectSetAdd=undefined'>Cancel</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="inpDriveFolder">Google Drive Folder</label>
          <div class='col-sm-9'>
            <input ng-blur='saveProject()' class='form-control' placeholder="Enter hyperlink address to Google Drive folder for this project's documents" type="url" ng-model='svc.project.drive_folder' id='inpDriveFolder' />
          </div>
          <div class='col-sm-1'>
            <a ng-href='{{svc.project.drive_folder}}' target='_blank' ng-show='svc.project.drive_folder.length > 0'><span class="glyphicon glyphicon-link"></span></a>
          </div>
        </div>
      </form>
      <div class='row'>
        <div class="col-md-6">
          <h2>Updates</h2>
          <div style='margin-bottom:20px;'>
            <textarea id="" name="" cols="30" rows="10" ng-model="addUpdateBody" class='form-control' placeholder='Enter new update'></textarea>
            <button ng-click="addProjectUpdate()" ng-show="addUpdateBody.length>0" class='btn btn-primary'>Add Update</button>
          </div>
          <div ng-repeat="u in svc.project.project_updates" class='panel panel-default'>
            <div class='panel-heading'>
              <span>{{u.created_by_name}} - {{u.updated_at}}</span>
            </div>
            <div class='panel-body'>
              <div><span ng-show='u.saving' class='label label-info'>Saving</span>&nbsp;</div>
              <div ng-hide='u.edit'>
                <chain-textile-view ng-model='u.body'></chain-textile-view>
              </div>
              <div ng-show='u.edit'>
                <chain-textile-edit ng-model='u.body'></chain-textile-edit>
              </div>
            </div>
            <div class='panel-footer'>
              <button class='btn btn-sm btn-default' ng-click='u.edit=true' ng-show='userId==u.created_by_id && !u.edit'>Edit</button>
              <button class='btn btn-sm btn-success' ng-click='editProjectUpdate(u)' ng-show='u.edit'>Save</button>
              <button class='btn btn-sm btn-default' ng-click='u.edit=false' ng-show='u.edit'>Cancel</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h2>Deliverables</h2>
          <div ng-repeat='d in svc.project.project_deliverables | deliverableSort'> 
            <div chain-project-deliverable='d' project='svc.project' save-promise-callback='handleSaveDeliverable'></div>
          </div>
          <div><button ng-click="addDeliverable()" class='btn btn-primary'>Add</button></div>
        </div>
      </div>
    </div>
    <div chain-action-bar>
      <button class='btn btn-default btn_link' link_to='<%=projects_path%>'>Projects</button> 
      <button class='btn btn-default' ng-click='toggleClose()' ng-show='svc.project'>{{svc.project && svc.project.closed_at | ifTrue : 'Re-open' : 'Close'}} Project</button>
      <button class='btn btn-default' ng-click='toggleOnHold()' ng-show='svc.project && !svc.project.closed_at'>{{svc.project && svc.project.on_hold | ifTrue: 'Lift Hold' : 'Place on Hold'}}</button>
      <button class='btn btn-default btn_link' ng-click='previousProject()'>Previous</button>
      <button class='btn btn-default btn_link' ng-click='nextProject()'>Next</button>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    Chain.onBeforeUnload(function(evt) {
      return $('div[ng-controller]').scope().unloadWarning(); 
    });
  });
</script>
