<% content_for :javascript do %>
  $(function() {
    $( "#btn_new" )
      .button()
      .click(function() {
        window.location = '<%=new_import_config_path%>';
      });
  });
<% end %>

<table class='detail_table'>
  <thead>
    <th>Name</th>
    <th>Type</th>
    <th>File Format</th>
  </thead>

<% @import_configs.each do |import_config| %>
  <tr class='hover'>
    <td><%= link_to import_config.name, edit_import_config_path(import_config) %></td>
    <td><%= import_config.model_type %></td>
    <td><%= import_config.file_type %></td>
  </tr>
<% end %>
</table>

<br />

<button id='btn_new'>New</button>
