<% content_for :action_bar do%>
  <button class='btn_link' link_to='<%=broker_invoices_path%>' key_map='b'>Back To Search</button>
<% end%>
<%= show_model_fields @invoice, CoreModule::BROKER_INVOICE.model_fields.values %>
<h2>Lines</h2>
<hr />
<% line_fields = CoreModule::BROKER_INVOICE_LINE.model_fields.values %>
<% @invoice.broker_invoice_lines.each do |line| %>
  <%= show_model_fields line, line_fields %>
  <hr />
<% end %>

