<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VFI Track - Vendor Setup</title>
  <%= app_internals(MasterSetup.get) %>
  <%= stylesheet_link_tag    "chain_vendor_maint", :media => "all" -%>
  <%= javascript_include_tag "chain_vendor_maint" -%>
  </head>
<% body_tag(master_setup, current_user, run_as_user) %>
  <% if current_user %>
    <%= render "shared/nav_panel" %>
  <% end %>
  <div ng-app='ChainVendorMaint'>
    <div ui-view></div>
    <chain-errors></chain-errors>
  </div>
</body>
</html>
