<div class='container-fluid'>
  <div class='row'>
    <div class="col-xs-8">
      <input type='text' class='form-control' id='name-filter' data-infinite-table-filter='#survey-responses' data-infinite-table-param='q' placeholder='Filter by name'/>
    </div>
    <div class="col-xs-4">
      <button data-infinite-table-reset='#survey-responses' class='btn btn-sm btn-default'>
        Filter
      </button>
    </div>
  </div>
  <table class='detail_table' id='survey-responses' data-infinite-table-src='/vendors/<%=@company.id%>/survey_responses'>
    <thead>
      <tr>
        <th></th>
        <th>Survey Name</th>
      </tr>
    </thead>
    <tbody>
        <%=render :partial=>'survey_response_rows', locals:{survey_responses:@survey_responses}%>
    </tbody>
  </table>
  <div><button data-infinite-table-target='#survey-responses' class='btn btn-link btn-lg btn-block'>Load More</button></div>
</div>