div.schedule-display {
  border-color: black;
}
#select_search {
  margin-bottom:10px;
}
#search-setup-actions {
  margin-top: 1em;
}
table.table-condensed tbody tr td, th {
  padding: 0.2em !important;
  vertical-align: middle !important;
}
table.table-condensed tbody td.min_width {
  width: 30px !important;
}
table.table-condensed tbody td.action_cell a {
  padding: 0px 3px;
}
