$light_gray: #ccc;
$dark_gray: #333;
.quick_class_outer {
  width:924;
  height:550px;
  margin:0;
  padding:0;
  border:1px solid black;
}

.icon-container {
  width: 16px;
  display: inline-block;
}

i.fa-check-circle {
  color: #28a744;
  transform: scale(1.2);
}

i.fa-times-circle {
  color: #dc3545;
  transform: scale(1.2);
}

i.fa-question-circle {
  color: #0073AB;
  transform: scale(1.2);
}

i.fa-exclamation-triangle {
  color: #f0ba43;
  transform: scale(1.2);
}

#quick_class_countries {
  width:288px;
  height: 550px;
  margin: 0;
  border-right: 1px solid black;
  overflow-x: hidden;
  overflow-y: auto;
}

#quick_class_content {
  width:625px;
  float:right;
  margin: 0;
}
#quick_class_content .auto-class-container {
  margin: 5px 0px;
  border-bottom: 1px solid $light_gray;
}
#quick_class_table tr {
  background-position: left;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border-top: 1px dotted transparent;
  border-bottom: 1px dotted transparent;
  &:hover {
    background-color: #dee2e6;
  }
  padding: 5px 5px 5px 5px;
}

#quick_class_table tr.selected {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

div.quick_class_target {
  width:622px;
  margin:0;
  padding-right:5px;
  display: none;
  height: 550px;
  overflow-y: auto;
}

.auto-class-title {
  background-color: $dark_gray;
  color:white;
  font-size: 90%;
  margin: 5px 0px;
  padding-left: 2px;
}

.tariff-header {
  background-color: #62bcf3;
  color: black;
  font-size: 90%;
  margin: 5px 0px;
  padding-left: 2px;
}

.badge-info {
  color: black;
  background-color: #62bcf3;
}

td .quick_class_country {
  padding-left: 5px;
  padding-right: 10px;
}

td.tariff-list {
  padding-right: 23px;
}

table#quick_class_table {
  width: 288px;
}

table#quick_class_table td {
  vertical-align: top;
}

.ui-autocomplete {
  width: 400px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}
