<%content_for :action_bar do %>
  <button class='btn_link' link_to='<%=new_survey_path%>'>New</button>
  <button class='btn_link' link_to='<%=surveys_path(show_archived:true)%>'>List Archived Surveys</button>
<% end%>
<h1>Surveys</h1>
<%=render partial: 'list', locals:{surveys:@surveys}%>

<% if defined?(@archived_surveys) %>
  <h1>Archived Surveys</h1>
  <%=render partial: 'list', locals:{surveys:@archived_surveys}%>
<% end %>
