<%content_for :javascript do -%>
$(function() {
  $(document).ready(function() {
    <%if current_user.view_entries? && !current_user.hide_message?('wh3')-%>

      $("#what-happened").modal();
      $("#never-show").click(function() {
        $("#what-happened").modal('hide');
        Chain.hideMessage('wh3');
      });
      $("#what-happened-close").click(function() {
        $("#what-happened").modal('hide');
      });
    <%end-%>
    $("#btn_tour").click(function() {
      bootstro.start('',{items:[
         {selector:'#leftnav',placement:'bottom',content:'Move between system modules and build custom searches here.'},
         {selector:'#menu_dropdown',placement:'bottom',content:'Manage your account and access extra settings here.'},
         {selector:'#quick_search_input',placement:'bottom',content:'Search for items here.'},
         {selector:'#nav-help-anchor',placement:'top',content:"Each page's action buttons are down here.",width:'400px'}
        ]});
    });
    $(".widget_box").each(function() {
      $(this).scope().loadWidget($(this).attr('widget-id'))
    })
  });
});
<%end-%>
<%content_for :action_bar do -%>
  <span id='nav-help-anchor'>&nbsp;</span>
  <%unless current_user.search_setups.empty? -%>
    <button class='btn_link' link_to='<%=edit_dashboard_widgets_path%>'>Setup</button>
  <%end-%>
<%end-%>
<div id='ng-app' ng-app='DashboardApp'>
  <div chain-messages errors='errors' notices='notices'></div>
  <%if @widgets.blank? -%>
    <div class='container'>
      <div class='row'>
        <div class='col-md-12 jumbotron'>
          <h1>Welcome!</h1>
          <% if current_user.search_setups.empty? -%>
            <p>This is your personal dashboard. Once you've setup some searches, you'll be able to add them here.</p>
          <% elsif @widgets.empty? -%>
            <p>Click the setup link at the bottom of the page to add some of your searches to your dashboard.</p>
          <% end -%>
          <p>
            <button id='btn_tour' class='btn btn-lg btn-primary'>Click for a quick tour</button>
          </p>
        </div>
      </div>
    </div>
  <%else-%>
    <h1 class='text-center'>Dashboard</h1>
    <%@widgets.each do |w| -%>
      <div ng-controller='DashboardViewController' class='widget_box' widget-id='<%=w.search_setup_id%>'>
        <h2 ng-show='widget.name' class='widget_heading' >{{widget.name}} - {{widget.core_module_name}}</h2>
        <div chain-search-result='widget' per-page='perPage' page='page' no-chrome='true' src='/advanced_search/'></div>
        <a ng-show='widget.name' class='action_link' href='/advanced_search/<%=w.search_setup_id%>'>More</a>
      </div>
    <%end -%>
  <%end -%>
</div>
<%if current_user.view_entries? && !current_user.hide_message?('wh3')-%>
  <div id='what-happened' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h3>New Feature: Browse Entries</h3>
        </div>
        <div class='modal-body'>
          <p>
            The new browse entries screen gives you a quick summary view of all of your entry activity as well as fast access to your active shipments.
          </p>
          <p>
            The US &amp; Canadian screens show you...
          </p>
          <ul>
            <li>Open Entries</li>
            <li>Monthly Statement / K84 Summaries</li>
            <li>Port &amp; Top Vendor breakouts</li>
            <li>Year To Date Summaries</li>
          </ul>
          <p>
            You can find the new screens by clicking <a href='/entries/activity_summary/us'>Browse - US</a> or <a href='/entries/activity_summary/ca'>Browse - CA</a> from the Entries menu.
          </p>
        </div>
        <div class='modal-footer'>
          <button class='btn' id='never-show'>Never Show This Again</button>
          <button class='btn btn-primary' id='what-happened-close'>Close</button>
        </div>
      </div>
    </div>
  </div>
<%end-%>
