<h1>Surveys</h1>
<table class='detail_table'>
  <thead><tr><th>Survey</th><th>Label</th><th>Status</th></tr></thead>
  <tbody>
<%@survey_responses.each do |s|%>
<tr><td><%= link_to s.survey.name, s%></td><td><%=s.subtitle%></td><td><%=s.status%></td></tr>
<%end%>
  </tbody>
</table>
<%if @survey_responses.empty?%>
  <p><em>You do not have any surveys assigned.</em></p>
<%end%>
