<style>
  label {
    font-weight: bold;
  }
</style>
<div ng-app='SurveyResponseApp'>
  <div class='container' ng-controller='srController'>
    <div class='row text-center' style='margin-bottom:20px;'>
      <div class='span12'>
        <h1>{{resp.survey.name}} <span ng-show='resp.subtitle.length>0'> - {{resp.subtitle}}</span></h1>
      </div>
    </div>
    <div class='row'>
      <div class='span2'>
        <strong>Rating:</strong>
      </div>
      <div class='span10'>
        <span ng-hide='resp.can_rate'>{{resp.rating}}</span>
        <span ng-hide='resp.rating.length>0 || resp.can_rate'>Not Rated</span>
        <select ng-show='resp.can_rate' ng-model='resp.rating' ng-options='v for v in resp.survey.rating_values'></select>
      </div>
    </div>
    <fieldset>
      <div class='row'>
        <div class='span12'>
          <legend class='text-info'>
            Contact Information (required)
          </legend>
        </div>
      </div>
      <div class='row'>
        <div class='span6'>
          <label for='ci-name'>Your Name</label>
          <input id='ci-name' type='text' ng-model='resp.name' ng-disabled='!resp.can_answer' />
          <label for='ci-address'>Address</label>
          <textarea id='ci-address' ng-model='resp.address' ng-disabled='!resp.can_answer'></textarea>
        </div>
        <div class='span6'>
          <label for='ci-phone'>Phone</label>
          <input id='ci-phone' type='tel' ng-model='resp.phone' ng-disabled='!resp.can_answer' />
          <label for='ci-email'>Email</label>
          <input id='ci-email' type='email' ng-model='resp.email' ng-disabled='!resp.can_answer' />
          <label for='ci-fax'>Fax</label>
          <input id='ci-fax' type='tel' ng-model='resp.fax' ng-disabled='!resp.can_answer' />
        </div>
      </div>
    </fieldset>
    <div ng-repeat='answer in resp.answers'>
      <div class='row'>
        <div class='span12'>
          <legend class='text-info'>
            Question #{{answer.sort_number}}
          </legend>
        </div>
      </div>
      <div class='row'>
        <div class='span12'>
          <span ng-bind-html-unsafe='answer.question.html_content'></span>
        </div>
      </div>
      <div class='row' style='margin-bottom:15px;'>
        <div class='span6' ng-show='answer.question.choices.length>0'>
          <label>Multiple Choice Answer</label>
          <span ng-hide='resp.can_answer'>{{answer.choice}}</span>
          <select ng-show='resp.can_answer' ng-model='answer.choice' ng-options='c for c in answer.question.choices'></select>
        </div>
        <div class='span6' ng-show='answer.question.choices.length>0'>
          <label>Rating</label>
          <span ng-hide='resp.can_rate'>{{answer.rating}}</span>
          <select ng-show='resp.can_rate' ng-model='answer.rating' ng-options='v for v in resp.survey.rating_values'></select>
        </div>
      </div>
      <div class='row' ng-repeat='com in answer.answer_comments'>
        <div class='span12 muted'>
          <strong>{{com.user.full_name}}</strong> wrote at {{com.created_at}}:
        </div>
        <div class='span12'>
          {{com.content}}
        </div>
      </div>
      <div class='row'>
        <div class='span12'>
          <label for='new_comment'>New Comment:</label>
          <textarea id='new_comment' ng-model='answer.new_comment' rows='5' style='width:100%;'></textarea>
          <div class='pull-right'>
            <input type='checkbox' ng-model='answer.new_comment_private' /> private
          </div>
          <div>
            <button class='btn btn-small' ng-click='addComment(answer)'>Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
