<%content_for :javascript do %>
$(function() {
  $("#btn_new").click(function() {window.location = '<%=new_milestone_plan_path%>';})
});
<%end%>
<%content_for :action_bar do %>
  <button id='btn_new'>New</button>
<%end%>
<% @plans.each do |p| %>
<div>
Plan: <%=link_to p.name, p %>, Rank: <%=p.test_rank%>, Direction: <%=p.direction%> 
</div>
<% end %>
