<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 style="margin: 0">Purchase Order</h3>
      <h1 style="margin: 0">{{order.ord_ord_num}}</h1>
    </div>
  </div>
  <div class="row" ng-if='order[dictionary.fieldsByAttribute("label","Cancelled Date",dictionary.fieldsByRecordType(dictionary.recordTypes.Order))[0].uid].length > 0'>
    <div class="col-md-12">
      <div class="alert alert-danger">This order was <strong>cancelled</strong> on {{order[dictionary.fieldsByAttribute("label","Cancelled Date",dictionary.fieldsByRecordType(dictionary.recordTypes.Order))[0].uid]}}.</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="card">
          <div class="card-header">
          </div>
          <ul class='list-group'>
            <li class='list-group-item'>
              Issue Date <span class='float-right'>{{order.ord_ord_date}}</span>
            </li>
            <li class='list-group-item' ng-if='order.ord_window_start && order.ord_window_start==order.ord_window_end'>
              Delivery Date <span class='float-right'>{{order.ord_window_start}}</span>
            </li>
            <li class='list-group-item' ng-if='order.ord_window_start && order.ord_window_start!=order.ord_window_end'>
              Contractual Ship Window Start <span class='float-right'>{{order.ord_window_start}}</span>
            </li>
            <li class='list-group-item' ng-if='order.ord_window_end && order.ord_window_start!=order.ord_window_end'>
              Contractual Ship Window End <span class='float-right'>{{order.ord_window_end}}</span>
            </li>
            <li class='list-group-item'>
              Production Start Date - Planned
              <div>
                <chain-field-input model="order" field="dictionary.fieldsByAttribute('label','Production Start Date - Planned',dictionary.fieldsByRecordType(dictionary.recordTypes.Order))[0]" input-class="form-control"></chain-field-input>
              </div>
            </li>
            <li class='list-group-item'>
              Forecasted Ship Window Start
              <span class="float-right">{{order[dictionary.fieldsByAttribute('label','Forecasted Ship Window Start',dictionary.fieldsByRecordType(dictionary.recordTypes.Order))[0].uid]}}</span>
            </li>
            <li class='list-group-item'>
              Forecasted Ship Window End
              <span class="float-right">{{order[dictionary.fieldsByAttribute('label','Forecasted Ship Window End',dictionary.fieldsByRecordType(dictionary.recordTypes.Order))[0].uid]}}</span>
            </li>
            <li class='list-group-item'>
              Compliance Docs Posted Date
              <span class="float-right">{{order[dictionary.fieldsByAttribute('label','Compliance Docs Posted Date',dictionary.fieldsByRecordType(dictionary.recordTypes.Order))[0].uid]}}</span>
            </li>
            <li class='list-group-item'>
              Compliance Docs Posted By
              <span class="float-right">{{order[dictionary.fieldsByAttribute('label','Compliance Docs Posted By (Name)',dictionary.fieldsByRecordType(dictionary.recordTypes.Order))[0].uid]}}</span>
            </li>
            <li class="list-group-item">
              Vendor No.
              <span class="float-right">{{order.ord_ven_syscode}}</span>
            </li>
            <li class="list-group-item">
              Vendor Name
              <span class="float-right">{{order.ord_ven_name}}</span>
            </li>
            <li class="list-group-item">
              Currency
              <span class="float-right">{{order.ord_currency}}</span>
            </li>
            <li class="list-group-item">
              Terms of Payment
              <span class="float-right">{{order.ord_payment_terms}}</span>
            </li>
            <li class="list-group-item">
              Terms of Delivery
              <span class="float-right">{{order.ord_terms}}</span>
            </li>
            <li class="list-group-item">
              Delivery Location
              <span class="float-right">{{order.ord_fob_point}}</span>
            </li>
            <li class="list-group-item">
              BOL Number
              <span class="float-right">{{order[dictionary.fieldsByAttribute('label','BOL Number',dictionary.fieldsByRecordType(dictionary.recordTypes.Order))[0].uid]}}</span>
            </li>
            <li class="list-group-item">
              Est Departure
              <span class="float-right">{{order[dictionary.fieldsByAttribute('label','ASN - Est Departure',dictionary.fieldsByRecordType(dictionary.recordTypes.Order))[0].uid]}}</span>
            </li>
          </ul>
          <div class="card-footer text-right" ng-if='order.permissions.can_edit'>
            <button class='btn btn-sm btn-secondary' title='Save' ng-click='save(order)'><i class='fa fa-save'></i></button>
          </div>
      </div>
      <div class="card">
          <div class="card-header">Order Status</div>
          <ul class='list-group'>
            <li class='list-group-item'>
              Business Rules
              <span class='float-right'>
                <chain-business-rules-basic-modal core-object='order' module-type='Order'></chain-business-rules-basic-modal>
              </span>
            </li>
            <li class='list-group-item'>
              Vendor Approval
              <span class='float-right {{order.ord_approval_status=="Accepted" ? "text-success" : ""}}'>
                {{order.ord_approval_status}}
                <a class='label label-default' ng-if='!order.permissions.can_be_accepted && order.ord_approval_status!="Accepted"' data-toggle="modal" data-target="#mod_cant_be_accepted">
                  Not Ready
                </a>
                <order-accept-button></order-accept-button>
              </span>
            </li>
            <li class='list-group-item'>
              Ship From Selection
              <span class='float-right'>
                <i class='fa fa-check-square text-success' ng-show='order.ord_ship_from_id>0'></i>
                <i class="fa fa-clock-o" ng-show='!order.ord_ship_from_id && (!order.permissions.can_edit || order.vendor_id != me.company_id)'></i>
                <a ui-sref='selectShipFrom({id:order.id})' ng-show='order.permissions.can_edit && order.vendor_id == me.company_id && !order.ord_ship_from_id'>
                  <i class="fa fa-square-o"></i>
                </a>
              </span>
            <li class='list-group-item' ng-if="me.permissions.view_shipments">
              Bookings
              <div class='text-right'>
                <ll-bookings order='order' booking-fields="['shp_ref', 'shp_first_port_receipt_code', 'ord_ord_num', 'shp_ship_to_address_full_address', dictionary.field('*ord_forecasted_ship_window_start').uid, dictionary.field('*ord_forecasted_ship_window_end').uid]" booking-includes="['booked_orders']"></ll-bookings>
              </div>
            </li>
          </li>
          <li class='list-group-item text-right'>
            <chain-state-toggle-buttons button-classes='btn-sm btn-primary' api-object-name='Order' object='order' toggle-callback='reload'></chain-state-toggle-buttons>
          </li>
          </ul>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card">
        <div class="card-header">Vendor Order Address</div>
        <div class="card-body">
          <chain-address address='{{order.ord_order_from_address_full_address}}'></chain-address>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Vendor Ship From</div>
        <div class="card-body">
          <div class="text-warning" ng-show='order.permissions.can_edit && order.vendor_id == me.company_id && !order.ord_ship_from_full_address.length>0'>
              Please select a ship from address using the Change button below.
          </div>
          <chain-address address='{{order.ord_ship_from_full_address}}'></chain-address>
        </div>
        <div class="card-footer text-right" ng-if='order.permissions.can_edit && order.vendor_id == me.company_id'>
          <a class='btn btn-primary' ng-if='order.ord_ship_from_id' id='show_change_modal' href="javscript:void(0);">
            Change
          </a>
          <a ng-if='!order.ord_ship_from_id' ui-sref='selectShipFrom({id:order.id})' class='btn btn-primary' href="javscript:void(0);">Change</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Billing Address</div>
        <div class="card-body">
          <address>
            <strong>Lumber Liquidators Services, LLC</strong><br />
            ATTN: Accounts Payable<br />
            3000 John Deere Rd<br />
            Toano, VA 23168 US
          </address>
        </div>
      </div>
      <div class="card" >
        <div class="card-header">Ship To Address</div>
        <div ng-if='order.order_lines.length > 0 && order.ord_ship_to_count==1' class="card-body">
          <chain-address address="{{order.order_lines[0].ordln_ship_to_full_address}}"></chain-address>
        </div>
        <div ng-if='order.ord_ship_to_count > 1' class='card-body'>
          <strong>Multi-Stop</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Line Num</th>
              <th>Deleted Flag</th>
              <th>Article</th>
              <th>First HTS 1 (US)</th>
              <th ng-if='order.ord_ship_to_count > 1'>Ship To</th>
              <th>Quantity</th>
              <th>UM</th>
              <th>Gross Weight (KGS)</th>
              <th>Unit Price</th>
              <th>Net Amount</th>
            </tr>
          </thead>
          <tbody>
            <tbody ng-repeat='ol in order.order_lines track by ol.id'>
              <tr>
                <td>{{ol.ordln_line_number}}</td>
                <td>{{(ol[dictionary.fieldsByAttribute('label','Deleted Flag', dictionary.fieldsByRecordType(dictionary.recordTypes.OrderLine))[0].uid]) ? "Y" : "N"}}</td>
                <td>
                  <small>{{ol.ordln_puid}}</small><br />
                  <small>{{ol[dictionary.fieldsByAttribute('label','Old Article Number',dictionary.fieldsByRecordType(dictionary.recordTypes.OrderLine))[0].uid]}}</small><br />
                  {{ol[dictionary.fieldsByAttribute('label', 'Part Name',dictionary.fieldsByRecordType(dictionary.recordTypes.OrderLine))[0].uid]}}
                </td>
                <td>
                  {{ol['*fhts_1_' + order.us_country_id + '_order_lines']}}
                </td>
                <td ng-if='order.ord_ship_to_count > 1'>
                  <chain-address address='{{ol.ordln_ship_to_full_address}}'></chain-address>
                </td>
                <td class='text-right numeric'>{{ol.ordln_ordered_qty}}</td>
                <td>{{ol.ordln_unit_of_measure}}</td>
                <td class='text-right numeric'>{{ol[dictionary.fieldsByAttribute('label','Gross Weight (KGS)', dictionary.fieldsByRecordType(dictionary.recordTypes.OrderLine))[0].uid] | number:3}}</td>
                <td class='text-right numeric'>{{ol.ordln_ppu | currency}}</td>
                <td class='text-right numeric'>{{ol.ordln_total_cost | currency}}</td>
              </tr>
              <tr style="white-space: pre-wrap;" ng-if="ol[dictionary.fieldsByAttribute('label','Custom Article Description', dictionary.fieldsByRecordType(dictionary.recordTypes.OrderLine))[0].uid]">
                <td>&nbsp;</td>
                <td colspan='{{order.ord_ship_to_count > 1 ? 9 : 8}}'>{{ol[dictionary.fieldsByAttribute('label','Custom Article Description', dictionary.fieldsByRecordType(dictionary.recordTypes.OrderLine))[0].uid]}}</td>
              </tr>
            </tbody>
            <tr ng-if="order[dictionary.fieldsByAttribute('label','Total Freight', dictionary.fieldsByRecordType(dictionary.recordTypes.Order))[0].uid]">
              <td class='text-right' colspan='{{order.ord_ship_to_count > 1 ? 9 : 8}}'>Freight</td>
              <td class='text-right numeric'>{{order[dictionary.fieldsByAttribute('label','Total Freight', dictionary.fieldsByRecordType(dictionary.recordTypes.Order))[0].uid] | currency}}</td>
            </tr>
            <tr ng-if="order[dictionary.fieldsByAttribute('label','Grand Total', dictionary.fieldsByRecordType(dictionary.recordTypes.Order))[0].uid]">
              <td class='text-right' colspan='{{order.ord_ship_to_count > 1 ? 9 : 8}}'>Total</td>
              <td class='text-right numeric'>{{order[dictionary.fieldsByAttribute('label','Grand Total', dictionary.fieldsByRecordType(dictionary.recordTypes.Order))[0].uid] | currency}}</td>
            </tr>
            <tr ng-if="!order[dictionary.fieldsByAttribute('label','Grand Total', dictionary.fieldsByRecordType(dictionary.recordTypes.Order))[0].uid]">
              <td class='text-right' colspan='{{order.ord_ship_to_count > 1 ? 9 : 8}}'>Total</td>
              <td class='text-right numeric'>{{order.ord_total_cost | currency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12" style="padding-bottom: 10px">
      <p><font color="red"><b><i>{{order.carb}}</i></b></font></p>
    </div>
  </div>

  <div class="row" ng-show="order.lacey">
    <div class="col-md-12" style="padding-bottom: 10px">
      <p><font color="red"><b><i>{{order.lacey}}</i></b></font></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <chain-comments-panel parent="order" module-type="Order"></chain-comments-panel>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Change Log</div>
        <div class="card-body">
<pre>
{{order[dictionary.fieldsByAttribute('cdef_uid', 'ord_change_log',dictionary.fieldsByRecordType(dictionary.recordTypes.Order))[0].uid]}}
</pre>
        </div>
      </div>
      <chain-attachments-panel parent="order" module-type="Order"></chain-attachments-panel>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
          <div class="card-body">
            The Purchase Order is subject to and incorporates by reference the Purchase Order Terms and Conditions located
            at <a href='http://www.llvendors.com'>www.llvendors.com</a>. By accepting this Purchase Order, Seller agrees to be bound
            by the Purchase Order Terms and Conditions. The Terms and Conditions may not be modified, altered, amended or edited in any
            way without the express written consent of Lumber Liquidators' Chief Merchandising Officer.
          </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="mod_cant_be_accepted" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="">Pending Updates</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        This order is does not have all data elements completed and cannot be accepted.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="mod_change_ship_from" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-danger" id="">Warning: Order Reset</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        If you change the Ship From address, this order will need to be reapproved by Lumber Liquidators before you can ship it.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id='ship-from-confirm' type="button" class="btn btn-primary">Change</button>
        <button style='display:none' id='ship-from-confirm-real'  ui-sref='selectShipFrom({id:order.id})'></button>
        <script type="text/javascript">
          $(function() {
            // all this to make sure the modal background disappears before the angular page transition happens
            $('#ship-from-confirm').click(function() {
              window.selectShipFromConfirmed = true;
              $('#mod_change_ship_from').modal('hide');
            });
            $('#mod_change_ship_from').on('hidden.bs.modal',function(e) {
              if(window.selectShipFromConfirmed) {
                delete window.selectShipFromConfirmed;
                $('#ship-from-confirm-real').click();
              }
            });
          });
        </script>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('body').on('click','#show_change_modal',function(evt) {
    evt.preventDefault();
    $('#mod_change_ship_from').modal('show');
  });
</script>
