<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <a ui-sref='main'><img src="/logo.png" alt="Logo"></a>
      <br />
      <h1>
        <small>Purchase Order</small>
        <br />
        {{order.ord_ord_num}}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-primary">
          <div class="panel-heading">
          </div>
          <ul class='list-group'>
            <li class='list-group-item'>
              Issue Date <span class='pull-right'>{{order.ord_ord_date}}</span>
            </li>
            <li class='list-group-item'>
              Planned Delivery Date <span class='pull-right'>{{order.ord_first_exp_del}}</span>
            </li>
            <li class='list-group-item'>
              Ship Window <span class='pull-right'><small>To be provided by freight forwarder</small></span>
            </li>
            <li class="list-group-item">
              Vendor No.
              <span class="pull-right">{{order.ord_ven_syscode}}</span>
            </li>
            <li class="list-group-item">
              Vendor Name
              <span class="pull-right">{{order.ord_ven_name}}</span>
            </li>
            <li class="list-group-item">
              Currency
              <span class="pull-right">{{order.ord_currency}}</span>
            </li>
            <li class="list-group-item">
              Terms of Payment
              <span class="pull-right">{{order.ord_payment_terms}}</span>
            </li>
            <li class="list-group-item">
              Terms of Delivery
              <span class="pull-right">{{order.ord_terms}}</span>
            </li>
            <li class="list-group-item">
              Delivery Location
              <span class="pull-right">{{order.ord_fob_point}}</span>
            </li>
          </ul>
      </div>
      <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Order Status</h3>
          </div>
          <ul class='list-group'>
            <li class='list-group-item'>
              Lumber Liquidators Data Updates
              <span class='pull-right'>
                <i class='fa {{order.ord_fob_point && order.ord_terms && order[dictionary.fieldsByAttribute("label","Country of Origin",dictionary.fieldsByRecordType(dictionary.recordTypes.Order))[0].uid] ? "fa-check-square text-success" : "fa-clock-o" }}'></i>
              </span>
            </li>
            <li class='list-group-item'>
              Ship From Selection
              <span class='pull-right'>
                <i class='fa {{order.ord_ship_from_id ? "fa-check-square text-success" : "fa-clock-o" }}'></i>
              </span>
            </li>
            <li class='list-group-item'>
              Vendor Approval
              <span class='pull-right'>{{order.ord_approval_status}}
                <a class='label label-default' ng-if='!order.permissions.can_be_accepted && order.ord_approval_status!="Accepted"' data-toggle="modal" data-target="#mod_cant_be_accepted">
                  Not Ready
                </a>
                <order-accept-button></order-accept-button>
              </span>
            </li>
          </ul>
      </div>
    </div>
    <div class="col-md-7">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Vendor Order Address</h3>
        </div>
        <div class="panel-body">
          <chain-address address='{{order.ord_order_from_address_full_address}}'></chain-address>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Vendor Ship From</h3>
        </div>
        <div class="panel-body">
          <div class="text-warning" ng-show='order.permissions.can_edit && order.vendor_id == me.company_id && !order.ord_ship_from_full_address.length>0'>
              Please select a ship from address using the Change button below.
          </div>
          <chain-address address='{{order.ord_ship_from_full_address}}'></chain-address>
        </div>
        <div class="panel-footer text-right" ng-if='order.permissions.can_edit && order.vendor_id == me.company_id'>
          <a class='btn btn-primary' ng-if='order.ord_ship_from_id' data-toggle="modal" data-target="#mod_change_ship_from">
            Change
          </a>
          <a ng-if='!order.ord_ship_from_id' ui-sref='selectShipFrom({id:order.id})' class='btn btn-primary'>Change</a>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Billing Address</h3>
        </div>
        <div class="panel-body">
          <address>
            <strong>Lumber Liquidators Services, LLC</strong><br />
            ATTN: Accounts Payable<br />
            3000 John Deere Rd<br />
            Toano, VA 23168 US
          </address>
        </div>
      </div>
      <div class="panel panel-primary" >
        <div class="panel-heading">
          <h3 class="panel-title">Ship To Address</h3>
        </div>
        <div ng-if='order.order_lines.length > 0 && order.ord_ship_to_count==1' class="panel-body">
          <chain-address address="{{order.order_lines[0].ordln_ship_to_full_address}}"></chain-address>
        </div>
        <div ng-if='order.ord_ship_to_count > 1' class='panel-body'>
          <strong>Multi-Stop</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Line Num</th>
              <th>Article</th>
              <th ng-if='order.ord_ship_to_count > 1'>Ship To</th>
              <th>Quantity</th>
              <th>UM</th>
              <th>Unit Price</th>
              <th>Net Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='ol in order.order_lines track by ol.id'>
              <td>{{ol.ordln_line_number}}</td>
              <td>
                <small>{{ol.ordln_puid}}</small><br />
                <small>{{ol[dictionary.fieldsByAttribute('label','Product - Old Article #',dictionary.fieldsByRecordType(dictionary.recordTypes.OrderLine))[0].uid]}}</small><br />
                {{ol.ordln_pname}}
              </td>
              <td ng-if='order.ord_ship_to_count > 1'>
                <chain-address address='{{ol.ordln_ship_to_full_address}}'></chain-address>
              </td>
              <td class='text-right numeric'>{{ol.ordln_ordered_qty}}</td>
              <td>{{ol.ordln_unit_of_measure}}</td>
              <td class='text-right numeric'>{{ol.ordln_ppu}}</td>
              <td class='text-right numeric'>{{ol.ordln_total_cost}}</td>
            </tr>
            <tr>
              <td class='text-right' colspan='5'>Total</td>
              <td class='text-right numeric'>{{order.ord_total_cost}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <chain-comments-panel parent="order" module-type="Order"></chain-comments-panel>
    </div>
    <div class="col-md-6">
      <chain-attachments-panel parent="order" module-type="Order"></chain-attachments-panel>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
          <div class="panel-body">
            The Purchase Order is subject to and incorporates by reference the Purchase Order Terms and Conditions located
            at <a href='http://www.llvendors.com'>www.llvendors.com</a>. By accepting this Purchase Order, Seller agrees to be bound
            by the Purchase Order Terms and Conditions. The Terms and Conditions may not be modified, altered, amended or edited in any
            way without the express written consent of Lumber Liquidators' Chief Merchandising Officer.
          </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="mod_cant_be_accepted" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="">Pending Updates</h4>
      </div>
      <div class="modal-body">
        This order is does not have all data elements completed and cannot be accepted.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="mod_change_ship_from" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-danger" id="">Warning: Order Reset</h4>
      </div>
      <div class="modal-body">
        If you change the Ship From address, this order will need to be reapproved by Lumber Liquidators before you can ship it.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id='ship-from-confirm' type="button" class="btn btn-primary">Change</button>
        <button style='display:none' id='ship-from-confirm-real'  ui-sref='selectShipFrom({id:order.id})'></button>
        <script type="text/javascript">
          $(function() {
            // all this to make sure the modal background disappears before the angular page transition happens
            $('#ship-from-confirm').click(function() {
              window.selectShipFromConfirmed = true;
              $('#mod_change_ship_from').modal('hide');
            });
            $('#mod_change_ship_from').on('hidden.bs.modal',function(e) {
              if(window.selectShipFromConfirmed) {
                delete window.selectShipFromConfirmed;
                $('#ship-from-confirm-real').click();
              }
            });
          });
        </script>
      </div>
    </div>
  </div>
</div>
