<div id="outer" class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 style="margin: 0">Shipment</h3>
      <h1 style="margin: 0">{{shipment.shp_ref}}</h1>
    </div>
  </div>
  <div ng-hide='shipment.custom.valid_delivery_location' class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Booking Error</h4>
        <hr>
        <p>Booking cannot proceed. Booking Delivery Location does not match the PO Delivery Location.  Contact Lumber Liquidators to have the PO updated.</p>
      </div>
    </div>
  </div>
  <div ng-hide='shipment.custom.valid_master_bill' class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">ISF Error</h4>
        <hr>
        <p>Please enter a Master Bill of Lading.  If the bill is not known, check the box for 'Master BOL Unknown'.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Booking Header</div>
        <div>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="fld in ['shp_fwd_name', 'shp_ship_from_id']">
              <chain-field-label field="dictionary.field(fld)"></chain-field-label>
              <div>
                <chain-field-value model="shipment" field="dictionary.field(fld)"></chain-field-value>
              </div>
            </li>
            <li class="list-group-item" ng-repeat="fld in ['shp_mode','shp_shipment_type','shp_cargo_ready_date']">
              <chain-field-label field="dictionary.field(fld)"></chain-field-label>
              <div ng-if="shipment.permissions.can_edit_booking">
                <chain-field-input model="shipment" field="dictionary.field(fld)"></chain-field-input>
              </div>
              <div ng-if="!shipment.permissions.can_edit_booking">
                <chain-field-value model="shipment" field="dictionary.field(fld)"></chain-field-value>
              </div>
            </li>
            <li class="list-group-item"">
              <chain-field-label field="dictionary.field('shp_first_port_receipt_id')"></chain-field-label>
              <div ng-if="shipment.permissions.can_edit_booking">
                <chain-field-input model="shipment" field="dictionary.field('shp_first_port_receipt_id')"></chain-field-input>
              </div>
              <div ng-if="!shipment.permissions.can_edit_booking">
                <chain-field-value model="shipment" field="dictionary.field('shp_first_port_receipt_name')"></chain-field-value>
              </div>
            </li>
            <li class="list-group-item">
              <chain-field-label field="dictionary.field('shp_requested_equipment')"></chain-field-label>
              <div ng-if="shipment.permissions.can_edit_booking">
                <chain-vp-equipment-requestor shipment="shipment" equipment-types="['20STD','40STD','40HQ','45STD','53','LCL']"></chain-vp-equipment-requestor>
              </div>
              <div ng-if="!shipment.permissions.can_edit_booking">
                <chain-field-value model="shipment" field="dictionary.field('shp_requested_equipment')"></chain-field-value>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Booking Confirmation</div>
        <ul class="list-group" ng-if="shipment.shp_booking_confirmed_date">
          <li class="list-group-item" ng-repeat="fld in ['shp_booking_number', 'shp_booking_confirmed_date', 'shp_booking_cutoff_date', 'shp_booking_est_departure_date', 'shp_booking_est_arrival_date', 'shp_booking_carrier', 'shp_booking_vessel', 'shp_booking_voyage', 'shp_importer_reference']">
            <chain-field-label field="dictionary.field(fld)"></chain-field-label>
            <div>
              <chain-field-value model="shipment" field="dictionary.field(fld)"></chain-field-value>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Actions</div>
        <div>
          <ul class="list-group">
            <li class="list-group-item" ng-if="shipment['shp_mode'] == '' || shipment['shp_shipment_type'] == '' || shipment['shp_cargo_ready_date'] == '' || shipment['shp_first_port_receipt_id'] == '' || shipment['shp_requested_equipment'] == ''">
              <p>Please complete all fields in the Booking section and click save before requesting your booking.</p>
            </li>
            <li class="list-group-item">
              <button ng-disabled="!shipment.permissions.can_edit_booking" class="btn btn-sm btn-secondary btn-block" ng-click='save(shipment)'>Save</button>
            </li>
            <li class="list-group-item">
              <button ng-disabled="!shipment.permissions.can_request_booking" class="btn btn-sm btn-secondary btn-block" ng-click='requestBooking(shipment)'>Request Booking</button>
            </li>
            <li class="list-group-item">
              <button ng-disabled="!shipment.permissions.can_revise_booking" class="btn btn-sm btn-secondary btn-block" ng-click='reviseBooking(shipment)'>Revise Booking</button>
            </li>
            <li class="list-group-item" ng-if="stateToggleButton('shp_send_isf') != null">
              <chain-simple-state-toggle-button button-classes='btn-sm btn-secondary btn-block' api-object-name='Shipment' object='shipment' toggle-callback='scopedReload' button="stateToggleButton('shp_send_isf')" disabled="!shipment.custom.can_send_isf"></chain-simple-state-toggle-button>
            </li>
            <li class="list-group-item" ng-if="stateToggleButton('shp_resend_isf') != null">
              <chain-simple-state-toggle-button button-classes='btn-sm btn-secondary btn-block' api-object-name='Shipment' object='shipment' toggle-callback='scopedReload' button="stateToggleButton('shp_resend_isf')" disabled="!shipment.custom.can_resend_isf"></chain-simple-state-toggle-button>
            </li>
            <li class="list-group-item" ng-if="stateToggleButton('shp_send_factory_pack') != null">
              <chain-simple-state-toggle-button button-classes='btn-sm btn-secondary btn-block' api-object-name='Shipment' object='shipment' toggle-callback='scopedReload' button="stateToggleButton('shp_send_factory_pack')" disabled="!shipment.custom.can_send_factory_pack"></chain-simple-state-toggle-button>
            </li>
            <li class="list-group-item" ng-if="stateToggleButton('shp_resend_factory_pack') != null">
              <chain-simple-state-toggle-button button-classes='btn-sm btn-secondary btn-block' api-object-name='Shipment' object='shipment' toggle-callback='scopedReload' button="stateToggleButton('shp_resend_factory_pack')" disabled="!shipment.custom.can_resend_factory_pack"></chain-simple-state-toggle-button>
            </li>
            <li class="list-group-item" ng-if="stateToggleButton('shp_send_vgm') != null">
              <chain-simple-state-toggle-button button-classes='btn-sm btn-secondary btn-block' api-object-name='Shipment' object='shipment' toggle-callback='scopedReload' button="stateToggleButton('shp_send_vgm')" disabled="!shipment.custom.can_send_vgm"></chain-simple-state-toggle-button>
            </li>
            <li class="list-group-item" ng-if="stateToggleButton('shp_resend_vgm') != null">
              <chain-simple-state-toggle-button button-classes='btn-sm btn-secondary btn-block' api-object-name='Shipment' object='shipment' toggle-callback='scopedReload' button="stateToggleButton('shp_resend_vgm')" disabled="!shipment.custom.can_resend_vgm"></chain-simple-state-toggle-button>
            </li>
          </ul>
        </div>
      </div>
      <div class="card" ng-if='shipment.shp_booking_received_date'>
        <div class="card-header">Booking Activity</div>
        <div>
          <ul class="list-group">
            <li class="list-group-item list-group-item-danger" ng-if="shipment.shp_canceled_date">
              <chain-field-label field="dictionary.field('shp_canceled_date')"></chain-field-label>
              <div>
                <chain-field-value model="shipment" field="dictionary.field('shp_canceled_by_fullname')"></chain-field-value> - <chain-field-value model="shipment" field="dictionary.field('shp_canceled_date')">
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item" ng-if="shipment.shp_booking_received_date">
              <chain-field-label field="dictionary.field('shp_booking_received_date')"></chain-field-label>
              <div>
                <chain-field-value model="shipment" field="dictionary.field('shp_booking_requested_by_full_name')"></chain-field-value> - <chain-field-value model="shipment" field="dictionary.field('shp_booking_received_date')">
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item" ng-if="shipment.shp_booking_revised_date">
              <chain-field-label field="dictionary.field('shp_booking_revised_date')"></chain-field-label>
              <div>
                <chain-field-value model="shipment" field="dictionary.field('shp_booking_revised_by_full_name')"></chain-field-value> - <chain-field-value model="shipment" field="dictionary.field('shp_booking_revised_date')">
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item" ng-if="shipment.shp_booking_request_count">
              <chain-field-label field="dictionary.field('shp_booking_request_count')"></chain-field-label>
              <div class="float-right">
                <chain-field-value model="shipment" field="dictionary.field('shp_booking_request_count')"></chain-field-value>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item" ng-if="shipment[dictionary.field('*shp_booking_unlocked_date').uid]">
              <chain-field-label field="dictionary.field('*shp_booking_unlocked_date')"></chain-field-label>
              <div class="float-right">
                <chain-field-value model="shipment" field="dictionary.field('*shp_booking_unlocked_date')"></chain-field-value>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item" ng-if="shipment.shp_isf_sent_at">
              <chain-field-label field="dictionary.field('shp_isf_sent_at')"></chain-field-label>
              <div>
                <chain-field-value model="shipment" field="dictionary.field('shp_isf_sent_by_fullname')"></chain-field-value> - <chain-field-value model="shipment" field="dictionary.field('shp_isf_sent_at')">
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item" ng-if="shipment[dictionary.field('*shp_isf_revised_date').uid]">
              <chain-field-label field="dictionary.field('*shp_isf_revised_date')"></chain-field-label>
              <div>
                <chain-field-value model="shipment" field="dictionary.field('*shp_isf_revised_by_fullname')"></chain-field-value> - <chain-field-value model="shipment" field="dictionary.field('*shp_isf_revised_date')">
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item" ng-if="shipment.shp_packing_list_sent_date">
              <chain-field-label field="dictionary.field('shp_packing_list_sent_date')"></chain-field-label>
              <div>
                <chain-field-value model="shipment" field="dictionary.field('shp_packing_list_sent_by_fullname')"></chain-field-value> - <chain-field-value model="shipment" field="dictionary.field('shp_packing_list_sent_date')">
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item" ng-if="shipment[dictionary.field('*shp_factory_pack_revised_date').uid]">
              <chain-field-label field="dictionary.field('*shp_factory_pack_revised_date')"></chain-field-label>
              <div>
                <chain-field-value model="shipment" field="dictionary.field('*shp_factory_pack_revised_by_fullname')"></chain-field-value> - <chain-field-value model="shipment" field="dictionary.field('*shp_factory_pack_revised_date')">
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item" ng-if="shipment.shp_vgm_sent_date">
              <chain-field-label field="dictionary.field('shp_vgm_sent_date')"></chain-field-label>
              <div>
                <chain-field-value model="shipment" field="dictionary.field('shp_vgm_sent_by_fullname')"></chain-field-value> - <chain-field-value model="shipment" field="dictionary.field('shp_vgm_sent_date')">
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item" ng-if="shipment[dictionary.field('*shp_vgm_revised_date').uid]">
              <chain-field-label field="dictionary.field('*shp_vgm_revised_date')"></chain-field-label>
              <div>
                <chain-field-value model="shipment" field="dictionary.field('*shp_vgm_revised_by_fullname')"></chain-field-value> - <chain-field-value model="shipment" field="dictionary.field('*shp_vgm_revised_date')">
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="nav-item active"><a class="nav-link active" data-target="#booking-tab" aria-controls="booking-tab" role="tab" data-toggle="tab">Booking</a></li>
            <li role="presentation" class="nav-item"><a class="nav-link" data-target="#container-tab" aria-controls="container-tab" role="tab" data-toggle="tab">Containers</a></li>
            <li role="presentation" class="nav-item" ng-if="shipment.lines.length > 0"><a class="nav-link" data-target="#manifest-tab" aria-controls="manifest-tab" role="tab" data-toggle="tab">Manifest</a></li>
            <li role="presentation" class="nav-item" ng-if="shipment.lines.length > 0"><a class="nav-link" data-target="#isf-tab" aria-controls="isf-tab" role="tab" data-toggle="tab">ISF</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="booking-tab">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      {{dictionary.field('bkln_line_number').label}}
                    </th>
                    <th>
                      {{dictionary.field('bkln_order_and_line_number').label}}
                    </th>
                    <th>
                      {{dictionary.field('bkln_puid').label}}
                    </th>
                    <th>
                      {{dictionary.field('bkln_quantity').label}}
                    </th>
                    <th>
                      {{dictionary.field('bkln_gross_kgs').label}}
                    </th>
                    <th>
                      {{dictionary.field('bkln_cbms').label}}
                    </th>
                    <th ng-if="shipment.permissions.can_add_remove_booking_lines && shipment.permissions.can_edit_booking">
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='bLine in shipment.booking_lines track by bLine.id'>
                    <td>
                      <chain-field-value model='bLine' field='dictionary.field("bkln_line_number")'></chain-field-value>
                    </td>
                    <td>
                      <a ui-sref='showOrder({id:bLine.bkln_order_id})'>
                        <chain-field-value model='bLine' field='dictionary.field("bkln_order_and_line_number")'></chain-field-value>
                      </a>
                    </td>
                    <td>
                      <chain-field-value model='bLine' field='dictionary.field("bkln_puid")'></chain-field-value>
                    </td>
                    <td>
                      <chain-field-value model='bLine' field='dictionary.field("bkln_quantity")'></chain-field-value>
                    </td>
                    <td>
                      <chain-field-value model='bLine' field='dictionary.field("bkln_gross_kgs")'></chain-field-value>
                    </td>
                    <td>
                      <div ng-if="shipment.permissions.can_add_remove_booking_lines && shipment.permissions.can_edit_booking">
                        <chain-field-input model='bLine' field='dictionary.field("bkln_cbms")'></chain-field-input>
                      </div>
                      <div ng-if="!shipment.permissions.can_add_remove_booking_lines || !shipment.permissions.can_edit_booking">
                        <chain-field-value model='bLine' field='dictionary.field("bkln_cbms")'></chain-field-value>
                      </div>
                    </td>
                    <td ng-if="shipment.permissions.can_add_remove_booking_lines && shipment.permissions.can_edit_booking">
                      <button ng-click='unBookOrder(bLine)' class='btn btn-sm btn-danger' title="Remove order from booking">
                        <i class='fa fa-trash-o'></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div ng-if="shipment.permissions.can_add_remove_booking_lines && shipment.permissions.can_edit_booking" class="row">
                <div class="col-md-12">
                  <div class="text-center">
                    <button class="btn btn-sm btn-secondary" ng-click='save(shipment)' alt='Save'>Save</button>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="container-tab">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      {{dictionary.field('con_container_number').label}}
                    </th>
                    <th>
                      {{dictionary.field('con_container_size').label}}
                    </th>
                    <th>
                      {{dictionary.field('con_seal_number').label}}
                    </th>
                    <!-- Re-add this once we are going to start collecting VGM data
                    <th>
                      VGM Data
                    </th>
                    -->
                    <th ng-if="shipment.permissions.can_add_remove_shipment_lines">
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='container in shipment.containers track by container.id'>
                    <td>
                      <chain-field-value model='container' field='dictionary.field("con_container_number")'></chain-field-value>
                    </td>
                    <td>
                      <chain-field-value model='container' field='dictionary.field("con_container_size")'></chain-field-value>
                    </td>
                    <td>
                      <chain-field-value model='container' field='dictionary.field("con_seal_number")'></chain-field-value>
                    </td>
                    <!-- Re-add this once we are going to start collecting VGM data
                    <td style="font-size: 125%">
                      <div ng-if="container.custom.has_all_vgm_data">
                        <i class='fa fa-check text-success'></i>
                      </div>
                      <div ng-if="!container.custom.has_all_vgm_data">
                        <i class='fa fa-exclamation-triangle text-danger'></i>
                      </div>
                    </td>
                  -->
                    <td ng-if="shipment.permissions.can_add_remove_shipment_lines">
                      <button class="btn btn-sm btn-secondary btn-danger" ng-if="canDeleteContainer(container)" ng-click='deleteContainer(container)'><i class="fa fa-trash"></i></button>
                      <span style="display: inline-block; width: 2em;">&nbsp;</span>
                      <button class="btn btn-sm btn-secondary" ng-click='editContainer(container)' alt='Edit Container'><i class="fa fa-edit"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="manifest-tab">
              <table class="table">
                <thead>
                  <tr>
                    <th ng-repeat="uid in ['shpln_container_number', 'shpln_first_cust_ord_no', 'shpln_puid','shpln_shipped_qty','shpln_carton_qty', 'shpln_cbms', 'shpln_gross_kgs']">
                      {{dictionary.field(uid).label}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='sl in shipment.lines'>
                    <td ng-repeat="uid in ['shpln_container_number', 'shpln_first_cust_ord_no', 'shpln_puid','shpln_shipped_qty','shpln_carton_qty', 'shpln_cbms', 'shpln_gross_kgs'] ">
                      <chain-field-value model='sl' field='dictionary.field(uid)'></chain-field-value>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="isf-tab">
              <div class="row" style="margin-top: 1em;">
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header">ISF Fields</div>
                    <div>
                      <ul class="list-group">
                        <li class="list-group-item" ng-repeat="fld in ['shp_est_departure_date', 'shp_vessel', 'shp_voyage']">
                          <chain-field-label field="dictionary.field(fld)"></chain-field-label>
                          <div ng-if="shipment.permissions.can_add_remove_shipment_lines">
                            <chain-field-input model="shipment" field="dictionary.field(fld)"></chain-field-input>
                          </div>
                          <div ng-if="!shipment.permissions.can_add_remove_shipment_lines">
                            <chain-field-value model="shipment" field="dictionary.field(fld)"></chain-field-value>
                          </div>
                        </li>
                        <li class="list-group-item">
                          <!-- Booking Number is read-only here -->
                          <chain-field-label field="dictionary.field('shp_booking_number')"></chain-field-label>
                          <div>
                            <chain-field-value model="shipment" field="dictionary.field('shp_booking_number')"></chain-field-value>
                          </div>
                        </li>
                        <li class="list-group-item" ng-repeat="fld in ['shp_master_bill_of_lading', '*shp_master_bol_unknown', 'shp_house_bill_of_lading', 'shp_origin_cntry_id']">
                          <chain-field-label field="dictionary.field(fld)"></chain-field-label>
                          <div ng-if="shipment.permissions.can_add_remove_shipment_lines">
                            <chain-field-input model="shipment" field="dictionary.field(fld)"></chain-field-input>
                          </div>
                          <div ng-if="!shipment.permissions.can_add_remove_shipment_lines">
                            <chain-field-value model="shipment" field="dictionary.field(fld)"></chain-field-value>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">ISF Lines</div>
                    <div>
                      <table class="table">
                        <thead>
                          <tr>
                            <th ng-repeat="uid in ['shpln_first_cust_ord_no', 'shpln_puid']">
                              {{dictionary.field(uid).label}}
                            </th>
                            <th>HTS</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat='sl in shipment.lines'>
                            <td ng-repeat="uid in ['shpln_first_cust_ord_no', 'shpln_puid', '*fhts_1_234_shipment_lines'] ">
                              <chain-field-value model='sl' field='dictionary.field(uid)'></chain-field-value>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header">ISF Addresses</div>
                    <div>
                      <ul class="list-group">
                        <li class="list-group-item" ng-repeat="fld in ['shp_ship_from_id', 'shp_seller_address_id', 'shp_container_stuffing_address_id', 'shp_consolidator_address_id', 'shp_ship_to_address_id']">
                          <chain-field-label field="dictionary.field(fld)"></chain-field-label>
                          <div ng-if="shipment.permissions.can_add_remove_shipment_lines">
                            <chain-field-input model="shipment" field="dictionary.field(fld)"></chain-field-input>
                          </div>
                          <div ng-if="!shipment.permissions.can_add_remove_shipment_lines">
                            <chain-field-value model="shipment" field="dictionary.field(fld)"></chain-field-value>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-if="shipment.permissions.can_add_remove_shipment_lines" class="row">
                <div class="col-md-12">
                  <div class="text-center">
                    <button class="btn btn-sm btn-secondary" ng-click='save(shipment)' alt='Save'>Save</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-right">
          <button class='btn btn-secondary' ng-if='shipment.lines.length > 0 && shipment.permissions.can_add_remove_shipment_lines' ng-click='clearManifest(shipment)'>Clear Manifest</button>
          <span ng-if="shipment.lines.length == 0 && shipment.permissions.can_add_remove_shipment_lines">
            <chain-vp-manifest-booking-lines shipment="shipment" dictionary="dictionary" line-edit-fields="['shpln_carton_qty', 'shpln_cbms', 'shpln_gross_kgs']" required-edit-fields="['shpln_carton_qty', 'shpln_cbms', 'shpln_gross_kgs']"></chain-vp-manifest-booking-lines>
          </span>
          <button class='btn btn-secondary' ng-if='shipment.lines.length == 0 && shipment.permissions.can_add_remove_shipment_lines' ng-click='addContainer()'>Add Container</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <chain-comments-panel parent="shipment" module-type="Shipment"></chain-comments-panel>
    </div>
    <div class="col-md-6">
      <chain-attachments-panel parent="shipment" module-type="Shipment"></chain-attachments-panel>
    </div>
  </div>
</div>

<chain-vp-edit-container dictionary="dictionary" detail-fields-title="'Factory Pack / VGM Fields'" detail-columns="[['con_container_pickup_date', 'con_container_return_date', 'con_port_of_loading_id', 'con_port_of_delivery_id'], ['*con_weighing_company', '*con_weighed_date', '*con_weighing_method'], ['*con_cargo_weight', '*con_dunnage_weight', '*con_tare_weight', '*con_total_vgm_weight', '*con_remarks']]"/>
