<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <a ui-sref='main'><img src="/logo.png" alt="Logo"></a>
      <h1>
        <small>Shipment</small>
        <br />
        {{shipment.shp_ref}}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Ship Header</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">
            Booking
          </li>
          <li class="list-group-item" ng-repeat="fld in ['shp_mode','shp_shipment_type','shp_cargo_ready_date','shp_first_port_receipt_id']">
            <chain-field-label field="dictionary.field(fld)"></chain-field-label>
            <chain-field-input model="shipment" field="dictionary.field(fld)"></chain-field-input>
          </li>
          <li class="list-group-item">
            <chain-field-label field="dictionary.field('shp_requested_equipment')"></chain-field-label>
            <chain-vp-equipment-requestor shipment="shipment" equipment-types="['20STD','40STD','40HQ','45STD','53','LCL']"></chain-vp-equipment-requestor>
          </li>
          <li class="list-group-item list-group-item-info">
            Shipment Instructions
          </li>
          <li class="list-group-item" ng-repeat="fld in ['shp_number_of_packages','shp_number_of_packages_uom','shp_gross_weight','shp_volume','shp_marks_and_numbers','shp_hazmat','shp_swpm','shp_lacey','shp_export_license_required']">
            <chain-field-label field="dictionary.field(fld)"></chain-field-label>
            <chain-field-input model="shipment" field="dictionary.field(fld)"></chain-field-input>
          </li>
          <li class="list-group-item list-group-item-info">
            Details
          </li>
          <li class="list-group-item" ng-repeat="fld in ['shp_fwd_name']">
            <chain-field-label field="dictionary.field(fld)"></chain-field-label>
            <span class="pull-right">
              <chain-field-value model="shipment" field="dictionary.field(fld)"></chain-field-value>
            </span>
          </li>
          <li class='list-group-item'>
            <chain-field-label field="dictionary.field('shp_ship_from_full_address')"></chain-field-label>
            <div class='text-right'>
              <chain-field-value model="shipment" field="dictionary.field('shp_ship_from_full_address')"></chain-field-value>
            </div>
          </li>
        </ul>
        <div class="panel-footer text-right" ng-if='shipment.permissions.can_edit'>
          <button class='btn btn-xs btn-primary' title='Save' ng-click='save(shipment)'><i class='fa fa-save'></i></button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Actions</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <button ng-disabled="!shipment.permissions.can_request_booking" class="btn btn-sm btn-default btn-block" ng-click='requestBooking(shipment)'>Request Booking</button>
          </li>
          <li class="list-group-item">
            <button ng-disabled="!shipment.permissions.can_revise_booking" class="btn btn-sm btn-default btn-block" ng-click='reviseBooking(shipment)'>Revise Booking</button>
          </li>
          <li class="list-group-item">
            <button ng-disabled="!shipment.permissions.can_send_shipment_instructions" class="btn btn-sm btn-default btn-block" ng-click='sendShipmentInstructions(shipment)'>Send Shipment Instructions</button>
          </li>
          <li class="list-group-item">
            <button ng-disabled="!shipment.permissions.can_request_cancel" class="btn btn-sm btn-default btn-block" ng-click='requestCancel(shipment)'>Cancel Shipment</button>
          </li>
          <li class="list-group-item" ng-show='me.permissions.admin'>
            <button ng-disabled="!shipment.permissions.can_uncancel" class="btn btn-sm btn-default btn-block" ng-click='uncancel(shipment)'>Undo Cancel Shipment</button>
          </li>
        </ul>
        <div class="panel-footer">

        </div>
      </div>
      <div class="panel panel-primary" ng-if='shipment.shp_booking_received_date'>
        <div class="panel-heading">
          <h3 class="panel-title">Booking Request</h3>
        </div>
        <ul class="list-group" ng-if="shipment.shp_canceled_date">
          <li class="list-group-item list-group-item-danger">
            Cancelation
          </li>
          <li class="list-group-item" ng-repeat="fld in ['shp_canceled_by_full_name','shp_canceled_date']">
            <chain-field-label field="dictionary.field(fld)"></chain-field-label>
            <span class="pull-right">
              <chain-field-value model="shipment" field="dictionary.field(fld)"></chain-field-value>
            </span>
          </li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">
            Booking Activity
          </li>
          <li class="list-group-item" ng-repeat="fld in ['shp_booking_requested_by_full_name','shp_booking_received_date','shp_booking_revised_by_full_name','shp_booking_revised_date','shp_shipment_instructions_sent_date','shp_shipment_instructions_sent_by_full_name','shp_booking_request_count']">
            <chain-field-label field="dictionary.field(fld)"></chain-field-label>
            <span class="pull-right">
              <chain-field-value model="shipment" field="dictionary.field(fld)"></chain-field-value>
            </span>
          </li>
          <li class="list-group-item list-group-item-info">
            Details
          </li>
          <li class="list-group-item" ng-repeat="fld in ['shp_booking_mode','shp_booking_shipment_type','shp_booking_cargo_ready_date','shp_booking_first_port_receipt_name']">
            <chain-field-label field="dictionary.field(fld)"></chain-field-label>
            <span class="pull-right">
              <chain-field-value model="shipment" field="dictionary.field(fld)"></chain-field-value>
            </span>
          </li>
          <li class="list-group-item">
            <chain-field-label field="dictionary.field('shp_booking_requested_equipment')"></chain-field-label>
            <div class='text-right'>
              <chain-field-value model="shipment" field="dictionary.field('shp_booking_requested_equipment')"></chain-field-value>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-body">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-target="#booking-tab" aria-controls="booking-tab" role="tab" data-toggle="tab">Booking</a></li>
            <li role="presentation"><a data-target="#manifest-tab" aria-controls="manifest-tab" role="tab" data-toggle="tab">Manifest</i></a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="booking-tab">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      {{dictionary.field('bkln_line_number').label}}
                    </th>
                    <th>
                      {{dictionary.field('bkln_order_and_line_number').label}}
                    </th>
                    <th>
                      {{dictionary.field('bkln_puid').label}}
                    </th>
                    <th>
                      {{dictionary.field('bkln_varuid').label}}
                    </th>
                    <th>
                      {{dictionary.field('bkln_quantity').label}}
                    </th>
                    <th>
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='bLine in shipment.booking_lines track by bLine.id'>
                    <td>
                      <chain-field-value model='bLine' field='dictionary.field("bkln_line_number")'></chain-field-value>
                    </td>
                    <td>
                      <a ui-sref='showOrder({id:bLine.bkln_order_id})'>
                        <chain-field-value model='bLine' field='dictionary.field("bkln_order_and_line_number")'></chain-field-value>
                      </a>
                    </td>
                    <td>
                      <chain-field-value model='bLine' field='dictionary.field("bkln_puid")'></chain-field-value>
                    </td>
                    <td>
                      <chain-field-value model='bLine' field='dictionary.field("bkln_varuid")'></chain-field-value>
                    </td>
                    <td>
                      <chain-field-value model='bLine' field='dictionary.field("bkln_quantity")'></chain-field-value>
                    </td>
                    <td>
                      <button ng-click='unBookOrder(bLine)' ng-if='shipment.permissions.can_add_remove_booking_lines' class='btn btn-sm btn-danger' title="Remove order from booking">
                        <i class='fa fa-trash-o'></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="manifest-tab">
              <table class="table">
                <thead>
                  <tr>
                    <th ng-repeat="uid in ['shpln_line_number','shpln_cust_ord_no','shpln_puid','shpln_shipped_qty','shpln_container_number'] ">
                      {{dictionary.field(uid).label}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='sl in shipment.lines'>
                    <td ng-repeat="uid in ['shpln_line_number','shpln_cust_ord_no','shpln_puid','shpln_shipped_qty','shpln_container_number'] ">
                      <chain-field-value model='sl' field='dictionary.field(uid)'></chain-field-value>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel-footer text-right">
          <button class='btn btn-default' ng-if='shipment.lines.length > 0 && shipment.permissions.can_add_remove_shipment_lines' ng-click='clearManifest(shipment)'>Clear Manifest</button>
          <chain-vp-full-shipment-pack shipment="shipment" dictionary="dictionary"></chain-vp-full-shipment-pack>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <chain-comments-panel parent="shipment" module-type="Shipment"></chain-comments-panel>
    </div>
    <div class="col-md-6">
      <chain-attachments-panel parent="shipment" module-type="Shipment"></chain-attachments-panel>
    </div>
  </div>

</div>
