$vfi-primary: #42b0d5;
$vfi-primary-shade: #2ea8d1;
$vfi-secondary: #F0BA43;
$vfi-secondary-shade: #eca713;
$vfi-primary-text: white;
$vfi-secondary-text: white;

$maersk-dark-blue: #00243d;
$maersk-mid-blue: #0073ab;
$maersk-light-blue: #b5e0f5;

$ultra-dark-gray: #545454;
$dark-gray: #878787;
$mid-gray: #cfcfcf;
$light-gray: #ededed;
$ultra-light-gray: #f7f7f7;
