#advanced_search_wrapper {
  width: 99%;
  #select_search {
    font-size: 175%;
    width: 99%;
  }
  #search_setup_controls {
    margin: 1em;
    padding: 1em;
    border: 2px solid black;
    border-radius: 0.5em;
    h1 {
      margin: .25em;
      text-align: center;
    }
  }
  div.settings_wrapper {
    display: inline-block;
    margin-right: .5em;
  }
  #search_action_links {
    text-align: right;
    font-size: 125%;
    margin-top: 1em;
  } 
  #current_schedules {
    float: left;
  }
  #schedule_edit {
    float: right;
  }
  div.schedule_display {
    margin-bottom: .5em;
  }
  div.toggle_pane {
    display: inline-block;
    .tpane_label {
      text-align: center;
      font-size: 90%;
    }
  }
}

