/* Attachment Box */
.attachment_delete {
  text-align: right;
  margin: 0;
  padding: 0;
  line-height: 0px;
}
.attachment_delete img {
  margin: 0px;
}
.attachment_icon {
  margin: 5px;
}
.attachment_type {
  font-weight: bold;
}
#mod_attach {
  display: none;
}

.attachment-table {
  .thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
  }
}