/* Attachment Box */
.attachment_delete {
  text-align: right
}
.attachment_delete img {
  margin: 0px;
}
.attachment_icon {
  margin: 5px;
}
.attachment_type {
  font-weight: bold;
}
#mod_attach {
  display: none;
}
