.template-container{
  background-color: #f0f0f0;
  padding: 8px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 10px 10px 5px grey;
}

.rule-container{
  background-color: #f0f0f0;
  padding-bottom: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 10px 10px 5px grey;
  margin-bottom: 25px;
  width: 95%;
}