#mailbox_outer {
  #mailbox_list {
    position: relative;
    width: 225px;
    float: left;
  }
  div.mailbox_actions {
    a.active_mailbox {
      font-weight: bold;
      background-color: #ddd;
    }
    div.mailbox_breakdown_label {
      font-weight: bold;
      margin-top: 5px;
      font-size: 120%;
    }
  
  }
  #mailbox_message_pane {
    margin: 0 25px 0 235px;
    div.message_list_title {
      padding: 5px;
      text-align: center;
      font-size: 150%;
    }
    div.message_entry {
      padding: 5px;
      border: 1px solid black;
      border-top: none;
      font-size: 110%;
      background-color: white;
      .message_info {
        position: relative;
        float: right
      }
    }
    div.message_entry:hover, div.message_entry.selected {
      background-color: #ddd;
    }
    div.user_entry {
      padding: 0;
    }
    #message_nav {
      border-bottom: 1px solid black;
      text-align: right;
      padding: 5px;
    }
    #message_controls {
      background-color: #eee;
      border: 1px solid black;
      margin: 3px 0;
      border-radius: 5px;
      padding: 5px;
      text-align: center;
      div.count_message {
        font-weight: bold;
      }
    }
  }
}
