div.section_box {
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 5px 5px 10px #333;
  margin-top: 10px;
  .section_head {
    font-size: 120%;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0 0 5px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .section_body {
    padding: 5px;
  }
}
div.ang_error_box {
  margin: 1em auto;
  width: 80%;
  border: 1px solid black;
  padding: 1em;
  div.ang_error_message {
    color: red;
    margin: .25em;
  }
  div.ang_error_close {
    text-align: right;
    img {
      cursor: pointer;
    }
  }
}
