a.action_link {
  color: black;
  text-decoration: none;
  padding: 0.25em 0.5em;
  border: 1px solid #333;
  background-color: #ccc;
  display: inline-block;
  color: white;
  background-color: #666;
}
.action_link:hover {
  cursor: pointer;
}
.inline-button-to {
  display: inline;
  div {
    display: inline
  }
}
input.decimal {
  text-align: right;
}
#main-content {
  margin: 0 20px;
}
div.navbar-fixed-bottom {
  padding-left: 5px;
}
div.section_box {
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 5px 5px 10px #333;
  margin-top: 10px;
  .section_head {
    font-size: 120%;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0 0 5px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .section_body {
    padding: 5px;
  }
}
div.ang_error_box, div.ang_notice_box {
  margin: 1em auto;
  width: 60%;
  border: 1px solid #aaa;
  padding: 0;
  div.ang_error_message, div.ang_notice_message {
    margin: 0 .25em .25em .25em;
  }
  div.ang_error_message {
    color: red;
  }
  div.ang_error_close, div.ang_notice_close {
    text-align: right;
    img {
      cursor: pointer;
    }
  }
}
dl.field_list {
  dt {
    padding-top: 0.5em;
    font-weight:bold;
    width: 10em;
    float: left;
    clear: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  dd {
    padding-top: 0.5em;
    margin-left: 10.5em;
  }
}
div.chainActionBarWrap {
  display: inline;
}
