/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen {
  .row-offcanvas, #sidebar {
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }
  .row-offcanvas {
    position: relative;
  }

  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    width: 50%; /* 6 columns */
    left: -50%; /* 6 columns */
  }
  .sidebar-offcanvas.active {
    left: 0;
  }
  .navbar-toggle {
    display: block;
  }
  #topnav {
    border-radius: 0px;
    background-color: #334488;
    color: white;
  }
  #topnav .icon-bar {
    background-color: white;
  }
  #topnav .glyphicon-search {
    color: white;
  }
  #topnav .glyphicon-search:hover {
    color: #f90;
  }
  #topnav .navbar-toggle:hover .icon-bar {
    background-color: #f90;
  }
  #topnav .message-envelope-wrapper:hover {
    background-color: #f90;
    color:black;
  }
  #topnav .message_envelope {
    color:white;
  }
  #topnav .message_envelope.messages {
    color:red;
  }
  #topnav .message_envelope.messages:hover {
    color:red;
  }

  
  #sidebar {
    margin-top: -20px;
    border-right: 1px solid black;
  }


  #sidebar .panel {
    margin-top: 0;
    border:none;
    border-radius: 0px;
  }
  #sidebar .panel-heading {
    color:white;
    background-color: #334488;
    border-radius: 0px;
  }
  #sidebar .list-group-item {
    border-radius: 0;
    border:none;
  }
  #sidebar .list-group-item:hover {
    color:#aa6633;
    text-decoration: underline;
  }

  .navbar-fixed-bottom {
    border-top: 1px solid #348;
  }
  .navbar-fixed-bottom .btn {
    background-color: white;
    color: #348;
    font-weight: 200;
  }
}
