/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen {
  /*#notification-center {
    -webkit-transition: all .15s ease-out;
         -o-transition: all .15s ease-out;
            transition: all .15s ease-out;

    z-index: 1020; behind sidebar and modal backgrounds (1050) 
    position: absolute;
    background: white;
    display: none;
    border: 3px solid #348;
  }
  #notification-center.active {
    dislpay: block;
  }*/
  #sidebar {
    -webkit-transition: all .15s ease-out;
         -o-transition: all .15s ease-out;
            transition: all .15s ease-out;

    z-index: 1040;
  }
  .sidebar-offcanvas {
    position: absolute;
    width: 80%;
    left: -80%;
  }
  .sidebar-offcanvas.active {
    left: 0;
    -webkit-box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.75);
       -moz-box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.75);
            box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.75);
  }
  .navbar-toggle {
    display: block;
  }
  #topnav {
    border-radius: 0px;
    background-color: #334488;
    color: white;
  }
  #topnav .icon-bar {
    background-color: white;
  }
  #topnav .glyphicon-search {
    color: white;
  }
  #topnav .glyphicon-search:hover {
    color: #f90;
  }
  #topnav .navbar-toggle:hover .icon-bar {
    background-color: #f90;
  }
  #topnav .message-envelope-wrapper:hover {
    background-color: #f90;
    color:black;
  }
  #topnav .message_envelope {
    color:white;
  }
  #topnav .message_envelope.messages {
    color:red;
  }
  #topnav .message_envelope.messages:hover {
    color:red;
  }
  #topnav .popover-content {
    color: black;
  }

  #sidebar {
    margin-top: -20px;
    border-right: 1px solid #348;
  }

  #sidebar .panel {
    margin-top: 0;
    border:none;
    border-radius: 0px;
  }
  #sidebar .panel-heading {
    color:white;
    background-color: #334488;
    border-radius: 0px;
  }
  #sidebar .panel-title a {
    display: block;
  }
  #sidebar .panel .list-group-item {
    padding-left: 30px;
  }
  #sidebar .list-group-item {
    border-radius: 0;
    border:none;
  }
  #sidebar .list-group-item:hover {
    color:#aa6633;
    text-decoration: underline;
    cursor: hand;
  }

  .navbar-fixed-bottom {
    border-top: 1px solid #348;
  }
  .navbar-fixed-bottom .btn {
    background-color: white;
    color: #348;
    font-weight: 200;
  }
  .modal-max-width {
    width: 90%;
  }

  #mini-qs input {
    height: 35px;
    border: none;
  }
  #mini-qs .col-xs-11 {
    padding: 0 3px;
  }
  #mini-qs .col-xs-1 {
    padding: 10px 0;
  }

}

@media screen and (min-width: 768px) {
  #sidebar {
    width: 30%;
  }
}