div.search_result_wrapper {
  div.search_result_table_wrapper {
    width: 100%;
    position: relative;
    overflow-x: auto;
  }
  #search_loading {
    text-align:center;
    padding: 2em;
  }
  .bulk_selection_controls {
    margin-bottom: .5em;
    text-align: center;
    .bulk_selection_message {
      font-weight:bold;
      font-size:110%;
      margin-bottom:0.25em;
    }
  }
  #search_result {
      width: 99%;
    #search_header {
    }
    margin-top: 1em;
    table.search_result_table {
      width: 100%;
      td.action_cell {
        span {
          padding: 0 0.25em;
        }
      }
      td.min_width {
        width: 0%;
      }
    }
    #page_nav {
      float:right;
      text-align: right;
    }
    #search_actions {
      float:left;
    }
  }
}
