<tr class="hover tf_row">
    <td><%= f.text_field :hts_1%></td>
    <td><%= f.text_field :hts_2%></td>
    <td><%= f.text_field :hts_3%></td>
    <td><%= f.hidden_field :_destroy, "class" => "tf_destroy"%>
    <a href="#" class="tf_remove">Remove</a>
    </td>
</tr>