<%content_for :javascript do%>
  $('document').ready(function() {
    $('div[ng-controller]').scope().loadObject('products', <%=@validation_object.id%>);
  });
<%end%>
<%content_for :action_bar do%>
  <button class='btn_link' link_to='<%=product_path(@validation_object)%>'>Product</button>
<%end%>

<%= render 'shared/validation_results' %>