body {
  background-color: white;
}
#corner_links {
  display: none;
}
.ui-button {
  border: 1px solid black;
  background-color: white;
  background-image: none;
}
.classification_detail_box {
  display: block;
}
.classification_shrink {
  display: block;
}
#linkbar {
  display: none;
}
