<div id="email" ng-hide="!businessRule.notification_type">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>
        Email Composition
      </h3>
      <br><br>
    </div>
  </div>
  <div class="container">
    <div class="row form-group">
      <div class="col-md-12">
        <div class="row form-group" ng-show="businessRule.mailing_lists.length">
          <div class="col-md-2" style="font-weight:bold;">Distribution List</div>
          <div class="col-md-4">
            <select ng-options="mailing_list.id as mailing_list.label for mailing_list in businessRule.mailing_lists" class="form-control" ng-model="businessRule.mailing_list_id">
              <option value=""></option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-2" style="font-weight:bold;">Notification recipients</div>
      <div class="col-md-4"><textarea class="form-control" ng-model="businessRule.notification_recipients" rows="3" placeholder="Separate addresses with commas"></textarea></div>
    </div>

    <div class="row form-group">
      <div class="col-md-2" style="font-weight:bold;">CC notification recipients</div>
      <div class="col-md-4"><textarea class="form-control" ng-model="businessRule.cc_notification_recipients" rows="3" placeholder="Separate addresses with commas"></textarea></div>
    </div>

    <div class="row form-group">
      <div class="col-md-2" style="font-weight:bold;">BCC notification recipients</div>
      <div class="col-md-4"><textarea class="form-control" ng-model="businessRule.bcc_notification_recipients" rows="3" placeholder="Separate addresses with commas"></textarea></div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row form-group">
      <div class="col-md-12">
        <div class="row form-group">
          <div class="col-md-4">
            <span style="font-weight:bold;">Suppress pass notification&nbsp;</span> <input type="checkbox" ng-model="businessRule.suppress_pass_notice"/>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row form-group">
          <div class="col-md-2" style="font-weight:bold;">Pass subject</div>
          <div class="col-md-4"><input class="form-control" ng-model="businessRule.subject_pass" placeholder="Optional"></input></div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row form-group">
          <div class="col-md-2" style="font-weight:bold;">Pass message</div>
          <div class="col-md-4"><input class="form-control" ng-model="businessRule.message_pass" placeholder="Optional"></input></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row form-group">
      <div class="col-md-12">
        <div class="row form-group">
          <div class="col-md-4">
            <span style="font-weight:bold;">Suppress review/fail notification&nbsp;</span> <input type="checkbox" ng-model="businessRule.suppress_review_fail_notice"/>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row form-group">
          <div class="col-md-2" style="font-weight:bold;">Review/Fail subject</div>
          <div class="col-md-4"><input class="form-control" ng-model="businessRule.subject_review_fail" placeholder="Optional"></input></div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row form-group">
          <div class="col-md-2" style="font-weight:bold;">Review/Fail message</div>
          <div class="col-md-4"><input class="form-control" ng-model="businessRule.message_review_fail" placeholder="Optional"></input></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row form-group">
      <div class="col-md-12">
        <div class="row form-group">
          <div class="col-md-4">
            <span style="font-weight:bold;">Suppress skipped notification&nbsp;</span> <input type="checkbox" ng-model="businessRule.suppress_skipped_notice"/>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row form-group">
          <div class="col-md-2" style="font-weight:bold;">Skipped subject</div>
          <div class="col-md-4"><input class="form-control" ng-model="businessRule.subject_skipped" placeholder="Optional"></input></div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row form-group">
          <div class="col-md-2" style="font-weight:bold;">Skipped message</div>
          <div class="col-md-4"><input class="form-control" ng-model="businessRule.message_skipped" placeholder="Optional"></input></div>
        </div>
      </div>
    </div>
  </div>
</div>
