<%-content_for :action_bar do-%>
  <button class="btn_link btn btn-default" link_to="<%=business_validation_template_path(@bvr.business_validation_template) %>">Back</button>
<%-end-%>

<div class="row" id="rule-criteria-submit-success" style="display:none;">
  <div class="col-md-6 col-md-offset-3 ">
    <div class="alert alert-info">
      <p><b>Notice:</b> Criteria updated successfully.</p>
    </div>
  </div>
</div>

<div class="row" id="rule-criteria-submit-failure" style="display:none;">
  <div class="col-md-6 col-md-offset-3 ">
    <div class="alert alert-danger">
      <p><b>Notice:</b> Criteria could not be saved.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3" align="center">
    <h2>
      Add Criterion to Rule <%= '"' + @bvr.name + '"' if @bvr.name %>
    </h2>
  </div>
</div>

<div id='ng-app' ng-app='BusinessRuleApp'>
  <div ng-controller='BusinessRuleController' ng-init="setId(<%= @bvr.id %>)">

    <div chain-action-bar>
      <button class="btn btn-default" ng-click="backButton()">Back</button>
      <button class="btn btn-default" ng-click="updateBusinessRule()">Save</button>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div chain-search-criteria bound-item="businessRule" model-fields="model_fields">
      </div>
    </div>

  </div>
</div>