<% content_for :javascript do -%>
$(function() {
  $("#frm_run").submit(function() {
    var r = true;
    if($("input[name='start_date']").val().length < 10) {
      r = false;
    }
    if($("input[name='end_date']").val().length < 10) {
      r = false;
    }
    if(!r) {
      window.alert("You must enter both dates.");
      return false;
    }
  });
});
<%end-%>
<% content_for :action_bar do %>
  <button class="form_to" form_id="frm_run">Run Report</button>
  <button class="link_btn" link_to="<%=request.referrer%>">Back</button>
<%end%>
<h2>KitchenCraft Billing Report</h2>
<%=form_tag reports_run_kitchencraft_billing_path, :id=>'frm_run' do -%>
  Release Date on or after <%=text_field_tag :start_date, (Time.zone.today - 1.month).at_beginning_of_month.strftime("%Y-%m-%d"), :class=>'isdate', :size=>10%> and prior to
  <%=text_field_tag :end_date, Time.zone.today.at_beginning_of_month.strftime("%Y-%m-%d"), :class=>'isdate', :size=>10%>.<br />
<%end%>