<% content_for :action_bar do %>
  <button class="form_to" form_id="frm_run">Run Report</button>
  <button class="link_btn" link_to="<%=request.referrer%>">Back</button>
<%end%>
<h2>Product Sync Problems</h2>
<p>This report doesn't have any parameters to set. Click the Run Report button to continue.</p>
<%=form_tag reports_run_product_sync_problems_path, :id=>'frm_run' do -%>

<%end%>
