<h1>Report Running</h1>
<p>Your report has more than 100 results, so it's running in the background.</p>
<p>You'll receive a system message when it is complete.</p>
<p>You'll see <%=image_tag('envelope.png',:style=>'display:inline;')%> next to your name at the top of the screen when you have a new system message.</p>
