<% content_for :action_bar do %>
  <button class="form_to" form_id="frm_run">Run Report</button>
  <button class="btn_link" link_to="<%=request.referrer%>">Back</button>
<%end%>
<h2>Company Year Over Year Report</h2><br>
<%=form_tag reports_run_company_year_over_year_report_path, :id=>'frm_run' do -%>
  <div class="container">
    <%if current_user.admin?%>
      <div>
        <span>
          <%=field_row "Years to Compare", select_tag(:year_1, options_for_select((2015..Time.now.year).map {|m| [m, m]}, Time.now.year - 1))%>
        </span>
        <span>and</span>
        <span>
          <%=field_row "", select_tag(:year_2, options_for_select((2015..Time.now.year).map {|m| [m, m]}, Time.now.year))%>
        </span>
      </div>
    <%end%>
  </div>
<%end%>
