<% content_for :action_bar do %>
  <button class="form_to" form_id="frm_run">Run Report</button>
  <button class="btn_link" link_to="<%=request.referrer%>">Back</button>
<%end%>
<%=form_tag reports_run_daily_first_sale_exception_report_path, :id=>'frm_run' do -%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Daily First Sale Exception Report</h2>
      This report does not have parameters.  Click Run Report below.
    </div>
  </div>
</div>
<%end%>
</div>