<% content_for :action_bar do %>
  <button class="form_to" form_id="frm_run">Run Report</button>
  <button class="btn_link" link_to="<%=request.referrer%>">Back</button>
<%end%>
<h2>Drawback Exports Without Imports</h2>
<%=form_tag reports_run_drawback_exports_without_imports_path, :id=>'frm_run' do -%>
  <table>
    <%=field_row "Start Date", text_field_tag(:start_date,nil,{:class=>'isdate'})%>
    <%=field_row "End Date", text_field_tag(:end_date,nil,{:class=>'isdate'})%>
  </table>
<%end%>
