<% content_for :javascript do -%>
$(function() {
  $("#frm_run").submit(function() {
    if($("input[name='start_date']").val().length < 10) {
      window.alert("You must enter a Deferred Date.");
      return false
    }
  });
});
<%end-%>
<% content_for :action_bar do %>
  <button class="form_to" form_id="frm_run">Run Report</button>
  <button class="btn_link" link_to="<%=request.referrer%>">Back</button>
<%end%>
<h2>Deferred Revenue Report</h2>
<h4>Select the date you wish to display the deferred revenue from.</h4>
<p>The report will display all the invoices and amounts that were deferred on the date that you enter below.</p>
<%=form_tag reports_run_deferred_revenue_path, :id=>'frm_run', class: "form-inline", role: "form" do -%>
  <div class="form-group">
    <label for="start_date" class="control-label">Deferred Date </label>
    <%=text_field_tag :start_date,"", :class=>'form-control isdate'%> 
  </div>
<%end%>