<% content_for :action_bar do %>
  <button class="form_to" form_id="frm_run">Run Report</button>
  <button class="btn_link" link_to="<%=request.referrer%>">Back</button>
<%end%>
<h2>SG Duty Due Report</h2>
<p>Choose a company and click the Run Report button to continue.</p>
<%=form_tag reports_run_sg_duty_due_report_path, :id=>'frm_run' do %>
  <div class="col-md-3">
    <%= select_tag 'customer_number', options_from_collection_for_select(@choices, 'alliance_customer_number', 'name'), {class: "form-control", id: "company-select"} %>
  </div>
<% end %>
