<% content_for :javascript do -%>
$(function() {
  $("#frm_run").submit(function() {
    var r = true;
    if($("input[name='start_date']").val().length < 10) {
      r = false;
    }
    if($("input[name='end_date']").val().length < 10) {
      r = false;
    }
    if(!r) {
      window.alert("You must enter both dates.");
      return false;
    }
  });
});
<%end-%>
<% content_for :action_bar do %>
  <button class="form_to" form_id="frm_run">Run Report</button>
  <button class="btn_link" link_to="<%=request.referrer%>">Back</button>
<%end%>
<h2>J Crew Billing Report</h2>
<%=form_tag reports_run_jcrew_billing_path, :id=>'frm_run' do -%>
<%- default_date = (Time.zone.now.to_date - 1.week) -%>
<div class="container">
  <div class="row" style="line-height: 2.5">
    <div class="col-md-2"><label class="control-label" for="start_date">Invoice Date on or after</label></div>
    <div class="col-md-2"><%=text_field_tag :start_date, default_date.at_beginning_of_week(:sunday).strftime("%Y-%m-%d"), :class=>'form-control isdate'%></div>
    <div class="col-md-1"><label class="control-label" for="end_date">thru</label></div>
    <div class="col-md-2"><%=text_field_tag :end_date, default_date.at_end_of_week(:sunday).strftime("%Y-%m-%d"), :class=>'form-control isdate' %></div>
  </div>
</div>
<%end%>
</div>