<span class='help_title'>How do I make my own searches?</span>
<div>
  <%=image_tag "help/search_full_screen.png", :style=>"width:600px;"%>
</div>
<ul class='help_step_list'>
<li>On the top button bar, click on the name of the item you want to search.
  <br />
  <%=help_image "search_product.png"%>
</li>
<li>The Search Setup dropdown allows you to pick the search you want to run or change.  Click the <b>Setup</b> link to edit your search.
  <br />
  <%=help_image "search_select.png"%>
</li>
<li>The setup box has tabs that you can use to setup every aspect of your search:
  <ul>
    <li><b>Setup:</b> Set the name and the file type for downloads (CSV or Excel)</li>
    <li><b>Parameters:</b> Add a parameter to limit the results you get back.</li>
    <li><b>Sorts:</b> Move a sort from the left column to the right using the <em>Add</em> link to set to order that your results show up in the list.</li>
    <li><b>Columns:</b> Move a column from the left column to the right using the <em>Add</em> link to set the columns that will show up in the list.</li>
    <li><b>Schedules:</b> Add a schedule to have the search emailed to you whenever you want.</li>
  </ul>
</li>
<li>Use the <b>Save</b> button to update the search.  (You don't need to click save for each tab, only when you're done with all of them.)</li>
<li>Use the <b>Copy/New</b> button to create a new search based on the current one.</li>
<li>Use the <b>Delete</b> button to get rid of the search you're working on. (If you delete all of your searches, the system will make a new &quot;Default&quot; search for you.)</li>
</ul>
