<h1>Help</h1>
<ul id='help_links_list'>
<li><%=help_link "How do I change my password?", "password" %></li>
<li><%=help_link "How do I create a new Order, Shipment, Product, Sale, or Delivery?", "new_item" %></li>
<li><%=help_link "How do I make my own searches?", "advanced_search"%></li>
</ul>

<%if current_user.admin?  && false%>
<h2>For Administrators</h2>
<%end%>
