<span class='help_title'>How do I create a new Order, Shipment, Product, Sale, or Delivery?</span>

<ul class='help_step_list'>
<li>On the top button bar, click on the + button to the <em>right</em> of the name of the item you want to create.
  <br />
  <%=help_image "new_order.png" %>
</li>
<li>Fill in the fields on the next screen and click the <b>Save</b> button.</li>
</ul>
