<span class='help_title'>How do I change my password?</span>

<ul class='help_step_list'>
<li><b>Click your name</b> at the top right corner of the screen.<br />
  <%=help_image "name_click.png" %>
</li>
<li>Click the <b>Edit</b> button<br />
  <%=help_image "edit_button.png" %>
</li>
<li>Type your <em>new</em> password into the <b>Password</b> and <b>Password Confirmation</b> fields, then click <b>Update User</b><br />
  <%=help_image "password_change.png" %>
</ul>
