<%= render :partial => 'shared/header' %>
    <div class='container-fluid'>
      <div class='row-fluid'>
        <div class='span10'>
          <%=yield%>
        </div>
        <div id='two_col_action' class='span2 action_container'>
          <%=yield :action_bar%>
        </div>
      </div>
    </div>
  </body>
</html>
