<%= render :partial => 'shared/header' %>
    <div id='main_cont'>
      <div id='two_col_content'>
        <%=yield%>
      </div>
      <div id='two_col_action' class='action_container'>
        <%=yield :action_bar%>
      </div>
    </div>
    <div id="footer">
    &nbsp;
    </div>
  </body>
</html>
