<%= render :partial => 'shared/header' %>
<div class="colmask rightmenu">
  <div class="colleft"> 
  	<div class="col1"> 
  		<!-- Column 1 start --> 
  		<%= yield %>
  		<!-- Column 1 end --> 
  	</div> 
  	<div class="col2">
  	  <%= yield :action_bar %>
  	</div>
	</div>
</div> 
			
<div id="footer">
&nbsp;
</div>
</body>
</html>
