<%= render :partial => 'shared/header' %>
<table id='two_col_tbl'>
  <tr><td id='two_col_left'><%=yield%></td><td id='two_col_right'%><%=yield :action_bar%></td>
</table>
<div id="footer">
&nbsp;
</div>
</body>
</html>
