<%= render :partial => 'shared/header', :locals => {:no_buttons=>true} %>
<div class="colmask rightmenu">
  <div class="colleft"> 
    <div class="col1" style='width:97%;'> 
      <!-- Column 1 start --> 
      <%= yield %>
      <!-- Column 1 end --> 
    </div> 
  </div>
</div> 
      
<div id="footer">
&nbsp;
</div>
</body>
</html>
