<%= render :partial => 'shared/header' %>
    <div class='container-fluid'>
      <div class='row-fluid'>
        <div class='span12'>
          <%= yield -%>
        </div>
      </div>
    </div>
    <div>
      <%= yield :action_bar -%>
    </div>
  </body>
</html>
